<div class='progress-msg'>Wed, 30 Oct 2024 15:45:13 +0000</div>
<div class='progress-msg'>[15:45:13] Composing titles...</div>
<div class='progress-msg'>[15:45:13] Composing excerpts...</div>
<div class='progress-msg'>[15:45:13] Composing duplicate indicators...</div>
<div class='progress-msg'>[15:45:13] Composing page templates...</div>
<div class='progress-msg'>[15:45:13] Composing page parent...</div>
<div class='progress-msg'>[15:45:13] Composing authors...</div>
<div class='progress-msg'>[15:45:13] Composing slugs...</div>
<div class='progress-msg'>[15:45:13] Composing menu order...</div>
<div class='progress-msg'>[15:45:13] Composing contents...</div>
<div class='progress-msg'>[15:45:13] Composing dates...</div>
<div class='progress-msg'>[15:45:13] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[15:45:13] Composing custom parameters...</div>
<div class='progress-msg'>[15:45:13] Composing URLs for images...</div>
<div class='progress-msg'>[15:45:13] Composing URLs for attachments files...</div>
<div class='progress-msg'>[15:45:13] Composing post comments...</div>
<div class='progress-msg'>[15:45:13] Composing unique keys...</div>
<div class='progress-msg'>[15:45:13] Processing posts...</div>
<div class='progress-msg'>[15:45:13] Data parsing via add-ons...</div>
<div class='progress-msg'>[15:45:13] ---</div>
<div class='progress-msg'>[15:45:13] Record #1</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:13] Combine all data for post `Ofertas de pasajes de micro a san juan`...</div>
<div class='progress-msg'>[15:45:13] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a san juan`...</div>
<div class='progress-msg'>[15:45:13] Duplicate post wasn't found with unique key `Ofertas de pasajes de micro a san juan`...</div>
<div class='progress-msg'>[15:45:13] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a san juan`</div>
<div class='progress-msg'>[15:45:13] <b>CREATING</b> `Ofertas de pasajes de micro a san juan` `Destino`</div>
<div class='progress-msg'>[15:45:13] Associate post `Ofertas de pasajes de micro a san juan` with current import ...</div>
<div class='progress-msg'>[15:45:13] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo` will be updated with value `Ofertas de pasajes de micro a san juan` for post `Ofertas de pasajes de micro a san juan` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo_en_negrita` will be updated with value `San Juan` for post `Ofertas de pasajes de micro a san juan` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Ofertas de pasajes de micro a san juan` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `nivel_de_pagina` will be updated with value `` for post `Ofertas de pasajes de micro a san juan` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:13] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:13] - Creating parent Destino ubicaciones `San Juan` ...</div>
<div class='progress-msg'>[15:45:13] <b>CREATED</b> `Ofertas de pasajes de micro a san juan` `Destino` (ID: 1608)</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:13] ---</div>
<div class='progress-msg'>[15:45:13] Record #2</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:13] Combine all data for post `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:45:13] Find corresponding article among previously imported for post `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:45:13] Duplicate post wasn't found with unique key `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:45:13] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Mendoza`</div>
<div class='progress-msg'>[15:45:13] <b>CREATING</b> `Pasajes de San Juan a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:45:13] Associate post `Pasajes de San Juan a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:45:13] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Mendoza` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:13] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:13] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:13] <b>CREATED</b> `Pasajes de San Juan a Mendoza` `Destino` (ID: 1609)</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:13] ---</div>
<div class='progress-msg'>[15:45:13] Record #3</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:13] Combine all data for post `Pasajes de San Juan a Buenos Aires`...</div>
<div class='progress-msg'>[15:45:13] Find corresponding article among previously imported for post `Pasajes de San Juan a Buenos Aires`...</div>
<div class='progress-msg'>[15:45:13] Duplicate post wasn't found with unique key `Pasajes de San Juan a Buenos Aires`...</div>
<div class='progress-msg'>[15:45:13] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Buenos Aires`</div>
<div class='progress-msg'>[15:45:13] <b>CREATING</b> `Pasajes de San Juan a Buenos Aires` `Destino`</div>
<div class='progress-msg'>[15:45:13] Associate post `Pasajes de San Juan a Buenos Aires` with current import ...</div>
<div class='progress-msg'>[15:45:13] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Buenos Aires` for post `Pasajes de San Juan a Buenos Aires` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Buenos Aires` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Buenos Aires` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:13] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Buenos Aires` ...</div>
<div class='progress-msg'>[15:45:13] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:13] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:13] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:13] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:13] <b>CREATED</b> `Pasajes de San Juan a Buenos Aires` `Destino` (ID: 1610)</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:13] ---</div>
<div class='progress-msg'>[15:45:13] Record #4</div>
<div class='progress-msg'>[15:45:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:13] Combine all data for post `Pasajes de San Juan a Córdoba`...</div>
<div class='progress-msg'>[15:45:13] Find corresponding article among previously imported for post `Pasajes de San Juan a Córdoba`...</div>
<div class='progress-msg'>[15:45:13] Duplicate post wasn't found with unique key `Pasajes de San Juan a Córdoba`...</div>
<div class='progress-msg'>[15:45:13] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Córdoba`</div>
<div class='progress-msg'>[15:45:13] <b>CREATING</b> `Pasajes de San Juan a Córdoba` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Córdoba` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Córdoba` for post `Pasajes de San Juan a Córdoba` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Córdoba` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Córdoba` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Córdoba` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Córdoba` `Destino` (ID: 1611)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #5</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a San Luis`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a San Luis`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a San Luis`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a San Luis`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a San Luis` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a San Luis` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a San Luis` for post `Pasajes de San Juan a San Luis` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a San Luis` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a San Luis` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a San Luis` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a San Luis` `Destino` (ID: 1612)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #6</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Mar del Plata`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Mar del Plata`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Mar del Plata`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Mar del Plata`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Mar del Plata` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Mar del Plata` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Mar del Plata` for post `Pasajes de San Juan a Mar del Plata` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Mar del Plata` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Mar del Plata` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Mar del Plata` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Mar del Plata` `Destino` (ID: 1613)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #7</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Mendoza a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Mendoza a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Mendoza a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Mendoza a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Mendoza a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Mendoza a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Mendoza a San Juan` for post `Pasajes de Mendoza a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Mendoza a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Mendoza a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Mendoza a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Mendoza a San Juan` `Destino` (ID: 1614)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #8</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Buenos Aires a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Buenos Aires a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Buenos Aires a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Buenos Aires a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Buenos Aires a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Buenos Aires a San Juan` for post `Pasajes de Buenos Aires a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Buenos Aires a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Buenos Aires a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Buenos Aires a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Buenos Aires a San Juan` `Destino` (ID: 1615)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #9</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Córdoba a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Córdoba a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Córdoba a San Juan` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Córdoba a San Juan` `Destino` (ID: 1616)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #10</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Luis a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Luis a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Luis a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Luis a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Luis a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Luis a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Luis a San Juan` for post `Pasajes de San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Luis a San Juan` `Destino` (ID: 1617)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #11</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Mar del Plata a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Mar del Plata a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Mar del Plata a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Mar del Plata a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Mar del Plata a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Mar del Plata a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Mar del Plata a San Juan` for post `Pasajes de Mar del Plata a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Mar del Plata a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Mar del Plata a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Mar del Plata a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Mar del Plata a San Juan` `Destino` (ID: 1618)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #12</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Villa Aberastain`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Villa Aberastain`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Villa Aberastain`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Villa Aberastain`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Villa Aberastain` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Villa Aberastain` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Villa Aberastain` for post `Pasajes de San Juan a Villa Aberastain` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Villa Aberastain` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Villa Aberastain` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Villa Aberastain` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Villa Aberastain` `Destino` (ID: 1619)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #13</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Villa Krause`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Villa Krause`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Villa Krause`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Villa Krause`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Villa Krause` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Villa Krause` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Villa Krause` for post `Pasajes de San Juan a Villa Krause` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Villa Krause` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Villa Krause` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Villa Krause` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Villa Krause` `Destino` (ID: 1620)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #14</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Rivadavia`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Rivadavia`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Rivadavia`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Rivadavia`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Rivadavia` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Rivadavia` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Rivadavia` for post `Pasajes de San Juan a Rivadavia` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Rivadavia` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Rivadavia` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Rivadavia` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Rivadavia` `Destino` (ID: 1621)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #15</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Santa Lucía`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Santa Lucía`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Santa Lucía`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Santa Lucía`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Santa Lucía` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Santa Lucía` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Santa Lucía` for post `Pasajes de San Juan a Santa Lucía` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Santa Lucía` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Santa Lucía` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Santa Lucía` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Santa Lucía` `Destino` (ID: 1622)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #16</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de San Juan a Chimbas`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de San Juan a Chimbas`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de San Juan a Chimbas`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Chimbas`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de San Juan a Chimbas` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de San Juan a Chimbas` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Chimbas` for post `Pasajes de San Juan a Chimbas` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Chimbas` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Chimbas` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Chimbas` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de San Juan a Chimbas` `Destino` (ID: 1623)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #17</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Villa Aberastain a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Villa Aberastain a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Villa Aberastain a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Villa Aberastain a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Villa Aberastain a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Villa Aberastain a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Villa Aberastain a San Juan` for post `Pasajes de Villa Aberastain a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Villa Aberastain a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Villa Aberastain a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Villa Aberastain a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Villa Aberastain a San Juan` `Destino` (ID: 1624)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #18</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Villa Krause a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Villa Krause a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Villa Krause a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Villa Krause a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Villa Krause a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Villa Krause a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Villa Krause a San Juan` for post `Pasajes de Villa Krause a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Villa Krause a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Villa Krause a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Villa Krause a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Villa Krause a San Juan` `Destino` (ID: 1625)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #19</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Rivadavia a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Rivadavia a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Rivadavia a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Rivadavia a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Rivadavia a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Rivadavia a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Rivadavia a San Juan` for post `Pasajes de Rivadavia a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Rivadavia a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Rivadavia a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Rivadavia a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Rivadavia a San Juan` `Destino` (ID: 1626)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:14] ---</div>
<div class='progress-msg'>[15:45:14] Record #20</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:14] Combine all data for post `Pasajes de Santa Lucía a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Find corresponding article among previously imported for post `Pasajes de Santa Lucía a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Duplicate post wasn't found with unique key `Pasajes de Santa Lucía a San Juan`...</div>
<div class='progress-msg'>[15:45:14] Applying filter `pmxi_article_data` for `Pasajes de Santa Lucía a San Juan`</div>
<div class='progress-msg'>[15:45:14] <b>CREATING</b> `Pasajes de Santa Lucía a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:14] Associate post `Pasajes de Santa Lucía a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:14] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo` will be updated with value `Pasajes de Santa Lucía a San Juan` for post `Pasajes de Santa Lucía a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Santa Lucía a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Santa Lucía a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:14] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Santa Lucía a San Juan` ...</div>
<div class='progress-msg'>[15:45:14] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:14] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:14] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:14] <b>CREATED</b> `Pasajes de Santa Lucía a San Juan` `Destino` (ID: 1627)</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:16] ---</div>
<div class='progress-msg'>[15:45:16] Record #21</div>
<div class='progress-msg'>[15:45:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:45:16] Combine all data for post `Pasajes de Chimbas a San Juan`...</div>
<div class='progress-msg'>[15:45:16] Find corresponding article among previously imported for post `Pasajes de Chimbas a San Juan`...</div>
<div class='progress-msg'>[15:45:16] Duplicate post wasn't found with unique key `Pasajes de Chimbas a San Juan`...</div>
<div class='progress-msg'>[15:45:16] Applying filter `pmxi_article_data` for `Pasajes de Chimbas a San Juan`</div>
<div class='progress-msg'>[15:45:16] <b>CREATING</b> `Pasajes de Chimbas a San Juan` `Destino`</div>
<div class='progress-msg'>[15:45:16] Associate post `Pasajes de Chimbas a San Juan` with current import ...</div>
<div class='progress-msg'>[15:45:16] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:16] - Custom field `titulo` will be updated with value `Pasajes de Chimbas a San Juan` for post `Pasajes de Chimbas a San Juan` ...</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:16] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Chimbas a San Juan` ...</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:16] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Chimbas a San Juan` ...</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:45:16] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Chimbas a San Juan` ...</div>
<div class='progress-msg'>[15:45:16] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:45:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:45:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:45:16] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:45:16] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:45:16] <b>CREATED</b> `Pasajes de Chimbas a San Juan` `Destino` (ID: 1628)</div>
<div class='progress-msg'>[15:45:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:45:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:45:16] Cleaning temporary data...</div>
