<div class='progress-msg'>Wed, 30 Oct 2024 17:16:23 +0000</div>
<div class='progress-msg'>[17:16:23] Composing titles...</div>
<div class='progress-msg'>[17:16:23] Composing excerpts...</div>
<div class='progress-msg'>[17:16:23] Composing duplicate indicators...</div>
<div class='progress-msg'>[17:16:23] Composing page templates...</div>
<div class='progress-msg'>[17:16:23] Composing page parent...</div>
<div class='progress-msg'>[17:16:23] Composing authors...</div>
<div class='progress-msg'>[17:16:23] Composing slugs...</div>
<div class='progress-msg'>[17:16:23] Composing menu order...</div>
<div class='progress-msg'>[17:16:23] Composing contents...</div>
<div class='progress-msg'>[17:16:23] Composing dates...</div>
<div class='progress-msg'>[17:16:23] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[17:16:23] Composing custom parameters...</div>
<div class='progress-msg'>[17:16:23] Composing URLs for images...</div>
<div class='progress-msg'>[17:16:23] Composing URLs for attachments files...</div>
<div class='progress-msg'>[17:16:23] Composing post comments...</div>
<div class='progress-msg'>[17:16:23] Composing unique keys...</div>
<div class='progress-msg'>[17:16:23] Processing posts...</div>
<div class='progress-msg'>[17:16:23] Data parsing via add-ons...</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #1</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Ofertas de pasajes de micro a la rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a la rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Ofertas de pasajes de micro a la rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a la rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Ofertas de pasajes de micro a la rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Ofertas de pasajes de micro a la rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `Encontrá pasajes de micro a` for post `Ofertas de pasajes de micro a la rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `La Rioja` for post `Ofertas de pasajes de micro a la rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Ofertas de pasajes de micro a la rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `` for post `Ofertas de pasajes de micro a la rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - Creating parent Destino ubicaciones `La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Ofertas de pasajes de micro a la rioja` `Destino` (ID: 1651)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #2</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de La Rioja a Córdoba`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de La Rioja a Córdoba`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Córdoba`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Córdoba`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de La Rioja a Córdoba` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de La Rioja a Córdoba` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Córdoba` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Córdoba` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Córdoba` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Córdoba` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de La Rioja a Córdoba` `Destino` (ID: 1652)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #3</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de La Rioja a Buenos Aires`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de La Rioja a Buenos Aires`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Buenos Aires`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Buenos Aires`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de La Rioja a Buenos Aires` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de La Rioja a Buenos Aires` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Buenos Aires` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Buenos Aires` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Buenos Aires` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Buenos Aires` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de La Rioja a Buenos Aires` `Destino` (ID: 1653)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #4</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de La Rioja a San Luis`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de La Rioja a San Luis`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de La Rioja a San Luis`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a San Luis`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de La Rioja a San Luis` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de La Rioja a San Luis` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a San Luis` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a San Luis` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a San Luis` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a San Luis` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de La Rioja a San Luis` `Destino` (ID: 1654)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #5</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de La Rioja a Mendoza`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de La Rioja a Mendoza`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Mendoza`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Mendoza`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de La Rioja a Mendoza` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de La Rioja a Mendoza` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Mendoza` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Mendoza` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Mendoza` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Mendoza` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de La Rioja a Mendoza` `Destino` (ID: 1655)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #6</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de La Rioja a San Juan`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de La Rioja a San Juan`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de La Rioja a San Juan`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a San Juan`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de La Rioja a San Juan` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de La Rioja a San Juan` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a San Juan` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a San Juan` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a San Juan` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a San Juan` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de La Rioja a San Juan` `Destino` (ID: 1656)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #7</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de Córdoba a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de Córdoba a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de Córdoba a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a La Rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de Córdoba a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de Córdoba a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de Córdoba a La Rioja` `Destino` (ID: 1657)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #8</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de Buenos Aires a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de Buenos Aires a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de Buenos Aires a La Rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de Buenos Aires a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de Buenos Aires a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de Buenos Aires a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Buenos Aires a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Buenos Aires a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Buenos Aires a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de Buenos Aires a La Rioja` `Destino` (ID: 1658)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #9</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de San Luis a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de San Luis a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de San Luis a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de San Luis a La Rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de San Luis a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de San Luis a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Luis a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Luis a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Luis a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Luis a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de San Luis a La Rioja` `Destino` (ID: 1659)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #10</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de Mendoza a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de Mendoza a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de Mendoza a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de Mendoza a La Rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de Mendoza a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de Mendoza a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de Mendoza a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Mendoza a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Mendoza a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Mendoza a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de Mendoza a La Rioja` `Destino` (ID: 1660)</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:23] ---</div>
<div class='progress-msg'>[17:16:23] Record #11</div>
<div class='progress-msg'>[17:16:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:23] Combine all data for post `Pasajes de San Juan a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Find corresponding article among previously imported for post `Pasajes de San Juan a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Duplicate post wasn't found with unique key `Pasajes de San Juan a La Rioja`...</div>
<div class='progress-msg'>[17:16:23] Applying filter `pmxi_article_data` for `Pasajes de San Juan a La Rioja`</div>
<div class='progress-msg'>[17:16:23] <b>CREATING</b> `Pasajes de San Juan a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:23] Associate post `Pasajes de San Juan a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Juan a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:23] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a La Rioja` ...</div>
<div class='progress-msg'>[17:16:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:23] <b>CREATED</b> `Pasajes de San Juan a La Rioja` `Destino` (ID: 1661)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #12</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de La Rioja a Chilecito`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de La Rioja a Chilecito`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Chilecito`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Chilecito`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de La Rioja a Chilecito` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de La Rioja a Chilecito` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Chilecito` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Chilecito` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Chilecito` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a Chilecito` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de La Rioja a Chilecito` `Destino` (ID: 1662)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #13</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de La Rioja a Salta`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de La Rioja a Salta`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Salta`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Salta`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de La Rioja a Salta` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de La Rioja a Salta` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Salta` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Salta` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Salta` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a Salta` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de La Rioja a Salta` `Destino` (ID: 1663)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #14</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de La Rioja a San Fernando, Catamarca`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de La Rioja a San Fernando, Catamarca`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de La Rioja a San Fernando, Catamarca`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a San Fernando, Catamarca`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de La Rioja a San Fernando, Catamarca` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de La Rioja a San Fernando, Catamarca` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a San Fernando, Catamarca` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a San Fernando, Catamarca` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a San Fernando, Catamarca` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a San Fernando, Catamarca` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de La Rioja a San Fernando, Catamarca` `Destino` (ID: 1664)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #15</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de La Rioja a Chaco`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de La Rioja a Chaco`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Chaco`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Chaco`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de La Rioja a Chaco` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de La Rioja a Chaco` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Chaco` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Chaco` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Chaco` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a Chaco` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de La Rioja a Chaco` `Destino` (ID: 1665)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #16</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de La Rioja a Santiago del Estero`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de La Rioja a Santiago del Estero`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Santiago del Estero`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Santiago del Estero`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de La Rioja a Santiago del Estero` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de La Rioja a Santiago del Estero` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de La Rioja a Santiago del Estero` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Santiago del Estero` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Santiago del Estero` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a Santiago del Estero` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de La Rioja a Santiago del Estero` `Destino` (ID: 1666)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #17</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de Chilecito a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de Chilecito a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de Chilecito a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de Chilecito a La Rioja`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de Chilecito a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de Chilecito a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de Chilecito a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Chilecito a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Chilecito a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Chilecito a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de Chilecito a La Rioja` `Destino` (ID: 1667)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #18</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de Salta a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de Salta a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de Salta a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de Salta a La Rioja`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de Salta a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de Salta a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de Salta a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Salta a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Salta a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Salta a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de Salta a La Rioja` `Destino` (ID: 1668)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #19</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de San Fernando, Catamarca a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de San Fernando, Catamarca a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de San Fernando, Catamarca a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de San Fernando, Catamarca a La Rioja`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de San Fernando, Catamarca a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de San Fernando, Catamarca a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Fernando, Catamarca a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Fernando, Catamarca a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Fernando, Catamarca a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Fernando, Catamarca a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de San Fernando, Catamarca a La Rioja` `Destino` (ID: 1669)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:24] ---</div>
<div class='progress-msg'>[17:16:24] Record #20</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:24] Combine all data for post `Pasajes de Chaco a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Find corresponding article among previously imported for post `Pasajes de Chaco a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Duplicate post wasn't found with unique key `Pasajes de Chaco a La Rioja`...</div>
<div class='progress-msg'>[17:16:24] Applying filter `pmxi_article_data` for `Pasajes de Chaco a La Rioja`</div>
<div class='progress-msg'>[17:16:24] <b>CREATING</b> `Pasajes de Chaco a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:24] Associate post `Pasajes de Chaco a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:24] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo` will be updated with value `` for post `Pasajes de Chaco a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Chaco a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Chaco a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:24] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Chaco a La Rioja` ...</div>
<div class='progress-msg'>[17:16:24] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:24] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:24] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:24] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:24] <b>CREATED</b> `Pasajes de Chaco a La Rioja` `Destino` (ID: 1670)</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:25] ---</div>
<div class='progress-msg'>[17:16:25] Record #21</div>
<div class='progress-msg'>[17:16:25] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[17:16:25] Combine all data for post `Pasajes de Santiago del Estero a La Rioja`...</div>
<div class='progress-msg'>[17:16:25] Find corresponding article among previously imported for post `Pasajes de Santiago del Estero a La Rioja`...</div>
<div class='progress-msg'>[17:16:25] Duplicate post wasn't found with unique key `Pasajes de Santiago del Estero a La Rioja`...</div>
<div class='progress-msg'>[17:16:25] Applying filter `pmxi_article_data` for `Pasajes de Santiago del Estero a La Rioja`</div>
<div class='progress-msg'>[17:16:25] <b>CREATING</b> `Pasajes de Santiago del Estero a La Rioja` `Destino`</div>
<div class='progress-msg'>[17:16:25] Associate post `Pasajes de Santiago del Estero a La Rioja` with current import ...</div>
<div class='progress-msg'>[17:16:25] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:25] - Custom field `titulo` will be updated with value `` for post `Pasajes de Santiago del Estero a La Rioja` ...</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:25] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Santiago del Estero a La Rioja` ...</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:25] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Santiago del Estero a La Rioja` ...</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[17:16:25] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Santiago del Estero a La Rioja` ...</div>
<div class='progress-msg'>[17:16:25] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[17:16:25] <b>IMAGES:</b></div>
<div class='progress-msg'>[17:16:25] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[17:16:25] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[17:16:25] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[17:16:25] <b>CREATED</b> `Pasajes de Santiago del Estero a La Rioja` `Destino` (ID: 1671)</div>
<div class='progress-msg'>[17:16:25] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[17:16:25] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[17:16:25] Cleaning temporary data...</div>
