* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=============================================
=            IMPORT FONTS STYLE           =
=============================================*/
@font-face {
  font-family: "Nexa Heavy";
  src: url("./fonts/NexaHeavy.woff") format("woff"),
    url("./fonts/NexaHeavy.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Regular";
  src: url("./fonts/NexaRegular.woff") format("woff"),
    url("./fonts/NexaRegular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/*=====  END SECTION IMPORT FONTS STYLE    ======*/

/*=============================================
=            SECTION WIDGETS STYLE           =
=============================================*/

#wd_id .widget {
  background: #3c3b3c;
  width: 100%;
  border-radius: 6px;
  position: relative;
}

#wd_id .widget input:disabled {
  background: transparent;
}
#wd_id .tab {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}
#wd_id .title-tab {
  display: none;
}
#wd_id .tablinks {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-bottom: 3px solid #3c3b3c;
  background: rgba(60, 59, 60, 0.23);
  transition: 0.35s all ease-in-out;
  color: #ffffff80;
  position: relative;
}
#wd_id .icon {
  width: 50%;
}
#wd_id .icon-svg {
  width: 18.96px;
  height: 18.52px;
  fill: currentColor;
}
#wd_id .icon-svg-hotel {
  width: 25.31px;
  height: 14.03px;
  fill: currentColor;
}
#wd_id .icon-svg-actividades {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
#wd_id .icon-svg-paquetes {
  width: 20.4px;
  height: 17.45px;
  fill: currentColor;
}

#wd_id .tablinks:first-child,
#wd_id .tablinks:first-child .fadeButton {
  border-top-left-radius: 6px;
}
#wd_id .tab-icon__container {
  position: relative;
}
#wd_id .tablinks span {
  font-family: "Nexa Heavy" !important;
  display: flex;
  height: 14px;
  position: relative;
  font-size: 16px;
  margin-left: 0.5rem;
}

#wd_id .tab-icon {
  display: flex;
  width: 90%;
} 

#wd_id .fadeButton {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(60, 59, 60, 0.23);
  border-bottom: 3px solid rgba(60, 59, 60, 0);
  mix-blend-mode: multiply;
}
/* COLOR ICON HOVER */ 
#wd_id .tablinks:hover {
  color: #b6c62d;
  border-bottom: 3px solid #b9c44c;
}

#wd_id .tablinks.selected .fadeButton,
#wd_id .tablinks:hover .fadeButton {
  z-index: -1;
  background: rgba(60, 59, 60, 0.23);
}
/* COLOR ICON SELECT */
#wd_id .tablinks.selected {
  color: #b6c62d;
  border-bottom: 3px solid #b6c62d;
}

/**
 *
 * TAB CONTENT ---> BUS
 *
 */
 #wd_id .widget label {
  font-size: 12px;
  font-family: "Nexa Heavy" !important;
  color: #7c7b80;
  text-transform: uppercase;
}

#wd_id .widget input {
  border: none;
  font-size: 14px;
  color: #000000;
  outline: none;
  margin-top: 0.4rem;
  width: 100%;
}

#wd_id .widget input::placeholder {
  color: #000000;
  font-size: 14px;
}

#wd_id .tab-info {
  display: none;
}
#wd_id .tab-info.show {
  display: block;
}
#wd_id .tab-content > div {
  width: 100%;
}
#wd_id .tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 117px;
}
#wd_id .tab-content__color {
  color: #b6c62d;
}
#wd_id .buscador {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#wd_id .tab-info #do_search {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 0.36fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

#wd_id .input__group {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #dddddd;

  width: 100%;
}
#wd_id .svg-icon {
  color: #b6c62d;
}
#wd_id .input__container,
#wd_id .autocomplete {
  width: 100%;
}

#wd_id .tab-info .input__group:nth-child(2) .search__inputs:first-child {
  border-right: 1px solid #dddddd;
  width: 50%;
}
#wd_id .tab-info .input__group:nth-child(2) .search__inputs:nth-child(2) {
  width: 50%;
  padding-left: 1rem;
}

#wd_id .d-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 5%;
}
#wd_id .d-arrow-img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#wd_id .d-arrow-line {
  width: 1px;
  height: 24%;
  background: #dddddd;
}
#wd_id .input {
  display: flex;
}
#wd_id .input > a {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wd_id .pasajeros-group .input:first-child a {
  margin-right: 0;
}
#wd_id .tab-info .input__group .search__inputs {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 0.5rem;
  position: relative;
}
#wd_id .tab-info .input__group .search__inputs:first-child {
  padding-left: 1rem;
  width: 47.5%;
}
#wd_id .tab-info .input__group:nth-child(1) .search__inputs:last-child {
  padding-left: 1rem;
  width: 47.5%;
}

/**
 *
 * TAB CONTENT BUS, PASAJEROS STYLE
 *
 */

 #wd_id .destino input::placeholder {
  font-family: "Nexa Regular" !important;
  color: #7c7b80;
}
#wd_id .destino input {
  margin-left: -0.15rem;
  color: #000000;
}

#wd_id .tab-info .input__group .pasajeros {
  border: none !important;
}
#wd_id #pasajeros {
  cursor: pointer;
}
#wd_id .input__group-pasajeros {
  width: 100% !important;
  position: relative;
}

#wd_id .widget-modal {
  position: absolute;
  top: 0;
  right: 0%;
  width: 260px;
  background: #fff;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  top: -1px;
  right: -1px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  transition: 0.5s all ease-in-out;
}
#wd_id .widget-modal-content{
  width: 90%;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

#wd_id .modal-close {
  display: flex;
}
#wd_id .modal-close > svg {
  width: 12px;
  cursor: pointer;
}
#wd_id .widget-modal[open] {
  display: flex;
}
#wd_id .widget-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
#wd_id .widget-modal-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#wd_id .widget-modal-body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#wd_id .modal-item {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
#wd_id .modal-item.habitacion {
  margin-top: 0;
  margin-bottom: -0.7rem;
}
#wd_id .modal-item-text {
  display: flex;
  flex-direction: column;
}
#wd_id .modal-item-text.habitacion {
  color: #b6c62d;
}
#wd_id .item-title {
  font-size: 14px;
  font-family: "Nexa Heavy" !important;
  margin-top: 0.4rem;
}

#wd_id .item-text {
  font-family: "Nexa Regular" !important;
  font-size: 12px;
  color: #7c7b80;
}
#wd_id .modal-item-count {
  height: 100%;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
}
#wd_id .modal-item-count input {
  margin-top: 0;
  width: 32px;
  height: 50%;
  text-align: center;
  font-size: 14px;
  font-family: "Nexa Heavy" !important;
  padding-top: 0rem;
  margin: 10px auto;
}

#wd_id input[type="number"]::-webkit-inner-spin-button,
#wd_id input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#wd_id input[type="number"] {
  -moz-appearance: textfield;
}
#wd_id .modal-value__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

#wd_id .button-min {
  border-right: 1px solid #dddddd;
  cursor: pointer;
}
#wd_id .button-max {
  border-left: 1px solid #dddddd;
  cursor: pointer;
}

#wd_id .button-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wd_id .button-icon > svg {
  width: 12px;
  color: #b6c62d;
}

#wd_id .widget-modal-footer {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#wd_id .widget-modal .actions-exit {
  font-family: "Nexa Regular" !important;
  font-size: 14px !important;
  color: #7c7b80 !important;
}
#wd_id .widget-modal .actions-exit a {
  cursor: pointer;
  color: #7c7b80 !important;
}
#wd_id .widget-modal .actions {
  font-size: 14px;
  font-family: "Nexa Heavy" !important;
}
#wd_id .widget-modal .actions a {
  font-family: "Nexa Heavy" !important;
  color: #b6c62d;
  cursor: pointer;
}
#wd_id .icon__hotel {
  margin-right: .5 !important;
}
/**
 *
 * TAB CONTENT FORM BTN CSS
 *
 */
 #wd_id .form-btn {
  width: 100%;
}

#wd_id .form-btn > button {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: #b6c62d;
  border: 3px solid #b6c62d;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Nexa Heavy" !important;
  color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.35s all ease;
}

#wd_id .form-btn > button:hover {
  background: #fff;
  color: #b6c62d;
}

/**
 *
 * TAB CONTENT C-DESCUENTO CSS
 *
 */
 #wd_id .descuento__group {
  position: absolute;
  top: calc(3% + 0.5rem);
  right: calc(1% + 0.8rem);

  width: 217px;
  display: flex;
  border-radius: 6px;
}
#wd_id .descuento__group .search__inputs {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100% !important;
  padding: 0 !important;
}
#wd_id .descuento__group .search__inputs input {
  font-size: 12px;
  font-family: "Nexa Regular" !important;
  color: #7c7b80;
  width: 100%;
  margin-top: 0rem;
  border: 1px solid #dddddd;
  height: 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 0.8rem;
}
#wd_id .descuento__group .search__inputs input.cupon-valido {
  color: #b6c62d;
}
#wd_id .descuento__group .search__inputs input::placeholder {
  font-size: 12px;
  font-family: "Nexa Regular" !important;
  color: #7c7b80;
}

#wd_id .descuento__group button {
  font-family: "Nexa Heavy" !important;
  font-size: 14px;
  text-transform: uppercase;
  width: 28%;
  height: 40px;
  background: #fff;
  border: 1px solid #b9c44c;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #b6c62d;
  transition: 0.35s all ease;
  cursor: pointer;
}
#wd_id .descuento__group button:hover {
  background: #b9c44c;
  color: #fff;
}

.response_codigo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  color: white;
  position: absolute;
  margin: 0;
  right: 0;
  padding-top: 45px;
  font-size: 12px;
  font-family: "Nexa Regular" !important;
}


/**
 *
 * Hoteles
 *
 */

 #wd_id .hoteles .input__group:nth-child(1) .search__inputs:last-child {
  width: 100%;
}
#wd_id .hoteles .input__group .pasajeros {
  width: 100% !important;
}
#wd_id .pasajeros-group {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/**
 *
 * Actividades
 *
 */
 #wd_id .actividades #do_search {
  grid-template-columns: 2fr 1.54fr 0.5fr;
}
#wd_id .actividades .input__group:nth-child(1) .search__inputs:last-child {
  width: 100%;
}
/**
 *
 * Paquetes
 * 
 */

 #wd_id .paquetes .input__group .pasajeros {
  width: 100% !important;
}
/*=====  END SECTION WIDGETS STYLE    ======*/

/*=============================================
=            AUTOCOMPLETE            =
=============================================*/
#wd_id .widget .easy-autocomplete {
  width: 100% !important;
}
#wd_id .widget .easy-autocomplete-container {
  position: absolute;
  left: 0;

  z-index: 90;
  width: 100%;
}

#wd_id .widget .easy-autocomplete-container > ul {
  background: #fff;
  list-style: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#wd_id .widget .easy-autocomplete-container > ul > li {
  font-family: "Nexa Regular" !important;
  font-size: 14px;
  transition: 0.35s all ease-in-out;
  cursor: pointer;
  border-color: #dddd;
  border-style: solid;
  border-width: 0 1px;
}
#wd_id .widget .easy-autocomplete-container > ul > li:last-child {
  border-bottom: 1px solid #dddd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#wd_id .widget .easy-autocomplete-container > ul > li:hover {
  background: #e9e9e9;
}
#wd_id .widget .easy-autocomplete-container > ul > li .eac-item {
  padding: 0.5rem;
  font-family: "Nexa Regular" !important;
}
#wd_id .widget .easy-autocomplete-container > ul > li .eac-item > b {
  color: #000000;
  font-family: "Nexa Heavy" !important;
}
/*=====  End of AUTOCOMPLETE  ======*/
body .litepicker .container__days .day-item.is-today {
  /* color: #b6c62d !important; */
  color: var(--litepicker-day-color-hover);
}
body .litepicker .container__days .day-item.is-end-date {
  /* background: #b6c62d; */
}
body .litepicker .container__months .month-item-header div>.month-item-name,
body .litepicker .container__months .month-item-header div>.month-item-year,
body .litepicker .container__months .month-item-weekdays-row>div{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;

}
body .litepicker .container__days .day-item.is-start-date.is-end-date {
  color: #fff !important;
}
body .litepicker .container__days .day-item .is-locked {
  color: var(--litepicker-is-locked-color);
}
body .litepicker .day-item.is-today.is-locked {
  color: var(--litepicker-is-locked-color) !important;
}
body .litepicker .container__days .day-item {
  /* color: #b6c62d; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;

}

/**
 *
 * Extra Small Phone Media queries 
 *
 */
/* VALIDATION */
#wd_id .search__inputs.validation label {
  color: #fa2d2d;
}
#wd_id .search__inputs.validation svg {
  color: #fa2d2d;
}
#wd_id .search__inputs.validation input::placeholder {
  color: #fa2d2d;
}
#wd_id .input.validation input::placeholder {
  color: #fa2d2d;
}
/**
 *
 * Phone Media queries 
 *
 */

@media only screen and (max-width: 500px) {
  #wd_id .widget {
    height: 640px !important;
    overflow: hidden;
  }
  #wd_id .tab {
    justify-content: space-between;
    height: 60px;
  }
  #wd_id .tablinks {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wd_id .tablinks span {
    margin-left: 0rem;
    margin-top: 0.2rem;
    height: auto;
  }
  #wd_id .tab-icon__container {
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wd_id .tablinks:nth-child(4) span {
    margin-left: 0.3em;
  }
  #wd_id .buscador {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #wd_id .widget .easy-autocomplete {
    width: 100% !important;
  }
  #wd_id .widget .tablinks span {
    display: none;
  }
  #wd_id .title-tab {
    display: flex;
    padding-bottom: 0.8rem;
    font-family: "Nexa Heavy" !important;
    font-size: 20px;
    color: #b6c62d;
    margin-left: 0.2rem;
  }
  #wd_id .input__group:nth-child(3) {
    flex-direction: column;
  }
  #wd_id .widget .tab-info .input__group:nth-child(3) .search__inputs:first-child {
    width: 100% !important;
  }
  #wd_id .descuento__group {
    width: 100% !important;
  }
  #wd_id .bus .descuento__group,
  #wd_id .paquetes .descuento__group {
    width: 100%;
    margin-top: 1.3rem;
    height: 65.8px !important;
  }

  /* LITEPICKER */
  #wd_id .litepicker-backdrop {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.285);
    z-index: 99;
    display: none;
  }
  #wd_id .litepicker-backdrop.is-active {
    display: block;
  }
  body .litepicker {
    position: fixed !important;
    top: calc(50% - 93.4297px) !important;
    left: calc(50% - 138px) !important;
  }
  #wd_id .tab-info .input__group .search__inputs {
    position: static;
  }
  #wd_id .widget-modal {
    background: rgba(0, 0, 0, 0.285);
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
  }
  #wd_id .widget-modal-content {
    width: 80%;
    background: white;
    border-radius: 6px;
    border: 1px solid #dddddd;
    padding: 1rem;
  }
  #wd_id .widget .easy-autocomplete-container {
    position: absolute;
    left: 16px;
    z-index: 90;
    width: calc(100% - 2rem);
  }
}

/**
 *
 * Tablet Media queries 
 *
 */
@media only screen and (max-width: 768px) {
  #wd_id .d-arrow-img {
    margin-right: 1rem !important;
  }

  #wd_id .tablinks {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/*=============================================
=            WIDGET VERTICAL            =
=============================================*/

@media only screen and (min-width: 498.5px) {
  /*=====  End of WIDGET VERTICAL  ======*/

  #wd_id .widget.vertical {
    width: 100%;
    min-height: 502px;
  }
  #wd_id .widget.vertical .tab-content {
    height: 452px;
    justify-content: flex-start;
  }

  #wd_id .widget.vertical input {
    width: 90%;
  }
  #wd_id .widget.vertical .modal-item-count input {
    margin-top: 0;
    width: 32px;
    height: 50%;
    text-align: center;
    font-size: 14px;
    font-family: "Nexa Heavy" !important;
    padding-top: 0rem;
    margin: 10px auto;
  }
  #wd_id .widget.vertical .tablinks {
    width: 100%;
  }
  #wd_id .widget.vertical .tab-icon {
    width: auto;
  }
  #wd_id .widget.vertical .tablinks {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #wd_id .widget.vertical .input {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  #wd_id .widget.vertical .input__container {
    padding-left: 1rem;
  }

  #wd_id .widget.vertical .input__group {
    background: transparent;
    border-radius: 0;
  }
  #wd_id .widget.vertical .input__group:nth-child(2),
  #wd_id .widget.vertical .input__group:nth-child(3) {
    margin-top: 1.3rem;
  }
  #wd_id .widget.vertical .tab-content > div #do_search {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 100%;
  }
  #wd_id .widget.vertical .buscador {
    padding-top: 1.2rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0;
  }
  #wd_id .widget.vertical .descuento__group {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #wd_id .widget.vertical .origen {
    background: transparent;
    flex-direction: column;
  }
  #wd_id .widget.vertical .input__group {
    border: none;
    width: 100%;
  }
  #wd_id .widget.vertical .input:nth-child(2) {
    margin-left: 0rem;
  }
  #wd_id .widget.vertical .tab-info .input__group .search__inputs:first-child {
    background: white;
    width: 100%;
    padding-left: 0rem;
  }
  #wd_id .widget.vertical
    .tab-info
    .input__group:nth-child(2)
    .search__inputs:nth-child(2) {
    padding-left: 0;
  }
  #wd_id .widget.vertical .tab-info .input__group:nth-child(2) .search__inputs:first-child{
    width: 50%;
  }
  #wd_id .widget.vertical
    .tab-info
    .input__group:nth-child(1)
    .search__inputs:last-child {
    background: white;
    padding-left: 0rem;
    width: 100%;
  }
  #wd_id .widget.vertical .tab-info .input__group:nth-child(3) .search__inputs:first-child {
    width: 100% !important;
}
#wd_id .widget.vertical .tab-info .input__group .search__inputs {
    border-radius: 6px;
  }
  #wd_id .widget.vertical .tab-info .input__group .search__inputs {
    padding-right: 0;
  }
  #wd_id .widget.vertical .d-arrow-line {
    display: none;
  }
  #wd_id .widget.vertical .d-arrow {
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
    z-index: 22;
    background: transparent;
    width: 100%;
    align-items: flex-end;
  }
  #wd_id .widget.vertical .d-arrow-img {
    background: #fff;
    margin-right: 2rem;
  }
  #wd_id .widget.vertical .d-arrow-img > svg {
    transform: rotate(-90deg);
  }
  #wd_id .widget.vertical .destino {
    background: #fff;
    padding-left: 0;
  }
  #wd_id .widget.vertical
    .tab-info
    .input__group:nth-child(2)
    .search__inputs:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #wd_id .widget.vertical .input__group:nth-child(2) .search__inputs:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
  }
  #wd_id .widget.vertical
    .tab-info
    .input__group:nth-child(3)
    .search__inputs:first-child {
    width: 48% !important;
  }
  #wd_id .widget.vertical .hoteles .input__group:nth-child(3) .search__inputs:first-child{
    width: 100% !important;
  }
  #wd_id .widget.vertical .widget .tab-content .hoteles .input__group .pasajeros {
    width: 100% !important;
  }
  #wd_id .widget.vertical .descuento__group {
    background: #fff;
    width: 48%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #wd_id .widget.vertical .descuento__group .input{
    justify-content: space-between;
  }
  #wd_id .widget.vertical
    .tab-content
    .tab-info
    .input__group
    .descuento__group
    .search__inputs {
    width: 100% !important;
    height: 100%;
  }
  #wd_id .widget.vertical .tab-content .actividades .descuento__group .search__inputs {
    height: 100% !important;
  }
  #wd_id .widget.vertical .descuento__group .search__inputs input {
    height: 93%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: transparent;
    border: none;
  }
  #wd_id .widget.vertical .descuento__group .input__container {
    height: 100%;
    padding-left: 0;
  }
  #wd_id .widget.vertical .input {
    height: 100%;
  }
  #wd_id .widget.vertical .descuento__group button {
    width: 80px;
    height: 100%;
  }
  #wd_id .widget.vertical .form-btn {
    margin-top: 1.3rem;
    height: 64px;
  }

  /**
 *
 * Hoteles
 *
 */
 #wd_id .widget.vertical .hoteles .input__group:nth-child(3) {
    flex-direction: column;
  }
  #wd_id .widget.vertical .hoteles .descuento__group,
  #wd_id .widget.vertical .actividades .descuento__group {
    width: 100%;
    margin-top: 1.3rem;
    height: 65.8px;
  }
  #wd_id .widget.vertical .paquetes .descuento__group {
    width: 48%;
  }

  #wd_id .widget.vertical .hoteles .descuento__group .search__inputs input,
  #wd_id .widget.vertical .paquetes .descuento__group .search__inputs input,
  #wd_id .widget.vertical .actividades .descuento__group .search__inputs input {
    height: auto;
  }
  #wd_id .widget.vertical .pasajeros-group {
    display: flex;
  }
  #wd_id .widget.vertical .pasajeros-group .input:first-child a {
    margin-right: 0;
  }
  #wd_id .widget.vertical .pasajeros-group .input {
    width: 50px;
  }
  #wd_id .widget.vertical .paquetes .input__group:nth-child(3) .pasajeros {
    width: 48% !important;
  }
}

/**
 *
 * Tablet Media queries 
 *
 */

@media only screen and (max-width: 1024px) {
  #wd_id .icon__hotel{
    margin-right: .5rem;
  }
  #wd_id .widget {
    width: 100%;
    min-height: 502px;
  }
  #wd_id .tab-content {
    height: 452px;
    justify-content: flex-start;
  }
  #wd_id .widget input {
    width: 90%;
  }
  #wd_id .modal-item-count input {
    margin-top: 0;
    width: 32px;
    height: 50%;
    text-align: center;
    font-size: 14px;
    font-family: "Nexa Heavy" !important;
    padding-top: 0rem;
    margin: 10px auto;
  }

  #wd_id .tablinks {
    width: 100%;
  }
  #wd_id .tab-icon {
    width: auto;
  }
  #wd_id .tablinks {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #wd_id .input {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  #wd_id .input__container {
    padding-left: 1rem;
  }

  #wd_id .input__group {
    background: transparent;
    border-radius: 0;
  }
  #wd_id .input__group:nth-child(2),
  #wd_id .input__group:nth-child(3) {
    margin-top: 1.3rem;
  }
  #wd_id .tab-content > div #do_search {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 100%;
  }
  #wd_id .buscador {
    padding-top: 1.2rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0;
  }
  #wd_id .descuento__group {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #wd_id .origen {
    background: transparent;
    flex-direction: column;
  }
  #wd_id .input__group {
    border: none;
    width: 100%;
  }
  #wd_id .pasajeros-group .input:nth-child(2) {
    margin-left: 0rem;
  }
  #wd_id .tab-info .input__group .search__inputs:first-child {
    background: white;
    width: 100%;
    padding-left: 0rem;
  }
  #wd_id .tab-info .input__group:nth-child(2) .search__inputs:nth-child(2) {
    padding-left: 0;
  }

  #wd_id .tab-info .input__group:nth-child(1) .search__inputs:last-child {
    background: white;
    padding-left: 0rem;
    width: 100%;
  }
  #wd_id .tab-info .input__group .search__inputs {
    border-radius: 6px;
  }
  #wd_id .tab-info .input__group .search__inputs {
    padding-right: 0;
  }
  #wd_id .d-arrow-line {
    display: none;
  }
  #wd_id .d-arrow {
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
    z-index: 22;
    background: transparent;
    width: 100%;
    align-items: flex-end;
  }
  #wd_id .d-arrow-img {
    background: #fff;
    margin-right: 2rem;
  }
  #wd_id .d-arrow-img > svg {
    transform: rotate(-90deg);
  }
  #wd_id .destino {
    background: #fff;
    padding-left: 0;
  }
  #wd_id .tab-info .input__group:nth-child(2) .search__inputs:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #wd_id .input__group:nth-child(2) .search__inputs:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
  }
  #wd_id .tab-info .input__group:nth-child(3) .search__inputs:first-child {
    width: 48% !important;
  }
  #wd_id .widget .tab-content .hoteles .input__group .pasajeros {
    width: 100% !important;
  }
  #wd_id .descuento__group {
    background: #fff;
    width: 48%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #wd_id .widget.vertical .descuento__group .input{
    justify-content: space-between;
  }
  #wd_id .tab-content .tab-info .input__group .descuento__group .search__inputs {
    width: 100% !important;
    height: 100%;
  }
  #wd_id .widget .tab-content .actividades .descuento__group .search__inputs {
    height: 100% !important;
  }
  #wd_id .descuento__group .search__inputs input {
    height: 93%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: transparent;
    border: none;
  }
  #wd_id .descuento__group .input__container {
    height: 100%;
    padding-left: 0;
  }
  #wd_id .input {
    height: 100%;
  }
  #wd_id .descuento__group button {
    width: 80px;
    height: 100%;
  }
  #wd_id .form-btn {
    margin-top: 1.3rem;
    height: 64px;
  }

  /**
   *
   * Hoteles
   *
   */
   #wd_id .hoteles .input__group:nth-child(3) {
    flex-direction: column;
  }
  #wd_id .hoteles .descuento__group,
  #wd_id .actividades .descuento__group {
    width: 100%;
    margin-top: 1.3rem;
    height: 65.8px;
  }
  #wd_id .paquetes .descuento__group {
    width: 48%;
  }

  #wd_id .hoteles .descuento__group .search__inputs input,
  #wd_id .paquetes .descuento__group .search__inputs input,
  #wd_id .actividades .descuento__group .search__inputs input {
    height: auto;
  }
  #wd_id .pasajeros-group {
    display: flex;
  }
  #wd_id .pasajeros-group .input:first-child a {
    margin-right: 0;
  }
  #wd_id .pasajeros-group .input {
    width: 50px;
  }
  #wd_id .paquetes .input__group:nth-child(3) .pasajeros {
    width: 48% !important;
  }
  .response_codigo {
    margin-top: 40px;
  }
}

body .litepicker .container__days .day-item:hover {
  cursor: pointer;
  /* box-shadow: inset 0 0 0 1px #b6c62d;
  color: #b6c62d !important; */
}

body .litepicker .container__months .month-item-header .button-previous-month:hover,
body .litepicker .container__months .month-item:last-child .button-next-month:hover {
  /* color: #b6c62d !important; */
  cursor: pointer;
}
.litepicker{
  font-size: 1.2em !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif !important;
}
/* .modal.is-visible{height: 290px !important;} */
