.block-destino {
  padding: 60px 0;
  @include media(md){
    padding: 40px 0;
  }
  .splide__track{
    @include media-down(md){
      padding: 1rem 0;
    }
  }
  &:not(.block-only-destino){
    .container{
      @include media-down(md){
        .splide__list{
          // display: grid;
          // grid-template-columns: repeat(3, 1fr);
          // gap: 32px;
          // .splide__slide{
          //   width: 100% !important;
          // }
        }
      }
    }
  }
  .container{
    .filters{
      margin-bottom: 4rem;
      @include media(md){
        margin-bottom: 20px;
      }
    }
    .select{
      @include media(md){
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .select-results{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        @include media-down(md){
          &.line-container{

            align-items: center;
            justify-content: center;
            &:first-child{
              display: none !important;
            }
          }

          .line{
            width: 1px;
            height: 16px;
            background: rgba(0, 0, 0, 0.267);
          }
        }
        button{
          @include media-down(md){
            &.active{
              color: $red;
              background-color: transparent;
              @include hoverButtonLine($red, "true");
            }
          }

        }
      }
      @include media(md){
         
          width: 100%;
          position: absolute;
          top: 48px;
          left: 0;
          background: $white;
          flex-direction: column;
          border: 1px solid $input-border;
          border-radius: 12px;
          transition: $fast;
          button{
            width: 100%;
            text-align: left;
            justify-content: flex-start;
            font-weight: 400;
            padding: 10px 20px;
            &:hover{
              background-size: 0;
            }
            border-bottom: 1px solid $input-border;
            text-transform: none;
          }
       
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          &.show{
            opacity: 1;
            visibility: visible;
            z-index: 40;
          }
      }

    }

    .select-input{
      width: 100%;
      margin: 0 auto;
      border: 1px solid $input-border;
      padding: 10px 20px;
      border-radius: 12px;
      position: relative;
      cursor: pointer;
      input{
        height: 100%;
        width: 100%;
        display: flex;
        font-size: 1rem;
        border: 0;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
      svg{
        position: absolute;
        right: 20px;
        top: 20px;
      }

    }
  }
}

.row-destino{
  @include media(sm){
    row-gap: 32px;
  }
}
.card-destino {
  .card{
    background: $white;
    border-radius: 12px;
    border: 1px solid #dedede;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: $slow;
    position: relative;
    max-height: 214px;
    min-height: 214px;
    .block-image{
      display: flex;
      overflow: hidden;
      border-radius: 12px;
      position: relative;
      height: 100%;

      picture,img{
        object-fit: cover;
        transition: $slow;
        vertical-align: bottom;
        width: 100%;
        height: 100%;
        object-position: center;

      }
      &::after{
        @include bg-presets();
        bottom: 0;
        left: 0;
        @include gradient(top, .9);
        z-index: 2;
        width: 100%;
        height: 60%;
      }
    }
    .block-content{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 18px 22px;
      *{
        color: $white;
        position: relative;
        z-index: 4;
      }
      h2,h3,p{

      }
      h2,h3{
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
      }
      p{
        font-size: 12px;
        margin-bottom: 2px;
      }
    }
    @include media-down(md){
      &:hover{
        transform: translateY(-10px);
        .block-image{
          picture,img{
            transform: scale(1.1);
          }
        }
      }

    }
  }
}

.block-only-destino{
  .block-title{
    justify-content: flex-start;
  }
  .splide__list{
    width: 58%;
    @include media(md){
      width: 80%;
    }
    @include media(xs){
      width: 100%;
    }
  }
}