.faq{
    padding-top: 40px;
    padding-bottom: 40px;
    @include media(sm){
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .faq-according{
        border-bottom: 1px solid $faq-border;
        margin-bottom: 24px;

        .faq-according-title{
            display: flex;
            cursor: pointer;
            padding-bottom: 20px;
            h3,h2{
                color: $sky;
                max-width: 100%;
                width: 100%;
                margin-bottom: 0;
                transition: $fast;
                font-size: 18px;
                font-weight: 700;
                display: inherit;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                line-height: 160%;
                @include media(xs){
                    font-size: 1rem;
                }
                @include media(xs){
                    line-height: 140%;
                  
                }
            }

            .circle{
                background-color: transparent;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $fast;
                @include media(sm){
                    width: 30px;
                    height: 30px;
                    i{
                        font-size: 12px;
                    }
                }
                i{
                    color: $black;
                    transition: $fast;
                }
            }
            &:hover{
                h3,h2,i{
                    color: $purple;
                }
                .circle{
                    background-color: transparent;
                }
            }
        }
        .faq-according-info{
 
        
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.25s ease-out;
            .block-texto{
                background: transparent!important;
            }

            &.single-body{

                .image{
                    margin-bottom: 2rem;
                    max-height: 288px;
                    width: 100%;
                    picture,img{
                        object-fit: cover
                    }
                    @include aspectRatio();
                    @include media(xs) {
                        max-height: 170px;
                        font-size: 1rem;
                        margin-bottom: 20px;
                    }
                }
            }
            .content.container{
                max-width: 100%;
                padding: 0 0;
                padding-top: 10px;
                padding-bottom: 30px;
                background: transparent;
            }
        }

        &.show{
            h3,h2,i{
                color: $purple;
            }

            .circle{
           
                i{
                    color: $purple;
                    transform: rotate(-180deg);
                }
            }
        }
    }
    ul{
        list-style: none;
    }
}