.hero-simple {
  position: relative;
  min-height: 42dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  @include media(sm) {
    min-height: 40dvh;
  }
  @include media(xs) {
    min-height: 35dvh;
  }
  .container {
    position: relative;
    z-index: 20;
    .hero-content {
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include media(xs) {
        max-width: 208px;
        width: 100%;
      }
      h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: $white;
        margin-bottom: 0;
        @include media(sm) {
          font-size: 24px;
        }
        @include media(xs) {
          font-size: 18px;
        }
        strong {
          font-weight: 900;
        }
      }
    }
  }
  .hero-content{
    max-width: 458px !important;
    .title-terminal{
      font-size: 18px;
      text-transform: uppercase;
      line-height: 120%;
      letter-spacing: 1px;
      font-weight: 500;
      color: $white;
      margin-bottom: 10px;
    }
  }
  &::before{
    @include bg-presets();
    left: 0;
    bottom: 0;
    @include gradient(right, .7);
    @include media(xs){
      @include gradient(top, 1);
    }
    width: 100%;
    height: 100%;
  }
}
