a:hover{
    text-decoration: none;
}

#warning .container p {
    font-family: "montserratregular";
    line-height: 14px;
}

#warning .container p a{
color: #fff;
}
#warning .container p a:hover {
    color: #38c172;
}

.btn {
    padding: 0;
    line-height: 1;
}

.btn a {
    font-size: .875rem;
    padding: 1rem 1rem 0.9rem 1rem;
}

.box-shadow{
    background: #fff;
    border: 1px solid #e6e7eb;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgb(70 70 130 / 18%);
}

.svg-path-1 {
    position: absolute;
    top: 50%;
    left: -12%;
}

.svg-path-2 {
    position: absolute;
    top: 15%;
    right: 0;
}

.svg-path-3 {
    position: absolute;
    bottom: 47%;
    left: 0;
    z-index: -1;
}



.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
#main-nav ul li.active a {
    color: #fa9d1b;
}

#masthead .navbar-brand img {
    width: 180px;
    height: 50px;
}

#main-nav {
    margin-top: .875rem;
}

#main-nav ul li {
    margin-right: 1rem;
}

#main-nav ul li:last-child {
    margin-right: 0;
}

div#footer-widget {
    padding-bottom: 3rem;
    border-bottom: 1px solid #e5e7eb;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #151e2d;
    font-family: "montserratbold";
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
}

h3.widget-title {
    color: #151e2d;
    font-family: "montserratbold" !important;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 .75rem 0;
}

footer #footer-widget .nav-link {
    display: block;
    padding: 0;
    font-size: .813rem;
    margin: 0 0 .75rem 0;
}

footer a.wp-block-button__link {
    background-color: #fa9d1b;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    -webkit-appearance: button;
    font-family: 'montserratregular';
    text-decoration: none;
}

footer a.wp-block-button__link:hover {
    background: rgba(250,157,27,.8);
    color: #fff !important;
}

footer .redes {
    display: flex;
}

footer .redes li {
    margin: 0 1rem 0 0;
}

ul.redes li a svg {
    width: 25px;
    display: inline-block;
}

ul.redes li a svg:hover {
    fill: #38c172;
}

.inicio #section2 .cont-s2 .cont-s2-img.doble {
    width: 66%;
}

@media only screen and (max-width: 1200px) {
    .menu-toggle-wrapper {
        display: flex;
        justify-content: space-between;
    }
    button.navbar-toggler{
        margin-left: 2em;
    }
    #main-nav {
        position: absolute;
        top: 100%;
        z-index: 99999;
        left: 0;
        width: 100%;
        background: white;
        padding: 1em;
        text-align: center;
    }
    #main-nav ul li {
        padding: .8em;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,1);
        border-color: rgba(0,0,0,.0);
        padding: 0;
    }
    button.navbar-toggler div.bar1,
    button.navbar-toggler div.bar2,
    button.navbar-toggler div.bar3 {
        width: 35px;
        height: 5px;
        background-color: #151e2d;
        margin: 6px 0;
        transition: .4s;
    }
    /*  button.navbar-toggle.collapsed > div{
        transform: rotate(0);
        opacity: 1;
    } */
    button.navbar-toggle[aria-expanded="true"] div.bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    button.navbar-toggle[aria-expanded="true"] div.bar2 {
        opacity: 0;
    }
    button.navbar-toggle[aria-expanded="true"] div.bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
    nav.navbar {
        padding: 0 !important;
        width: 100%;
    }
    #masthead .container {
        padding: 0 8% !important;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .inicio #section2 .cont-s2 .cont-s2-img.doble {
        width: 100%;
    }
    footer .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 2em;
    }
}


/*----HOME----*/

.inicio #section1 h1 {
    font-family: "montserratbold" !important;
}

.inicio #section2 .cont-s2 a {
    padding: 0 0 1rem 0;
    text-align: center;
    border-radius: 6px;
}
.inicio #section2 .cont-s2 a img {
  max-width: 100%;
  height: auto;
}

.inicio .section h2,
.inicio .section h3,
.inicio .section h4 {
    font-family: "montserratbold" !important;
}

.inicio .section h2,
.inicio .section h4{
    text-transform: uppercase;
}
.inicio .section h4{
  color: #4a5568;
  font-size: .75rem;
  letter-spacing: 2px;
  margin: 0 auto 1rem auto;
}

.inicio #section2 .btn:hover{
    color: #fff !important;
}

.inicio .promo-img,
.inicio .promo-name{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
}

.promo-img div {
    width: 16%;
}

.inicio .promo-img{
    margin-bottom: .5rem;
}

.promo-name div {
    width: 16%;
}

.promo-name div p {
    font-size: .875rem;
}

section#financiacion a:hover{
    color: #38c172;
}
.inicio #financiacion .content-promos .cont-img-fin {
  justify-content: center;
}
.inicio #financiacion .sect-promo p {
  margin: 0.5rem auto 0 auto;
  }

/*---- INTERNAS -----*/

section.inner-section .section-block{
    padding: 3rem 0;
    text-align: center;
}

section.inner-section .section-block p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1em;
    text-align: left;
}
.page-template-protocolo-covid section.inner-section .section-block p {
  text-align: center;
}
section.inner-section h1{
    font-size: 38px;
    font-family: 'montserratbold' !important;
}

section.inner-section h3{
    font-family: "montserratbold" !important;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

section.inner-section a{
    font-family: 'montserratbold';
}
section.inner-section a:hover{
    color: #fa9d1b;
}
section.inner-section .btn a:hover{
    color: #fff;
}

section.hero {
    position: relative;
    display: flex;
    align-items: center;
}

.page-template-via-club section.hero {
    height: 400px;
}

.page-template-via-club section.inner-section .section-block p {
  text-align: center;
}

section.hero svg{
    width: 100%;
    height: 100%;
}

section.hero.hero-small {
    height: 220px;
}

section.hero.hero-small.hero-protocolo{
    background-image: url(dist/img/ProtocoloCovid_desktop.svg);
}

section.hero .container {
    z-index: 1;
}

section.hero .svg-hero {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}

section.hero p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1rem;
}

section.hero .btn {
    margin-top: 1rem;
}

.logo-gal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.cont-logo-gal  {
    display: flex;
    height: 47px;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    min-width: 20% !important;
}

.box-block {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.box-block .box-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3rem;
    margin: 0 1rem;
}

.box-block .box-wrapper p{
    line-height: 22px;
    margin-bottom: 2rem;
}
.box-preguntas p {
    height: 60px;
}


.arcos-wrapper{
    position: relative;
}

.arcos-wrapper .svg-arcos{
    display: flex;
    position: absolute;
    bottom: -20%;
    left: 0;
    z-index: 0;
    opacity: .08;
}

.arcos-wrapper .container {
    z-index: 1;
}

.data-wrapper {
    background: #e0f1eb;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.data-wrapper > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
}

.data-wrapper > div:first-child {
    border-right: 2px solid #38c17370;
}

.data-wrapper div h2 {
    color: #38c173;
    font-size: 42px;
    margin-right: 15px;
}

.data-wrapper div span {
    color: #38c173;
    text-transform: uppercase;
}

.data-wrapper > div:first-child span {
    width: 40%;
    text-align: left;
}

.box-comprar,
.box-comprar-icon{
    display: flex;
    align-items: center;
}

.box-comprar{
    height: 110px;
}
section.inner-section .section-block .box-comprar p {
  margin: 0;
}
.box-comprar-icon{
    border-right: 1px solid #e6e7eb;
    margin-right: 2em;
    padding-right: 2em;
    width: 20%;
}


.box-comprar-icon > div {
    width: 120px;
    margin-right: 10px;
}

.box-comprar-icon > div img {
    width: 100%;
    max-height: 70px;
    object-fit: contain;
}

.box-comprar-icon h2 {
    font-size: 42px;
    color: #38c172;
    width: 40px;
    text-align: right;
}

.box-comprar p{
    line-height: 22px;
}

.promociones{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.promociones-logo {
    height: 100px;
}

.promociones-logo img {
    margin: 0 10px;
}

.promociones .promociones-header{
    margin-bottom: 1em;
    padding: 0 1em 1em;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.promociones .promociones-header p{
    font-size: 18px;
    font-family: 'montserratbold' !important;
}

.promociones .promociones-header p.higlight{
    margin-top: 5px;
    color:#fa9d1b;
}

.promociones .promociones-desc{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2em;
    padding: 0 2em;
}

.accordion h2.accordion-head {
    font-size: 16px;
    font-family: 'montserratbold' !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h2.accordion-head span{
    font-size: 32px;
    color: #aaa;
    transition: .3s;
}

h2.accordion-head span .minus{
    display: none;
}

h2.accordion-head span.active .plus {
    display: none;
}

h2.accordion-head span.active .minus {
    display: block;
    color: #38c172;
}

section.section-block.form-wrapper .container {
    background: #fff;
    padding: 2em 2.5em;
}

.icon-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
}
.icon-wrapper p {
    font-size: 18px !important;
    margin: 0 0 0 10px !important;
}
.icon-wrapper:first-child{
    align-items: center;
}

section.section-block.form-wrapper label {
    display: inline-block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #787b81;
    width: 100%;
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-primary {
    background: #38c172;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-family: "montserratbold";
    font-size: .875rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 0;
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-primary:hover {
    background: #fa9d1b;
}


.inicio #section1 h1 {
    font-size: 1.5rem;
    max-width: 62%;
  }
@media only screen and (min-width: 768px) {
  .inicio #section1 h1{
    font-size: 3.25rem;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1600px) {
    .page-template-via-club section.hero {
        height: 500px;
    }
}
@media only screen and (max-width: 768px) {
  section#financiacion .sect-promo {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
  section#financiacion .sect-promo p {
    margin: 0.5rem auto 0 auto;
    }
  .inicio #financiacion .content-promos .cont-img-fin {
    display: flex;
      height: 47px;
      align-items: center;
      text-align: center;
  }
    .page-template-via-club section.hero {
        height: 670px;
        display: block;
        overflow: hidden;
    }

    section.hero .container {
        z-index: 1;
        width: 100% !important;
        max-width: 100% !important;
    }

    .page-template-via-club section.hero .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .page-template-via-club section.hero .svg-hero{
        display: none;
    }

    .page-template-via-club section.hero .svg-hero-mobile {
        display: block !important;
        position: absolute;
        top: -80%;
        height: 600px;
        z-index: -1;
    }

    .page-template-via-club section.hero .svg-hero-mobile svg {
        height: auto;
    }

    section.inner-section h1 {
        font-size: 32px;
        text-align: center;
    }

    .btn {
        width: 100%;
        display: block;
    }

    .btn a{
        width: 100%;
    }

    section.hero .btn {
        margin-top: 1.5rem;
    }

    .box-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-block .box-wrapper {
        width: 100%;
        margin: 0 1rem 1rem;
    }

    .box-preguntas {
        margin-bottom: 3em;
    }

    .box-preguntas p {
        height: auto;
    }

    section.hero.hero-small{
        align-items: flex-start;
    }

    section.hero.hero-small h2{
        margin-top: 1.5em;
    }

    section.hero.hero-small.hero-protocolo {
        background-image: url(dist/img/ProtocoloCovid_mobile.svg);
    }

    section.hero.hero-small{
        height: auto;
    }

    section.hero.hero-small.hero-protocolo {
        height: 220px;
    }


    .data-wrapper > div span {
        font-size: 12px;
    }

    .data-wrapper > div h2 {
        font-size: 22px;
    }

    section.hero.mt-3.pt-5 {
        padding: 3em 0 0!important;
        margin: 0 !important;
    }

    .svg-path-1,
    .svg-path-2,
    .svg-path-3 {
        display: none;
    }

    .box-comprar {
        height: auto;
    }

    .box-comprar-icon > div {
        display: none;
    }
    .row {
        width: 100%;
        margin: 0 auto;
    }

    section.section-block.mt-3 {
        margin: 0 !important;
    }

    section.hero .col-2{
        display: none;
    }

    section.hero .col-8{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}


@media only screen and (max-width: 480px) {

    .page-template-via-club section.hero .svg-hero-mobile {
        top: -50%;
    }

    .at-svg svg {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    .page-template-via-club section.hero .svg-hero-mobile {
        top: 0;
    }

    section.section-block.form-wrapper .container {
        padding: 1em 1em;
    }
    section.section-block.form-wrapper .container .col-xs-12.col-sm-6.px-4 {
        padding-top: 2em;
    }


    .data-wrapper > div {
        justify-content: flex-start;
    }

    .data-wrapper > div:first-child {
        margin-right: 5px;
    }

    .box-comprar-icon {
        margin-right: 1em;
        padding-right: 1em;
        width: 60px;
        flex-direction: column;
    }

    .box-comprar-icon > div {
        width: 100%;
        margin-right: 0;
    }

    section.inner-section h1 {
        font-size: 22px;
        padding: 0 !important;
    }

    .data-wrapper h2{
        font-size: 18px !important;
    }

    section.inner-section .section-block {
        padding: 1rem 0;
    }
    .accordion h2.accordion-head,
    .accordion-content p {
        font-size: 14px !important;
    }
}
/*Nuevos estilos*/
.inicio .section.ofertas,
.inicio .section.experiencias {
    position: relative;
}
.inicio .section.ofertas .container{
    display: flex;
    overflow: initial;
}
.inicio .section.ofertas .container .card{
    overflow: hidden;
    border-radius: 6px;
    height: 385px;
    width: 240px !important;
    margin: 0 13px 0 0;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 2px 4px;
    color: black;
}
.inicio .section.ofertas .img-card{
    height: 190px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.inicio .section.ofertas .img-card img{
    width: 100%;
    height: 100%;
}
.inicio .section.ofertas .container .cant-noches{
    padding: 7px 10px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: auto;
    left: auto;
    bottom: -9px;
    box-shadow: rgba(0,0,0,16%) 0px 2px 4px;
}
.inicio .section.ofertas .container .cant-noches p{
    font-weight: 500;
    font-family: "montserratregular", "sans-serif";
    text-shadow: rgba(0,0,0,16%) 0px 2px 4px;
}
.inicio .section.ofertas .container .card .contenedor{
    text-align: start;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "montserratregular", "sans-serif";
}
.inicio .section.ofertas .container .card h2{
    font-size: 11px;
    font-weight: 700;
    margin: 0 0 5px 0;
    text-shadow: rgba(0,0,0,10%) 0px 2px 4px;
    letter-spacing: 0;
}
.inicio .section.ofertas .container .card h3{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: -1px;
    margin-bottom: 5px;
}
.inicio .section.ofertas .container .card .contenedor h4{
    font-size: 12px;
    width: fit-content;
    padding: 4px 10px 6px;
    border: rgba(128, 128, 128, 0.20) 1px solid;
    border-radius: 6px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
.inicio .section.ofertas .container .card .contenedor img{
    object-fit: none;
    margin: 0 0 5px 0;
    height: 21px;
    width: 95px;
}
.inicio .section.ofertas .container .card .precio{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}
.inicio .section .card .precio div{
    display: flex;
    align-items: flex-end;
}
.inicio .section .card .precio p{
    font-size: 12px;
}
.inicio .section .card .precio div strong{
    font-size: 18px;
    font-weight: 900;
    margin-left: 4px;
}
.inicio .section.experiencias .container{
    display: flex;
    overflow: initial;
}
.inicio .section.experiencias .card{
    overflow: hidden;
    border-radius: 6px;
    height: 297px !important;
    width: 238px !important;
    margin: 0 13px 0 0;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 2px 4px;
    color: black;
}
.inicio .section.experiencias .img-card{
    height: 190px;
    width: 100%;
    object-fit: cover;
}
.inicio .section.experiencias .img-card img{
    width: 100%;
    height: 100%;
}
.inicio .section.experiencias .contenedor{
    height: 107px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    text-align: start;
    justify-content: space-between;
    font-family: "montserratregular", "sans-serif";
}
.inicio .section.experiencias .container .card .precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.inicio .section.experiencias .container .card .precio div{
    display: flex;
    align-items: center;
}
.inicio .section.experiencias .container .card h3{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
}
.inicio .section.hoteles .card{
    height: 332px !important;
}
.inicio .section.hoteles .subtitulo{
    font-size: 16px !important;
    font-weight: 500;
    margin: 0px 0px 12px;
}
.inicio .section.hoteles{
    position: relative;
}
.inicio .section.actividades{
    position: relative;
    padding-bottom: 0 !important;
    overflow: hidden;
}
.inicio .section.actividades hr{
    height: 2px;
    color: black;
    width: 100%;
    margin-top: 10px ;
    margin-bottom: 0;
}
.inicio .section.actividades .precio{
    margin-top: 10px !important;
}
.inicio .section .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.inicio .section.experiencias  .slider-container ,
.inicio .section.ofertas .slider-container{
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    position: inherit !important;
}

.inicio .section.experiencias .card-slider,
.inicio .section.ofertas .card-slider{
    display: flex;
}
.inicio .section .swiper-vertical>.swiper-wrapper {
    flex-direction: row !important;
}
.inicio .section .swiper-button-next, .swiper-button-prev {
    background-color: white;
    color: black !important;
    border-radius: 100px;
    width: 40px !important;
    height: 40px !important;
}
.inicio .section .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: bold;
}
.inicio .section .swiper-slide:hover{
    box-shadow: rgba(0, 0, 0, 0.219) 1px 4px 4px;
}
.inicio .section.ofertas .card:hover ,
.inicio .section.experiencias .card:hover{
    box-shadow: rgba(0, 0, 0, 0.219) 1px 4px 4px;
}
.inicio .section .swiper-pagination-bullet-active {
    background: var(--swiper-pagination-bullet-inactive-color,#000) !important;
}
.inicio .section .swiper-container{
    width:100%;
    overflow: hidden;
}
.inicio .section.ofertas .swiper-container{
    height: 400px;
}
.inicio .section.experiencias .swiper-container{
    height: 310px;
}
.inicio .section.hoteles .swiper-container{
    height: 350px;
}
.inicio .section .swiper-button-prev,
.inicio .section .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,-100px) !important;

}
.inicio .section .swiper-button-next,
.inicio .section .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,-100px) !important;
}
.inicio .section .swiper-horizontal>.swiper-pagination-bullets,
.inicio .section .swiper-pagination-bullets.swiper-pagination-horizontal,
.inicio .section .swiper-pagination-custom,
.inicio .section .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,-30px) !important;

}
.inicio .section .hidden{
    display: none;
}
.inicio .section .ancho {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.inicio .section .margin{
    margin-bottom: 5rem;
}
@media (max-width: 714px) {
    .inicio .section.ofertas .container ,
    .inicio .section.experiencias .container{
        flex-direction: column;
    }
    .inicio .section.ofertas .container .card{
        width: 100% !important;
        margin-bottom: 16px;
    }
    .inicio .section.experiencias .card{
        width: 100% !important;
        margin-bottom: 16px;
    }
    .inicio .section.experiencias .card-slider,
    .inicio .section.ofertas .card-slider {
        display: flex;
        flex-direction: column;
    }
    .inicio .section .card-slider.swiper-wrapper{
        flex-direction: row !important;
    }
}
.pasajes .hero h1{
    text-align: start;
}
.pasajes .hero .container, .pasajes .section-block .container{
    width: 800px;
}
.pasajes p{
    line-height: 30px !important;
}
.pasajes a{
    font-family: 'montserratregular' !important;
    font-weight: 400;
    text-decoration: underline;

}
.pasajes section.inner-section .section-block{
    padding: 3rem 0 0rem;
}
@media (max-width: 900px){
    .pasajes .hero .container, .pasajes .section-block .container{
        width: 90%;
    }
}

.cont-img-asoc a:hover{
    transform: scale(1.2);
}
.ancho{
    overflow: hidden;
}



@font-face {
    font-family: "Cairo-regular";
    src: url("./widget/fonts/Cairo-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Cairo-Bold";
    src: url("./widget/fonts/Cairo-Bold.ttf") format("truetype");
    font-display: swap;
  }

.flex-row-md{
    flex-direction: row !important;
}
.flex-row{
    flex-direction: row !important;
}
@media (max-width: 900px) {
    .flex-column{
        flex-direction: column !important;
    }
}
.etica .container{
   max-width: 1200px;
}
@media (max-width: 1200px){
    .etica .container{
        max-width: 100%;
    }
}
.etica section {
    padding: 60px 0;
  }
  @media (max-width: 900px) {
    .etica section {
      padding: 30px 0;
    }
  }
  .etica .intro-cont-img {
    width: 100%;
    height: 370px;
    overflow: hidden;
  }
  .etica .intro-cont-img img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  @media (max-width: 900px) {
    .etica .intro-cont-img {
      height: 322px;
    }
  }
  .etica h1 {
    color: #1E8D34;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
    font-family: "Cairo-Bold";
  }
  @media (max-width: 900px) {
    .etica h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .etica p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 160%; /* 32px */
    font-family: "Cairo-regular";
  }
  @media (max-width: 900px) {
    .etica p {
      font-size: 16px;
      line-height: 140%;
    }
  }
  .etica .subtitulo {
    font-weight: 700;
    width: 740px;
    font-family: "Cairo-Bold";
  }
  @media (max-width: 900px) {
    .etica .subtitulo {
      width: 100%;
    }
  }
  .etica h2 {
    color: #1E8D34;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin-bottom: 35px;
    font-family: "Cairo-Bold";
  }
  @media (max-width: 900px) {
    .etica h2 {
      font-size: 20px;
    }
  }
  .etica .section-2 {
    background-color: #F8F7F6;
  }
  .etica .section-2 p {
    width: 546px;
  }
  @media (max-width: 900px) {
    .etica .section-2 p {
      width: 100%;
    }
  }
  .etica .section-2 .cont-card {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  @media (max-width: 900px) {
    .etica .section-2 .cont-card {
      margin: 20px 0 30px;
      gap: 15px;
    }
  }
  .etica .section-2 .cont-card p {
    width: auto;
  }
  .etica .section-2 .cont-card a {
    color: #1E8D34;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Cairo-Bold";
  }
  .etica .section-2 .cont-card .card {
    width: 275px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid #1E8D34;
    gap: 20px;
    padding: 25px;
  }
  @media (max-width: 900px) {
    .etica .section-2 .cont-card .card {
      width: 45%;
      height: 70px;
    }
  }
  .etica .section-2 .cont-card .card p {
    width: auto;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
    text-align: start;
    font-family: "Cairo-Bold";
  }
  @media (max-width: 900px) {
    .etica .section-2 .cont-card .card p {
      font-size: 14px;
    }
  }
  @media (max-width: 900px) {
    .etica .section-2 .cont-card .card .cont-img {
      width: 35px;
    }
  }
  .etica .section-2 .cont-card .card img {
    object-fit: contain;
    -o-object-fit: contain;
    max-width: 100%;
  }
  .etica .section-2 .background-white {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 32.1px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    padding: 30px 0;
  }
  @media (max-width: 900px) {
    .etica .section-2 .background-white {
      padding: 25px 0;
    }
  }
  .etica .section-2 .background-white .cont-dato {
    gap: 70px;
    margin-top: 30px;
  }
  @media (max-width: 900px) {
    .etica .section-2 .background-white .cont-dato {
      gap: 5px;
    }
  }
  .etica .section-2 .background-white p {
    width: auto;
  }
  .etica .section-2 .background-white .cairo-bold {
    font-family: "Cairo-Bold";
  }
  .etica .section-2 .background-white img {
    width: 23px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .etica .section-2 .background-white a {
    color: black;
    font-family: "Cairo-regular";
    font-size: 20px;
  }
  .etica .section-2 .background-white a:hover {
    color: #1E8D34;
  }
  @media (max-width: 900px) {
    .etica .section-2 .background-white a {
      font-size: 16px;
    }
  }
  .etica .section-3 {
    padding: 80px 0;
  }
  @media (max-width: 900px) {
    .etica .section-3 {
      padding: 40px 0;
    }
  }
  .etica .section-3 .container {
    gap: 85px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 900px) {
    .etica .section-3 .container {
      gap: 60px;
    }
  }
  .etica .section-3 .info {
    gap: 65px;
  }
  .etica .section-3 .info:nth-child(even) {
    flex-direction: row-reverse !important;
  }
  @media (max-width: 900px) {
    .etica .section-3 .info:nth-child(even) {
      flex-direction: column !important;
    }
  }
  @media (max-width: 900px) {
    .etica .section-3 .info {
      gap: 20px;
    }
  }
  .etica .section-3 .info .cont-img {
    width: 606px;
    height: 359px;
    border-radius: 12px;
    overflow: hidden;
  }
  @media (max-width: 900px) {
    .etica .section-3 .info .cont-img {
      width: 100%;
      height: 206px;
    }
  }
  .etica .section-3 .info .cont-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .etica .section-3 .info .cont-text {
    width: 648px;
    text-align: start;
  }
  @media (max-width: 900px) {
    .etica .section-3 .info .cont-text {
      width: 100%;
    }
  }
  .etica .section-3 .info .cont-text h2 {
    color: #000;
  }
  .etica .section-3 .info .cont-text p {
    text-align: start;
    margin-bottom: 1rem;
  }
  .etica .section-4 {
    background: #F8F7F6;
  }
  .etica .section-4 p {
    margin-bottom: 1rem;
  }
  .etica .section-4 img {
    width: 125px;
    object-fit: contain;
    -o-object-fit: contain;
  }

 @media screen and (max-width: 380px){
    .etica .section-2 .cont-card .card{
        width: 100%;
    }
 }
