.blog{
    .container{
        .filters{
            margin-top: 18px;

            @include media(md){
              margin-top: 0;

            }
            .select{
                @include media(md){
                  max-width: 350px;
                  width: 100%;
                  margin: 0 auto;
                }
            }
            .select-results{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li{
                  @include media-down(md){
                    &.line-container{
                      align-items: center;
                      justify-content: center;
                      margin: 0 2rem;
                      
                      &:first-child{
                        display: none !important;
                      }
                    }
      
                    .line{
                      width: 1px;
                      height: 16px;
                      background: rgba(0, 0, 0, 0.267);
                    }
                  }
                  button{
                    @include media-down(md){
                      &.active{
                        color: $red;
                        background-color: transparent;
                        @include hoverButtonLine($red, "true");
                      }
                    }
      
                  }
                }
                @include media(md){
                   
                    width: 100%;
                    position: absolute;
                    top: 48px;
                    left: 0;
                    background: $white;
                    flex-direction: column;
                    border: 1px solid $input-border;
                    border-radius: 12px;
                    transition: $fast;
                    button{
                      width: 100%;
                      text-align: left;
                      justify-content: flex-start;
                      font-weight: 400;
                      padding: 10px 20px;
                      &:hover{
                        background-size: 0;
                      }
                      border-bottom: 1px solid $input-border;
                      text-transform: none;
                    }
                 
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    &.show{
                      opacity: 1;
                      visibility: visible;
                      z-index: 400;
                    }
                }
       
            }
            .select-input{
                width: 100%;
                margin: 0 auto;
                border: 1px solid $input-border;
                padding: 10px 20px;
                border-radius: 12px;
                position: relative;
                cursor: pointer;
                input{
                  height: 100%;
                  width: 100%;
                  display: flex;
                  font-size: 1rem;
                  border: 0;
                  outline: none;
                  background: transparent;
                  cursor: pointer;
                  &::placeholder{
                    text-align: left;
                  }
                }
                svg{
                  position: absolute;
                  right: 20px;
                  top: 20px;
                }
      
            }
        }
        .list-posts{
            .title-blog{
              color: $black;
            }
        }

        .pagination{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 80px;
          @include media(sm){
              padding-bottom: 60px;
          }
          @include media(xs){
              padding-bottom: 40px;
          }
          #pagination{
            display: flex;
            gap: 2rem;
            @include media(xs){
                gap: 1rem;
            }
            button{
              color: $black;
              font-size: 1rem;
              font-weight: 400;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              border: 1px solid transparent;
              background: transparent;
              @include media(xs){
                font-size: 14px;
              }
              cursor: pointer;
              &.active{
                border-color: $red;
                color: $red;
              }
            }
          }
        }

        .loader-container{
          padding: 40px 0;
          @include media-down(md){
            padding: 60px 0;
          }
        }
    }
}