.homepage{
    .hero{
        position: relative;
        min-height: 463px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include media(md) {
          min-height: 363px;
        }
        @include media(xs) {
          min-height: 263px;
        }
        .video-container{
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: 1;
          .hero__video-mobile,
          .hero__video-desktop{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
          }
        }

      
        .container {
          position: relative;
          z-index: 20;
          .content{
            color: $black-secondary;
            @include media(xs){
              max-width: 208px;
              width: 100%;
            }
            h1 {
              font-weight: 900;
              font-size: 28px;
              line-height: 120%;
              margin-bottom: 10px;
              @include media(sm){
                font-size: 24px;
              }
              @include media(xs){

                font-size: 18px;
              }
            }
        
            h2 {
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              @include media(sm){
                font-size: 20px;
              }
              @include media(xs){
                font-size: 14px;
              }
            }
          }
        }
    }
    .block-buscador,
    .block-buscador-2{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include media-down(md){
        position: relative;
        top: -5rem;
        left: 0;
      }
    }

    .card-block{
      @include media(md){
        padding-top: 40px;
      }
      a{
  
        display: flex;
        width: 100%;
        height: 100%;
        @include media-down(sm){
          transition: $slow;
          &:hover{
            transform: translateY(-14px);
          }
        }

      }
      .card{
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
          position: relative;
          width: 100%;
          text-align: center;
          padding-top: 15px;
          height: 97px;
          border-radius: 12px;
          padding-left: 9px;
          padding-right: 9px;
          @include media-down(sm){
            padding-left: 6%;
            padding-right: 5%;
            padding-top: 7%;
            padding-bottom: 10%;
            height: auto;
          }
          .card__main-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            @include media-down(sm){
              display: flex;
              flex-direction: row;
              gap: 10px;
              margin-bottom: 11px;
              align-items: center;
            }


              h3{
                font-size: 14px;
                font-weight: 600;
                color: $orange-secondary;
                line-height: 16.8px;
                margin-top: 8px;
                @include media-down(sm){
                    margin-top: 0;
                    font-size: clamp(10px, 2vw, 18px);
                    line-height: 120%;
                    transition: $fast;
                    span {
                      display: inline-flex;
                    }
                
                }
              }

              span {
                display: block;
              }
          }
          p{
            text-align: left;
            display: none;
            margin-bottom: 1rem;
            @include media-down(sm){
              font-size: 14px;
              line-height: 160%;
              display: block;
            }
          }
          .icon-wrapper{
            @include media-down(sm){
              justify-content: center;
            }
            display: flex;
       
            width: 28px;
            height: 28px;
            picture,img{
              object-fit: contain;
            }
          }
          .plus-icon-wrapper{
            display: none;
            @include media-down(sm){
              display: flex;
              svg{
                display: flex;
                position: absolute;
                bottom: 6%;
                right: 4%;
                width: 33px;
                height: 33px;
                *{
                  color: $orange-secondary;
                }
              }
            }
          }

      }
    }

    .main__promociones-container{
      position: relative;
      padding: 40px 0;
      @include media-down(md){
        padding: 60px 0;
      }

      .images-gallery {

        .card-promo{
          display: flex;
          width: 100%;
          max-height: 295px;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);


          picture,img{
            object-fit: cover;
            border-radius: 12px;
            transition: $slow;
          }
          @include media-down(md){
            &:hover{
              picture,img{
                transform: scale(1.035);
              }
            }
          }
        }

        > div:first-child{
           grid-column: span 12;
          @include media-down(sm){
            grid-column: span 8;
            
          }
        }

      }
      .button__container{
        @include media(sm){
          a.d-none-sm{
            margin-top: 20px;
          }
        }
      }
    }

    .block-experiencia{
      background: $gray-secondary;
      padding: 60px 0;
      @include media(md){
        padding: 40px 0;
      }

      .splide__track{
        @include media-down(md){
          padding: 1rem 0;
        }
      }
        .card{
            background: $white;
            border-radius: 12px;
            border: 1px solid  #DEDEDE;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            transition: $slow;
            .block-image{
              border-top-left-radius: 12px;
              border-top-right-radius: 12px;
              display: flex;
              overflow: hidden;
              picture,img{
                object-fit: cover;

                transition: $slow;
              }
            }
            .block-content{
                padding: 18px 22px;
                @include media(sm){
                  padding: 12px 1rem;
                }
                *{
                  color: $black;
                }
                h3{
                  font-size: 18px;
                  font-weight: 700;
                  margin-bottom: 1rem;
                  @include media(sm){
                    font-size: 1rem;
                    margin-bottom: 6px;
                  }
                }
                p{
                  font-size: 12px;
                  margin-bottom: 2px;
                }
                span{
                  font-size: 18px;
                  font-weight: 700;
                  @include media(sm){
                    font-size: 1rem;
                  }
                }
            }
            @include media-down(md){
              &:hover{
                transform: translateY(-10px);
                .block-image{
                  picture,img{
                    transform: scale(1.1);
                  }
                }
              }

            }
        }

      @include media(xs){
        .splide__slide{
          width: calc(75% + 0px) !important;
        }
      }
    }



    .block{
      padding: 60px 0;
      @include media(md){
        padding: 40px 0;
      }
    }
    .block-empresas,
    .block-financiacion{
      background: $gray-secondary;
      .block-title{
        margin-bottom: 4rem;
        @include media(md){
          margin-bottom: 2rem;
        }
      }
      .card{
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;

        width: 66%;
        @include media(md){
          width: 70%;
        }
      }
      .block-image{
        object-fit: contain;
        width: 100%;
      }
      .button__container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    .block-empresas{
      .splide__slide {
        .block-image{
          picture,img{
            filter: grayscale(100%);
            transition: $fast;
          }
          &:hover{
            img,picture{
              filter: grayscale(0);
            }
   
          }
        }

      }

    }
    .block-financiacion{
      background: $white;
      .card{
        width: 50% !important;
        height: auto;
        @include media(md){
          width: 70% !important;
        }
      }
      .button__container{
        @include media(sm){
          margin-top: 3rem !important;
        }
      }
    }
    
}