.single-default {
  padding: 80px 0;
  @include media(sm) {
    padding: 60px 0;
  }
  @include media(xs) {
    padding: 40px 0;
  }
  .container {
    max-width: 809px;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1,h2 {
      @include media-down(sm) {
        font-size: 28px;
      }
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .body {
    * {
      font-size: 1rem;
      color: $black;
      letter-spacing: -0.1px;
      line-height: 160%;
    }
    p {
      margin-bottom: 40px;
      @include media(sm) {
        margin-bottom: 20px;
      }
    }
    a {
      color: $green;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.single-default,
.layout-default {
  .mb-80 {
    h1 {
      margin-bottom: 80px !important;
      @include media(xs) {
        margin-bottom: 40px !important;
      }
    }
  }
}

.layout-default {
  padding: 80px 0;
  @include media(sm) {
    padding: 60px 0;
  }
  @include media(xs) {
    padding: 40px 0;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      @include media-down(sm) {
        font-size: 28px;
      }
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

.single-promocion {
  padding: 80px 0;
  padding-bottom: 0;
  @include media(sm) {
    padding: 60px 0;
    padding-bottom: 0;
  }
  @include media(xs) {
    padding: 40px 0;
    padding-bottom: 0;
  }
  .container-grid {
    padding-bottom: 80px;
    @include media(sm) {
      padding-bottom: 60px;
    }
    @include media(xs) {
      padding-bottom: 40px;
    }
    .row {
      @include media(xs) {
        row-gap: 20px;
      }
    }
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      @include media-down(sm) {
        font-size: 28px;
      }
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 40px;
    }
  }

  .card {
    background: $white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    transition: $slow;
    padding: 30px 46px 40px 46px;
    @include media(xs) {
      padding: 25px 46px;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;

      span {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 2rem;
        color: $green;
        @include media(xs) {
          margin-bottom: 10px;
        }
      }
      h2 {
        font-size: 18px;
        font-weight: 700 !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #b7b7b7;
        color: $gray;
        @include media(xs) {
          padding-bottom: 5px;
          font-size: 1rem;
        }
      }
      p {
        margin-top: 10px;
        font-size: 14px;
        color: $black;
        margin-bottom: 3.2rem;
        @include media(xs) {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 1rem;
        }
      }
    }
    &:hover {
      transform: translateY(-8px);
    }
  }
}

.single-financiacion {
  .container {
    .row-cards {
      .content {
        .image {
          width: 200px; /* Puedes ajustar el ancho según lo necesites */
          height: 33px; /* Puedes ajustar la altura según lo necesites */
          overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del div */
          display: flex;
          justify-content: center;
          align-items: center;
          picture,
          img {
            object-fit: contain;
          }
          margin-bottom: 2rem;
          @include media(xs) {
            margin-bottom: 1rem;
          }
        }
        span {
          color: $black;
          font-size: 14px;
          margin-bottom: 5px;
          @include media(xs) {
            font-size: 12px;
          }
        }
        p {
          margin-bottom: 22px;
          @include media(xs) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.single-blog {
  .container {
    .title {
      h1 {
        @include media(xs) {
          margin-bottom: 20px;
        }
      }
    }
    .single-body-blog {
      .title-page {
        text-align: center;
      }
      .image {
        margin-bottom: 2rem;
        @include media(xs) {
          margin-bottom: 20px;
          font-size: 1rem;
        }
      }
      h1 + p {
        max-width: 100%;
        font-size: 18px;
        @include media(xs) {
          font-size: 1rem;
        }
      }
      .block-last {
        .single-body {
          *:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.single-faqs {
  .container {
    .faq-according {
      border-bottom: 1px solid $faq-border;
      margin-bottom: 24px;

      .faq-according-title {
        display: flex;
        cursor: pointer;
        padding-bottom: 24px;
        h3,
        h2 {
          color: $black;
          max-width: 100%;
          width: 100%;
          margin-bottom: 0;
          transition: $fast;
          font-size: 1rem;
          font-weight: 700;
          display: inherit;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          line-height: 160%;
          @include media(xs) {
            line-height: 140%;
          }
        }

        .circle {
          background-color: transparent;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: $fast;
          width: 40px;
          height: 40px;
          @include media(sm) {
            width: 30px;
            height: 30px;
            i {
              font-size: 12px;
            }
          }
          i {
            color: $black;
            transition: $fast;
          }
        }
        &:hover {
          h3,
          h2,
          i {
            color: $purple;
          }
          .circle {
            background-color: transparent;
          }
        }
      }
      .faq-according-info {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.25s ease-out;
        .block-texto {
          background: transparent !important;
        }

        &.single-body {
          * {
            font-size: 1rem;
          }
          .image {
            margin-top: 1rem;
            margin-bottom: 2rem;
            max-height: 288px;
            width: 100%;
            picture,
            img {
              object-fit: cover;
            }
            @include aspectRatio();
            @include media(xs) {
              max-height: 170px;
              font-size: 1rem;
            }
          }
        }
        .content.container {
          max-width: 100%;
          padding: 0 0;
          padding-top: 10px;
          padding-bottom: 30px;
          background: transparent;
        }
      }

      &.show {
        h3,
        h2,
        i {
          color: $purple;
        }

        .circle {
          i {
            color: $purple;
            transform: rotate(-180deg);
          }
        }
      }
    }
    ul {
      list-style: none;
    }
  }
}

.single-gestion {
  .container {
    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      gap: 1.5em;
      @include media(md) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media(xs) {
        display: flex;
        gap: 10px;
        row-gap: 22px;
        flex-wrap: wrap;
        justify-content: center;

        .col-grid {
          width: 48%;
        }
      }

      .card {
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 15px;
        height: 100%;
        border-radius: 12px;
        padding-left: 18%;
        padding-right: 18%;
        padding-bottom: 10%;
        @include media-down(sm) {
          padding-left: 15%;
          padding-right: 15%;
          padding-top: 7%;
          padding-bottom: 10%;
        }
        .card__main-content {
          display: flex;
          flex-direction: column;
          gap: 14px;
          margin-bottom: 11px;
          align-items: center;
          @include media(xs) {
            gap: 5px;
          }
          h2 {
            font-size: 14px;
            font-weight: 600;
            color: $black;
            line-height: 16.8px;
            margin-top: 8px;
            @include media-down(sm) {
              margin-top: 0;
              font-size: clamp(10px, 2vw, 18px);
              line-height: 120%;
              transition: $fast;
              span {
                display: inline-flex;
              }
            }
          }

          span {
            display: block;
          }
        }
        p {
          text-align: left;
          display: none;
          @include media-down(sm) {
            font-size: 14px;
            line-height: 160%;
            display: block;
          }
        }
        .icon-wrapper {
          @include media-down(sm) {
            justify-content: center;
          }
          display: flex;

          width: 60px;
          height: 30px;
          @include media(xs) {
            width: 30px;
            height: 30px;
          }
          picture,
          img {
            object-fit: contain;
          }
        }
        .plus-icon-wrapper {
          svg {
            display: flex;
            position: absolute;
            bottom: 6%;
            right: 4%;
            width: 33px;
            height: 33px;
            * {
              color: $orange;
            }
          }
        }
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        @include media-down(sm) {
          transition: $slow;
          &:hover {
            transform: translateY(-14px);
          }
        }
      }
    }
  }
}

.single-como-comprar {
  .container {
    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 35px;
    }
    .card {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      background: $white;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 22px 0;
      padding-right: 23px;
      padding-left: 70px;
      min-height: 166px;
      position: relative;

      @include media(sm) {
        flex-direction: column !important;
        justify-content: center;
        min-height: auto;
      }
      @include media(xs) {
        padding-right: 20px;
        padding-left: 40px;
        gap: 5px;
      }
      .card-content {
        max-width: 300px;
        width: 100%;
        @include media(sm) {
        }
        *:last-child {
          margin-bottom: 0;
        }
        p {
          line-height: 160%;
          font-size: 1rem;
        }
        @include media(xs) {
          padding-left: 2rem;
        }
      }
      .card-number {
        background: $red;
        border: 4px solid $white;
        color: $white;
        border-radius: 100%;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        font-size: 1.5rem;
        line-height: 98%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        @include media(sm) {
          top: 28%;
          left: 2rem;
        }
        @include media(xs) {
          top: 2rem;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 109%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 89%;
        background: $red;
        z-index: 2;
        @include media(sm) {
          top: 89%;
          left: 2rem;
          height: 100%;
        }
        @include media(xs) {
          top: 78%;
        }
      }
      @include media(sm) {
        .img-wrapper {
          display: flex;
          width: 100px;
          height: 60px;
          @include media(xs) {
            width: 150px;
            height: 40px;
          }
          picture,
          img {
            object-fit: contain;
          }
        }
      }
    }

    .card:nth-child(even) {
      flex-direction: row-reverse;
      @include media-down(sm) {
        padding-right: 80px;
        padding-left: 34px;
      }
    }
    .card:last-child {
      &::before {
        display: none;
      }
    }
    .card:nth-child(3) {
      @include media-down(sm) {
        padding-left: 109px;
      }
    }
    .card:nth-child(4) {
      @include media-down(sm) {
        padding-right: 140px;
      }
    }
  }
}
.single-nosotros {
  .hero {
    position: relative;
    min-height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media(md) {
      min-height: 363px;
    }
    @include media(xs) {
      min-height: 263px;
    }
    @include media-down(xs) {
      background-image: var(--background-image-desktop);
    }
    background-image: var(--background-image-mobile);
    background-size: cover;
    background-position: center;

    &::before {
      @include bg-presets();
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000036;
      mix-blend-mode: multiply;
      z-index: 1;
    }
    .container {
      .hero-content {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 3;
        h1 {
          color: $white;
        }
      }
    }
  }
  .block-intro {
    padding: 90px 0;
    background: $white;
    @include media(sm) {
      padding: 50px 0;
    }
    @include media(xs) {
      padding: 30px 0;
    }
    .container-sm {
      .block-text-content {
        text-align: center;
        p {
          @include media(xs) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .block-two-columns {
    background: $gray-nosotros;
    padding: 97px 0 50px 0;
    @include media(sm) {
      padding: 57px 0 25px 0;
    }
    @include media(xs) {
      padding: 30px 0 30px 0;
    }
    .container {
      .image {
        picture,
        img {
          border-radius: 12px;
          object-fit: cover;
        }
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 70px;
        flex-direction: column;
        @include media(sm) {
          padding: 0 20px;
        }
        @include media(xs) {
          padding: 0;
        }
        *:not(.btn) {
          font-size: 18px;
          @include media(sm) {
            font-size: 1rem;
          }
        }

        .btn {
          margin-top: 40px;
          @include media(sm) {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .block-two-columns + .block-two-columns {
    padding: 25px 0 90px 0;
    @include media(xs) {
      padding: 0 0 40px 0;
    }
    @include media(xs) {
      .row {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  .block-two-columns:last-child {
    padding-top: 70px;
    padding-bottom: 90px;
    @include media(sm) {
      padding-top: 40px;
      padding-bottom: 70px;
    }
    @include media(xs) {
      padding-top: 0;
      padding-bottom: 60px;
    }
    .content {
      padding: 0 0;
    }
  }
  .block-cards {
    padding-bottom: 40px;
    background: linear-gradient(to bottom, $gray-nosotros 50%, $white 50%);
    @include media(xs) {
      background: linear-gradient(to bottom, $gray-nosotros 14%, $white 10%);
    }
    .container {
      .card {
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        gap: 20px;
        padding: 35px;
        background: $white;
        border-radius: 12px;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
        height: 100%;

        @include media(sm) {
          grid-template-columns: 1fr;
        }
        .image {
          display: flex;
          height: 117px;
          picture,
          img {
            object-fit: contain;
          }
          @include media(xs) {
            height: 100px;
          }
        }
        .content {
          @include media(sm) {
            text-align: center;
          }
          * {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
.single-contacto {
  .container {
    .card {
      border: 1px solid $green;
      padding: 34px 65px;
      display: flex;
      border-radius: 12px;
      @include media(sm) {
        padding: 34px 18px;
        flex-direction: column;
      }
      margin-bottom: 40px;
      @include media(sm) {
        margin-bottom: 30px;
      }
      ul {
        list-style: none;
        li {
          display: flex;
          margin-bottom: 20px;
          gap: 10px;
          font-size: 1rem;
          font-weight: 600;
          @include media(sm) {
            font-size: 14px;
          }
          img {
            width: 24px;
            height: 20px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
.single-destino {
  .hero {
    position: relative;
    min-height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media(md) {
      min-height: 363px;
    }
    @include media(xs) {
      min-height: 263px;
    }
    .container {
      position: relative;
      z-index: 20;
      .hero-content {
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include media(xs) {
          max-width: 208px;
          width: 100%;
        }
        h1 {
          font-weight: 500;
          font-size: 28px;
          line-height: 120%;
          color: $white;
          margin-bottom: 0;
          @include media(sm) {
            font-size: 24px;
          }
          @include media(xs) {
            font-size: 18px;
          }
          strong {
            font-weight: 900;
          }
        }
      }
    }
  }
  .block-buscador {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-down(md) {
      position: relative;
      top: -5rem;
      left: 0;
    }
  }
  .block-text {
    padding-bottom: 40px;
    @include media(md) {
      padding-top: 40px;
    }
    @include media(sm) {
      padding-bottom: 40px;
    }
    @include media(xs) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    .google-maps {
      margin-top: 0;
      height: 282px;
      margin-bottom: 2rem;
      @include media(sm) {
        margin-bottom: 1rem;
        height: 320px;
      }
    }
  }
  .destinos-relacionados {
    padding: 54px 0;
    @include media(xs) {
      padding: 30px 0;
    }
    h3 {
      margin-bottom: 20px;
    }
    .row {
      gap: 5px;
      h3{
        @include media(sm){
          font-size: 16px;
        }
      }
      .links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a{
          margin-bottom: 5px;
          width: auto;
          display: flex;
        }
      }
    }
    a {
      text-decoration: underline;
      color: $green !important;
    }
  }
}
.single-terminales {
  .hero {
    
    .hero-content {
      max-width: 458px !important;
      .title-terminal {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 120%;
        letter-spacing: 1px;
        font-weight: 500;
        color: $white;
        margin-bottom: 10px;
        @include media(xs) {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
    }
    &::before {
      @include bg-presets();
      left: 0;
      bottom: 0;
      @include gradient(right, 0.7);
      @include media(xs) {
        @include gradient(top, 0.7);
      }
      width: 100%;
      height: 100%;
    }
  }
  .block-text {
    .container-sm {
      .btn-archive {
        padding-bottom: 60px;
        @include media(xs) {
          padding-bottom: 40px;
        }
      }
    }
  }
}

.single-terminal {
  .lists-terminales {
    padding: 80px 0;
    @include media(md) {
      padding: 40px 0;
    }
  }
}

.single-tu-viaje {
  .details-tu-viaje {
    .card {
      margin-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 40px 40px;
      background: $white;
      @include media(sm) {
        margin-top: 0;
        background: transparent;
        padding: 0;
        box-shadow: none;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
        @include media(sm) {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      h3 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 5px;
        @include media(sm) {
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 14px;
      }
      table {
        width: 100%;
        background: $gray-secondary;
        border-radius: 12px;
        margin-top: 1rem;
        border-collapse: collapse;
        border: 1px solid #ddd;

        th,
        td {
          font-size: 14px;
          text-align: left;
          padding: 10px 10px;
          border: 1px solid #ddd;

        }
        @include media(sm) {
          display: block; /* Hacer que la tabla sea un bloque para facilitar el control con grid */
          width: 100%;
          border-collapse: collapse; /* Eliminar el espacio entre celdas */
          margin: 20px 0;

          td {
            display: table-cell; /* Asegurar que las celdas se comporten como celdas de tabla */
            padding: 14px 10px;
            border: 0;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            text-align: right;
            &::before{
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            &:last-child{
              border: 0;
            }
          }
          thead {
            display: none;
          }
          tbody {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Dos columnas */
          }

          tr {
            display: contents; /* Muestra el contenido de las filas en el grid */
          }
        }
      }
    }
    .map-container {
      height: 450px;
      @include media(sm) {
        height: 250px;
      }
      .update-bus {
        h4 {
          font-size: 1rem;
          margin-bottom: 10px;
          @include media(xs){
            font-size: 14px;
          }
        }
        p {
          font-size: 12px;
          margin: 0;
          margin-bottom: 5px;

        }
        strong {
          text-transform: uppercase;
        }
      }
    }
  }
}

.destino-principal{
  .single-text-pagina-seo{
    .content{
      display: flex;
      flex-direction: column;
      @include media(md){
        padding-top: 40px;
      }
      p{
        margin-bottom: 20px;
      }
      h2{
        @include media-down(sm){
          font-size: 22px;
        }
        
      }
      ul{
        list-style-position: inside;
        li{
          margin-bottom: 20px;
        }
      }
      > *:last-child{
        margin-bottom: -10px;
      }
    }

  }
  .destinos-relacionados{
    .row-links{
      a{
        flex-direction: column;
        width: 100%;
      }
    }
  }
}