.single-viaclub {
  p{
    font-size: 18px;
    @include media(sm){
        font-size: 16px;
    }
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .hero {
    width: 100%;
    position: relative;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include media(sm) {
      padding: 2rem 0 4rem 0;
      min-height: 40dvh;
    }
    @include media(xs) {
 
      min-height: 35dvh;
    }
    @include bg-image-svg("", "hero-viaclub.svg");
    background-position: bottom;
    background-size: cover;
    @include media(sm){
        @include bg-image-svg("", "hero-mobile-viaclub.svg");
   
    }
    .content {
      .title {
        text-align: left;
        width: 100%;
        justify-content: flex-start;
      }

      .buttons{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        @include media(xs){
            flex-direction: column;
        }
      }
    }
    .sectionLoginViaClub{
      @include media(md){
        form{
          width: 100%;
        }

  
      }
      @include media(sm){
        h2{
          font-size: 28px;
        }
      }
      @include media(xs){
        input[type=text],
        input[type=password],
        select{
          width: 100%;
        }
        a{
          min-width: 100%;
        }

      }
    }
  }
  .points{
    padding: 3rem 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    @include media(md){
      padding: 2rem 0;
    }
    .col-12{
        text-align: center;

    }
    .logo-gal{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        margin: 2rem 0px;
        padding: 0 6rem;
        gap: 20px;
        @include media(sm){
            margin: 1rem 0;
            padding: 0;
            gap: 0;
        }
        .cont-logo-gal{
            display: flex;
            height: 47px;
            align-items: center;
            text-align: center;
            margin-bottom: 1rem;
            mix-blend-mode: multiply;
            filter: grayscale(100%);
            min-width: 20% !important;
   
            picture,img{
                width: auto;
                height: auto;
            }
        }

    }
    .text-end{
        p{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
  }
  .my-points{
    padding: 3rem 0 4rem 0;
    @include media(md){
      padding: 2rem 0;
    }
    p{
      text-align: center;
    }
    h2{
      max-width: 100%;
    }
    .box-block{
      margin-bottom: 2rem;
      padding: 0 10rem;
      @include media(lg){
        padding: 0 5rem;
      }
      @include media(md){
        padding: 0 0rem;
      }
    }
    .box-wrapper{ 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 35px;
      background: $white;
      border-radius: 12px;
      box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, .08);
      height: 100%;
      @include media(md){
        padding: 35px 20px;
      }
      .button__container{
        justify-content: center;
      }
    }
  }
}
