.block-related_blog{
    background: $gray-secondary;
    padding: 40px 0;
    @include media-down(md){
      padding: 60px 0;
    }
    h2{
        color: $dark;
    }
    .row{
        @include media(sm){
            row-gap: 30px;
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: $slow;
        .block-image{
            display: flex;
            height: 200px;
            @include aspectRatio();
            border-radius: 12px;
            overflow: hidden;
            picture,img{
                border-radius: 12px;
                transition: $slow;
                object-fit: cover;
            }
        }
        .title-blog{
            margin-top: 1rem;
            color: $dark;
            font-size: 18px;
            @include media(xs){
                margin-top: 10px;
                font-size: 1rem;
            }
        }

        &:hover{
            transform: translateY(-10px);
            .block-image{
                picture,img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .btn-down{
        margin-top: 2rem;
    }
}