
.block-buscador{
  .container{
      @include media(md){
          padding: 0;
      }
      .buscador{
          background: $header;
          border-radius: 12px;
          padding: 24px 20px;
          z-index: 40;
          @include media(md){
              border-radius: 0;
          }
          .row{
              width: 100%;
              gap: 10px;
              grid-template-columns: 1.5fr .8fr .4fr .1fr;
              @include media(md){
                grid-template-columns: 1fr;
              }
              @include media(xs){
                  display: flex;
                  flex-direction: column;
              }
              .column{
                  background: $white;
                  position: relative;
                  display: flex;
                 
                  height: 100%;
                  border-radius: 6px;
                  border-color: $border-gray-input;
                  &.column-icon{
                    input{
                        padding-left: 1.4rem !important;
                        padding-right: 1.4rem !important;
                    }
                  }
                  .input-container{
                      display: flex;
                      width: 100%;
                      flex-direction: column;
                      padding: 10px 16px;
                      position: relative;
                      @include media(sm){
                        padding: 14px 10px;
                      }
                      label{
                          font-size: 12px;
                          font-weight: 500;
                          width: 100%;
                      
                      }
                      input{
                          border: 0;
                          width: 100%;
                          padding: 4px 0;
                          outline: none;
                          border-radius: 0;
                          font-size: 14px;
                          font-weight: 600;
                          color: $black;
                          height: auto;
                          &::placeholder{
                              color: $gray-input;
                          }
                          &::selection{
                              background: #339;
                              color: #fff;
                              border: none;
                              border-radius: 0;
                          }
                      }
                      .input-icon{
                        position: absolute;
                        top: 63%;
                        left: 24px;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        @include media(sm){
                            left: 18px;
                        }
                      }
                      .input-location{
                        position: absolute;
                        top: 63%;
                        left: 24px;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        z-index: 2;

                        @include media(sm){
                            left: 18px;
                        }
                      }
                      .input-delete{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        display: none;
                        &.show{
                          display: block;
                        }
                        @include media(xs){
                          svg{
                            width: 10px;
                            height: auto;
                          }
                        }
                      }
      
                      .btn-descuento{
                          padding: 10px 0;
                          height: 100%;
                      }
                      .autoComplete_wrapper>ul{
                          left: -9px;
                          margin: .8rem 0 0 0;
                          border: 0;
                          border-radius: 0;
                          width: 432px;
                          z-index: 20;
                          @include media(md){
                              width: 95vw;
                          }
                          @include media(xs){
                              width: 89vw;
                          }
                          li{
                              font-size: 14px;
                              &:hover{
                                  background: #e4e4e473;
                              }
                          }
                          .no-results{
                              padding: 10px 10px;
                              span{
                                  font-size: 14px;
                          
                              }
                          }

                      }
                  }
                  &.column-origen-salida{
                      @include media(xs){
                          flex-direction: column;
                      }
                      .input-container:nth-child(1){
                          border-right: 1px solid $border-gray-input;
                          input{
                            width: 95%;

                          }
                          .input-delete{
                            right: 20px;
                          }

                          @include media(xs){
                            .input-delete{
                                right: 10px;
                            }
                          }

                          @include media(xs){
                            padding-bottom: 14px;
                          }

                      }
                      .input-container:nth-child(3){
                          input{
                            width: 95%;
                          }
                          @include media(xs){
                              border-top: 1px solid $border-gray-input;
                          }
                          @include media-down(sm){
                            padding: 10px 24px !important;
                          }
                          @include media-down(xs){
                              padding: 14px 24px;
                          }
                        
      
                      }
                  }
                  &.column-descuento{
                      display: grid;
                      grid-template-columns: 1fr .8fr;

                  }
                  .arrow-double{
                      position: absolute;
                      top: 26%;
                      right: 48%;
                      width: 30px;
                      height: 30px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transform: rotate(90deg);
                      border-radius: 100%;
                      z-index: 20;
                      @include media(xs){
                          transform: rotate(0);
                          // top: 36%;
                          // right: 10px;
                          top: 53px;
                          right: 6px;
                      }

                      // -webkit-box-shadow: 0px 13px 3px -9px rgba(0, 0, 0, 0.19);
                      // -moz-box-shadow: 0px 13px 3px -9px rgba(0, 0, 0, 0.19);
                      // box-shadow: 0px 13px 3px -9px rgba(0, 0, 0, 0.19);
                  }
      
              }
              .column-origen-salida{
                >div:last-child{
                    .input-location{
                        @include media-down(xs){
                            left: 32px;
                        }
                    
                    }
                }
                input{
                    padding-left: 1.4rem !important;
                    padding-right: 1.4rem !important;
                }
              }
              .button__container{
                  height: 100%;
                  display: flex;
                  @include media(md){
                      justify-content: center;
                      align-items: center;
                  }
              }
          }
          .descuento-container{
              margin-top: 20px;
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: center;
              @include media(md){
                  // justify-content: flex-start;
                  margin-top: 0;
              }
              p{
                font-size: 14px !important;
                @include media(md){
                  font-size: 16px !important;
                }
              }

              .content{
                  gap: 10px;
                  align-items: center;
                  > p{
                      font-size: 12px;
                      color: $white;
                      font-weight: 500;
                  }
                  .switch{
                      position: relative;
                      display: inline-block;
                      width: 32px;
                      height: 16px;
                      display: flex;
                      input{
                          opacity: 0;
                          width: 0;
                          height: 0;
                      }
                      .slider{
                          position: absolute;
                          cursor: pointer;
                          top: 0;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          background-color: #1F2A42;
                          -webkit-transition: .4s;
                          transition: .4s;
                          border-radius: 34px;
                          &::before{
                              position: absolute;
                              content: "";
                              height: 11px;
                              width: 11px;
                              left: 3px;
                              bottom: 2px;
                              background-color: white;
                              -webkit-transition: .4s;
                              transition: .4s;
                              border-radius: 50%;
                          }
                      }
                      input:checked + .slider {
                          background-color: $orange;
                      }
                      input:focus + .slider {
                          box-shadow: 0 0 1px $orange;
                      }
                        
                      input:checked + .slider:before {
                          -webkit-transform: translateX(15px);
                          -ms-transform: translateX(15px);
                          transform:translateX(15px);
                      }
                  }
                  .popup{
                      display: flex;
                      flex-direction: column;
                      button{
                          background: none;
                          outline: none;
                          border: 0;
                          display: flex;
                          cursor: pointer;
                      }
                      .popup-card{
                          position: absolute;
                          bottom: -3rem;
                          right: -16rem;
                          background: $gray;
                          color: $white;
                          padding: 16px 20px;
                          border-radius: 8px;
                          width: 250px;
                          visibility: hidden;
                          z-index: -1;
                          opacity: 0;
                          transition: $slow;
                          p{
                              font-size: 14px !important;
                              font-weight: 700;
                          }
                          @include media(sm){
                              bottom: -6rem;
                              right: 0rem;
                          }
                      }
                      &:hover{
                          .popup-card{
                              visibility: visible;
                              z-index: 44;
                              opacity: 1;
                          }
                      }
                  }
              }
          }

      }

      .border-right{
          border-right: 1px solid $border-gray-input;
      }
      .col-descuento{
        grid-column: 1 / -1;
      }
      @include media(md){
          .col-descuento{
              order: 4 !important;
              margin: 10px 0;
          }
      }
      #cambiarInputs{
          cursor: pointer;
      }
  }
  .buscador:not(.cupon-active){
      .col-origen{
        //   grid-column: span 6;
          @include media(md){
            //   grid-column: span 12 !important;
          }
          @include media(sm){
            //   grid-column: span 12 !important;
          }
        
      }

      .col-fechas{
          @include media(md){
            //   grid-column: span 6 !important;
          }
          @include media(sm){
            //   grid-column: span 6 !important;
          }
      }
  }
  .col-cupon{
      display: none;
  }
  .cupon-active{
      .col-cupon{
          display: block;
      }
      .row{
        grid-template-columns: 1.5fr .7fr .3fr .9fr .1fr !important;
        @include media(lg){
            grid-template-columns: 1fr .7fr .3fr .9fr .1fr !important;
        }
        @include media(md){
            grid-template-columns: 1fr !important;
        }
      }
      .col-pasajeros{
        // grid-column: span 1 !important;
      }
      .button__container{
        button{
            padding: 12px 18px;
        }
        svg{
            @include media-down(md){
                display: block !important;
            }
            
            
        }
        span{
            @include media-down(md){
                display: none;
            }
        
        }
      }
      .col-origen{
        // grid-column: span 5;
      }
  }
  .result-item{
    mark{
      color: $black;
    }
  }
  .autoComplete_wrapper>input:focus::placeholder{
    font-size: 14px !important;
    padding: 0 !important;
  }

  .input-error{
      label{
          color: $red;
      }
      input{
          color: $red !important;
          &::placeholder{
              color: $red !important;
          }
      }
  }
  .input-success{
      label{
          color: $green-solid;
      }
      input{
        color: $green-solid;
          &::placeholder{
              color: $green-solid !important;
          }
      }

  }
  .column-descuento{

    .input-container{

      .input-icon.delete{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: none;

      }
      .cupon-delete{
        @include media(md){
            top: 50% !important;
            left: initial !important;
            right: 1rem !important;
        }
      }
      
    }
    &.toggle-validation{
      grid-template-columns: 1fr .2fr !important;
      button{
        display: none !important;
      }
      .input-icon.delete{
        display: block;
      }
    }
  }


  
}

  .modal-terminal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.349);

    &.show{
      display: flex;
    }
    .content{
      display: flex;
      max-width: 820px;
      width: 100%;
      height: 350px;
      border-radius: 16px;
      position: relative;
      @include media(sm){
        max-width: 90%;
      }
    }
    #mapaTerminal{
      position: relative;
      width: 100%;
      height: 400px;
      border-radius: 16px;
      @include media(sm){
        height: 250px;
      }
    }
    .close-modal-terminal{
      position: absolute;
      right: 11px;
      top: 0px;
      z-index: 1000;
      outline: none;
      background: transparent;
      border: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .item__terminal-buscador{
        h2{
          font-size: 12px;
          margin-bottom: .5rem;
        }
        h3,p{
          font-size: 14px;
          margin-bottom: .8rem;
          @include media(sm){
            font-size: 12px;
          }
        }
        p{
          font-size: 12px;
          margin: 0;
        }
    
    }
    .leaflet-popup-close-button{
        span{
          font-size: 2rem;
        }
    }
  }


