

.button__container{
    display: flex;
    width: 100%;
}

.btn{
    padding: 12px 24px;
    color: $white;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
    transition: $fast;
    font-size: 14px;
    border: none;
    color: $black;
    border: 1px solid $white;
    cursor: pointer;
    position: relative;

    text-transform: uppercase;
    border-radius: 6px;
    letter-spacing: 0.5px;
    font-weight: 700;
    @include media(md){
        min-width: 198px;
    }
    @include media(sm){
    
        min-width: 143px;
        padding: 11px 22px;
    }
    @include media(xs){
        font-size: 14px;
    }
    text-decoration: none !important;
 
}

.btn-md{
    @include media-down(sm){
        min-width: 150px;
    }
    
    
}

.btn-orange{
    background: $orange;
    color: $white;
    border-color: $orange;
    // &:hover{
    //     background: $purple;
    //     border-color: $purple;
    // }
    &:hover{
        background: $green-solid;
        border-color: $green-solid;
    }
}

.only-text{
    padding: 2px 0;
    border: 0;
    min-width: auto;
    border-radius: 0;
    &.orange{
        color: $orange;
        background-color: transparent;
        @include hoverButtonLine($orange);
    }

    &.black{
        color: $black;
        background-color: transparent;
        @include hoverButtonLine($red);
    }
    &.white{
        color: $white;
        background-color: transparent;
        @include hoverButtonLine($white);
    }
    &.icon{
        i{
            font-size: 12px;
        }
 
    }
}

.only-text{
    &.green-solid{
        color: $green-solid;
    }
}


.btn-icon{
    svg{
        margin: 0 5px;
    }
}