#datepicker-container{
    $color-selected: $green-solid;
    $color-range: #65B8B0;
    $color-text: #383838;
    $font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16161646;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    @include media(xs){
        justify-content: flex-end;
        align-items: flex-end;
    }

    &.show{
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }
    .datepicker-content {
        max-width: 380px;
        width: 100%;
        background: $white;
        border-radius: 32px;
        font-family: Arial, sans-serif;
        padding: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @include media(xs){
            max-width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
      #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid $color-text;
        h3{
            font-size:  $font-size;
            color: $color-text;
            text-transform: uppercase;
        }
        button{
            padding: 0;
            width: auto;
            min-width: auto;
        }
        padding: .2rem 1.5rem;
      }
      #weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        padding: 10px 1rem;
        span{
            color: $color-text;
            font-size:  $font-size;
        }
      }
      #month-list {
        overflow-y: scroll;
        height: 400px;
        width: 105%;
        padding: 0 1rem;
        overflow-x: hidden;
        @include media(xs){
          height: 300px;
        }
        .month-header{
            color: $color-text;
            padding: 0 10px;
        }
      }
      #month-list::-webkit-scrollbar {
        display: none;
        }
        
        /* Ocultar scrollbar en Firefox */
        #month-list {
            scrollbar-width: none; /* Firefox */
        }
      #calendar-scroll {

      }
      .month-container {
        padding: 10px 0;

      }
      .month-header {
        text-align: left;
        font-weight: bold;
        color: #383838;
        font-size:  $font-size;
      }
      .month-header::first-letter,
      .selected-range::first-letter {
        text-transform: uppercase;
      }
      .days-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 4px;
        > div:nth-child(7n + 1){

            &.range{
                &::after{
                    left: -16px;
                }
              &.range-last{
                &::after{
                    left: -16px;
                    width: 220%;
                }
              }
            }
        }
        > div:nth-child(7n){

 
        }
      }

      .day {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        span{
            font-size:  $font-size;
        }
        &:not(.range, .selected-end, .selected-start, .currentDay){
            &:hover{
                background-color: #f0f0f0;
            }
        }

        &.day-off{
            opacity: .5;
            cursor: not-allowed;
        }


      }
      .day.range-first.range.range-last{
        
        &::after{
            left: -2rem;
            width: 270%;
        }
      }
      .empty-day {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #d4d4d4;
        // cursor: not-allowed;
      }
      .currentDay {
        border: 1px solid $color-selected;
        border-radius: 50%;
        color: $color-selected;
        span{
            color: $green-solid !important;
        }

      }
      .currentDay.range {
        border: none;
      }

      .range {
        background-color: $color-range;
        // color: $white;
        border-radius: 0;
        position: relative;
        z-index: 2;
      }
      .day span {
        position: relative;
        z-index: 10;
        color: #4A4459;
        /* background-color: $color-range; */
      }
      .selected-start,
      .selected-end {
        background-color: $color-selected;
  
        z-index: 4;
        span{
            color: $white !important;
        }
      }
      .range::after {
        content: "";
        position: absolute;
        width: 200%;
        background-color: $color-range;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        @include media(sm){
          width: 252%;
        }
      }

      .range-first::after {
        left: initial;
        right: -44px;
        width: 300%;

      }
      .range-last::after {
        left: 20px;
        width: 140%;
      }
      .range-last::after {
        background-color: $color-range;
      }
      .range:last-child {
        // background:  $color-range;
      }
      #selected-range{
        text-align: center;
        font-weight: 700;
        padding-top: 32px;
        padding-bottom: 1rem;
        #selected-dates{
            font-size: $font-size;
        }
      }

      #calendar-actions{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
      }
}