$white: #fff;
$dark: #000;
$black: #333332;
$black-secondary: #231f20;
$header: #7FC53B;
$header-trans: #a3ce78;
$gray: #4C5567;
$gray-secondary: #F8F7F6;
$gray-lines:  #ffffff1c;
$orange: #E2A615;
$orange-secondary: #dc943b;
$purple: #6A3FB9;
$gray-input: #AFAFAF;
$border-gray-input: #E6E6E6;
$green: #7FC53B;
$red: #B92C32;
$sky:#80B0E5;
$input-border: #DEDEDE;
$faq-border: rgba(76, 85, 103, 0.25);
$gray-nosotros: rgba(76, 85, 103, 0.09);
$red-error: #f8d7da;
$red-error-text: #B92C32;
$red-error-text-info: #dc3545;
$green-solid: #008275;
$gray-light: #f8f7f6;
.bg-white{
    background: $white !important;
}

.bg-gray{
    background: $gray !important;
}

.bg-gray-secondary{
   background: $gray-secondary !important;
}

.text-orange{
    color: $orange-secondary;
}