form:not(#frmLoginSocio){
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 60px 65px;
    @include media(md){
        margin-top: 30px;
        padding: 40px 35px;
    }
    @include media(xs){
        padding: 30px 18px;
    }

    .field-input{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        label{
            font-size: 12px;
            color: $black;
            margin-bottom: 5px;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;
            .error{
                font-size: 10px;
                color: $red-error-text-info;
                font-weight: 500;
            }
        }
        input{
            font-size: 1rem;
            font-weight: 400;
            line-height: 160%;
            border-radius: 12px;
            border: 1px solid $gray;
            outline: none;
            padding: 0 1rem;
            height: 64px;
            @include media(xs){
                height: 50px;
                font-size: 14px;
            }
        }
    }
    .field-submit{
        @include media(sm){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    #error-container{
        p{
            font-size: 14px;
            font-weight: 400;
            padding: 14px 0;
            color: $red-error-text;
            border-radius: 4px;
            background: $red-error;
            width: 100%;
            text-align: center;
            border-radius: 4px;
            margin-bottom: 2rem;
            @include media(xs){
                padding: 14px 40px;
                margin-bottom: 1rem;
            }
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1.2rem;
                font-size: 1.1rem;
                @include media(xs){
                    font-size: 1rem;
                    left: 1rem;
                }
            }
        }
    }

    .loader {
        width: 19px;
        height: 19px;
        border-color: $white;
        border-bottom-color: rgba(0, 0, 0, 0);

    }
}
