
$grid-columns: 12;
$grid-gutter:2em;


    .container{
      // max-width: 1191px;
      max-width: 1270px;
      width: 100%;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      @include media(sm){
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }

    }


    .container-md{
      max-width: 1170px;
      // max-width: 1270px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      @include media(sm){
        max-width: 100%;
      }
      @include media(sm){
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .container-sm{
      max-width: 809px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      @include media(xs){
          max-width: 100%;
      }
      @include media(sm){
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .container-fluid {

      width: 100%;
      margin: 0 auto;

      @include media(sm){
        width: 100%;

      }
    }

    .row{
      width: 100%;
      display: grid;
      grid-template-columns: repeat($grid-columns, 1fr);
      grid-gap: $grid-gutter;
      @include media(sm){
        grid-gap: 1.5em;
      }
      @include media(xs){
        grid-gap: 12px;
      }
    }
    
    .w-100{
      width: 100%;
    }
    
    
    
    @mixin create-mq($breakpoint) {
      @if ($breakpoint == 0) {
        @content;
      } @else {
        @media screen and (min-width: $breakpoint) {
          @content;
        }
      }
    }
    
    @mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
      @include create-mq($breakpoint) {
        @for $i from 1 through $grid-columns {
          .col#{$modifier}-#{$i} {
            grid-column: span ($i);
          }
        }
      }
    }
    
    @each $modifier , $breakpoint in $map-grid-props {
        @include create-col-classes($modifier, $grid-columns, $breakpoint);
    }

