.loader {
    width: 32px;
    height: 32px;
    border: 2.5px solid $black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .9s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}