.main__newsletter{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $green-solid;
    height: 241px;
    align-items: center;
    color: $white;
    padding-top: 37px;
    overflow: hidden;
    picture,img{
      width: auto;
      height: auto;
    }
    .heading-newsletter {
        padding: 0 60px;
        .article-title-newsletter {
            font-size: 18px;
            font-weight: 700;
            line-height: 140%;
            text-align: center;
            @include media(sm){
              padding-bottom: 20px;
            }
        }
    }
    .form {
        width: 100%;
        position: relative;
        display: flex;
        background: $white;
        border-radius: 8px;
        padding: 8px 10px;
        height: 60px;
        margin: 0 auto;
        @include media(xs){
          padding: 4px 5px;
          height: 44px;
        }
        input {
          display: flex;
     
          border-radius: 8px;
          border: none;
          width: 100%;
          max-width: 93%;
          margin: 0 auto;
          font-size: 14px;
          line-height: 16.8px;
          padding-left: 12px;
          outline: none;
        }
    
        input::placeholder {
          color: $black;
        }
    
        .form-btn-mobile {
          background-color: $orange;
          border: none;
          border-radius: 6px;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 5%;
          /* bottom: 24px; */
          top: 50%;
          transform: translateY(-50%);
          right: 9%;
          top: 49%;
          transform: translateY(-50%);
        }
    
        .form-btn-desktop {
          display: none;
        }
        button{
          min-width: auto;
          padding: 10px 10px;
          i{
            font-size: 1.1rem;
          }
        }
      }
    
      .newsletter-img-desktop {
        display: none !important;
         
            width: auto;
            height: auto;
   
       
      }
    
      .vector1 {
        position: absolute;
        top: 0;
        left: 0;
      }
    
      .vector2 {
        position: absolute;
        top: 13px;
        right: 0;
      }


}

@include media-down(sm){
  .main__newsletter {
    padding-top: 65px;
    padding-bottom: 121px;
    height: auto;

    .heading-newsletter {
      .article-title-newsletter {
        font-size: 24px;
        font-weight: 700;
      }
    }

    h2 {
      margin-bottom: 26px;
    }

    .form {
      width: 70%;
      // padding-top: 0;
      // padding-bottom: 0;
      z-index: 100;

      input {
        height: 100%;
        padding-left: 32px;
      }

      input::placeholder {
        font-size: 16px;
      }
    }
  }
}

@include media-down(md){
  .main__newsletter {
    padding-top: 66px;
    padding-bottom: 121px;
    .heading-newsletter {
      .article-title-newsletter {
        font-size: 24px;
      }
    }
    .form {
      width: 44%;

      input {

        font-size: 16px;
        padding-left: 16px;
        max-width: 100%;
      }

      .form-btn-mobile {
        display: none;
      }

      .form-btn-desktop {
        background-color: var(--purple-primary-color);
        border: none;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1%;
        bottom: 24px;
        margin-right: 5px;
        top: 52%;
        transform: translateY(-50%);

        .primary-button {
          padding: 14px 38px;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }

    .vector1,
    .vector2 {
      display: none;
    }

    .newsletter-img-desktop {
      display: block !important;
      position: absolute;
      // left: 42px;
      bottom: -44px;
      @include media(lg){
        left: 42px;
      }
    }

    /* MAIN BLOG start */

    /* MAIN BLOG end */
    /* BLOG POST start */
  }
}

@include media-down(lg){
  .form {
    width: 37%;
  }
  .newsletter-img-desktop {
    left: 8%;
  }
}