@import "./components/fonts";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
  @include media(sm) {
    font-size: 35px;
  }
  @include media(xs) {
    font-size: 20px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;
  @include media(sm) {
    font-size: 24px;
  }
  @include media(xs) {
    font-size: 18px;
  }
}

a {
  color: $dark;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  @include media(sm) {
    font-size: 18px;
  }
  @include media(xs) {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: flex;
}

.theme.customize-support {
  header {
    top: 32px;
    @include media-custom(782.5px) {
      top: 46px !important;
    }

    .button-menu-right {
      top: 3rem !important;
      @include media(md) {
        top: 2.5rem !important;
      }
      @include media(xs) {
        top: 3rem !important;
      }
    }
  }
  .menu__container {
    top: 32px;
  }
  @include media(md) {
    .content-page-default {
      padding-top: 0;
    }
    .menu-links-container {
      top: 32px;
    }
  }

  header.search-transparent {
    .search-results-block {
      top: 109px;
      @include media(md) {
        top: 90px;
      }
      @include media-custom(878.5px) {
        top: 84px;
      }
      @include media-custom(782.5px) {
        top: 98px;
      }
    }
  }

  @include media(md) {
    header.scrolling {
      .menu-links-container {
        top: 0;
      }
    }
  }

  @include media(xs) {
    header.scrolling {
      // top: 46 !important;
      .menu-links-container {
        top: 0;
      }
      &.search-transparent {
        .search-results-block {
          top: 52px !important;
        }
      }
    }
  }
}

.theme {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hidden {
  overflow: hidden;
}

.scroll-margin {
  scroll-margin-block: 93px;

  @include media(xs) {
    scroll-margin-block: 30px;
  }
}

.f-28-20{
  font-size: 28px;
  @include media(xs) {
    font-size: 20px;
  }
}

.f-24-18 {
  font-size: 24px;
  @include media(xs) {
    font-size: 18px;
  }
}

.f-18-16 {
  font-size: 18px;
  @include media(xs) {
    font-size: 16px;
  }
}
.f-extrabold{
  font-weight: 900;
}
.f-bold {
  font-weight: 700;
}

.block-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 2rem;
  @include media(xs) {
    padding-bottom: 20px;
  }
  h2 {
    @include media(xs) {
      max-width: 250px;
      width: 100%;
    }
  }
  &.heading-arrow {
    h2 {
      width: 100%;
    }
    .button__container {
      position: absolute;
      top: 0%;
      right: 0;
      width: auto;
      bottom: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button__container {
      @include media(sm) {
        margin-top: 0 !important;
      }
      @include media(xs) {
        display: none;
      }
    }
  }
}

.error-msg {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  @include media(sm) {
    text-align: center;
  }
}

.btn-down {
  margin-top: 20px;
  width: 100%;
  display: flex;
  > div {
    margin-top: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hidden-div {
  visibility: hidden;
  opacity: 0;
}

.flatpickr-calendar {
  * {
    font-size: 14px !important;
  }
}


.buscador__container{
  padding: 40px 0;
  @include media-down(md){
    padding: 60px;
  }
  width: 100%;
  background: rgba(76, 85, 103, 0.09);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.whatsapp-button{
  position: fixed;
  bottom: 2rem;
  right: 20px;
  background-color: #25D366;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  font-size: 2.2rem;
  transition: $fast;
  @include media(xs){
    font-size: 2rem;
    width: 50px;
    height: 50px;
  }
  &:hover{
    background-color: #1EBE5B;
  }
}


.page-404{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(sm){
    min-height: 55vh;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      font-size: 60px;
      text-align: center;
      @include media(sm){
        font-size: 40px;
      }
    }
    h2{
      font-size: 20px;
      margin-bottom: 10px;
    }
    p{
      font-size: 16px;
      text-align: center;
    }
  }
  .button__container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}