.single-body{
    h1{
        font-size: 28px;
        @include media(xs) {
            font-size: 20px;
        }
    }
    h1,h2,h3,h4,h5,h6{
        color: $dark;
        font-weight: 900;
    }
    h2,h3,h4,h5,h6{
        margin-bottom: 20px;
        font-weight: 700;
    }
    h2{
        font-size: 20px;
        @include media(sm) {
            font-size: 18px;
        }
    }
    h3,h4,h5,h6{
        font-size: 18px;

    }



    img{
        border-radius: 12px;

    }
    
    h1 + p{
        font-size: 20px;
        max-width: 446px;
        width: 100%;
        margin:  0 auto;
        padding-bottom: 60px;
        @include media(xs) {
            font-size: 1rem;
            padding-bottom: 40px;
        }
    }

    p{
        font-size: 18px;
        margin-bottom: 2rem;
        line-height: 160%;
        @include media(xs) {
            font-size: 1rem;
        }
    }

    a{
        text-decoration: underline;
        color: $green;
    }
    .empty{
        @include media(sm){
            margin-bottom: 0;
        }
    }
    .google-maps{
        margin-top: -24px;
        display: flex;
        width: 100%;
        height: 482px;
        margin-bottom: 6rem;
        @include media(sm){
          margin-top: -20px;
          margin-bottom: 4rem;
          height: 320px;
        }
        .map{
          display: flex;
          width: 100%;
          height: 100%;
        }
    }
}

.btn-archive{
    padding-top: 48px;
    @include media(xs){
        padding-top: 38px;
    }
}