<div class='progress-msg'>Wed, 30 Oct 2024 15:03:59 +0000</div>
<div class='progress-msg'>[15:03:59] Composing titles...</div>
<div class='progress-msg'>[15:03:59] Composing excerpts...</div>
<div class='progress-msg'>[15:03:59] Composing duplicate indicators...</div>
<div class='progress-msg'>[15:03:59] Composing page templates...</div>
<div class='progress-msg'>[15:03:59] Composing authors...</div>
<div class='progress-msg'>[15:03:59] Composing slugs...</div>
<div class='progress-msg'>[15:03:59] Composing menu order...</div>
<div class='progress-msg'>[15:03:59] Composing contents...</div>
<div class='progress-msg'>[15:03:59] Composing dates...</div>
<div class='progress-msg'>[15:03:59] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[15:03:59] Composing custom parameters...</div>
<div class='progress-msg'>[15:03:59] Composing URLs for images...</div>
<div class='progress-msg'>[15:03:59] Composing URLs for attachments files...</div>
<div class='progress-msg'>[15:03:59] Composing post comments...</div>
<div class='progress-msg'>[15:03:59] Composing unique keys...</div>
<div class='progress-msg'>[15:03:59] Processing posts...</div>
<div class='progress-msg'>[15:03:59] Data parsing via add-ons...</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #1</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post wasn't found with unique key ``...</div>
<div class='progress-msg'>[15:03:59] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a Merlo San Luis`</div>
<div class='progress-msg'>[15:03:59] <b>CREATING</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino`</div>
<div class='progress-msg'>[15:03:59] Associate post `Ofertas de pasajes de micro a Merlo San Luis` with current import ...</div>
<div class='progress-msg'>[15:03:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:03:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:03:59] - Custom field `titulo` will be updated with value `Ofertas de pasajes de micro a Merlo San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:03:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:03:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:03:59] - Custom field `titulo_en_negrita` will be updated with value `Merlo, San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:03:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:03:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:03:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:03:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:03:59] - Attempted to create parent Destino ubicaciones `Merlo, San Luis`, duplicate detected. Importing Destino to existing `Merlo, San Luis` ubicaciones, ID 155, slug `merlo-san-luis` ...</div>
<div class='progress-msg'>[15:03:59] <b>CREATED</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino` (ID: 1583)</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #2</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #3</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a Buenos Aires with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a Buenos Aires`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #4</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a Córdoba with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a Córdoba`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #5</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a San Juan with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a San Juan`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #6</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a La Rioja with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a La Rioja`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #7</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de San Luis a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de San Luis a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #8</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Buenos Aires a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Buenos Aires a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #9</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Córdoba a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Córdoba a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #10</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de San Juan a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de San Juan a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #11</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de La Rioja a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de La Rioja a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #12</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a Villa Mercedes with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a Villa Mercedes`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #13</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a VIlla General Belgrano with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a VIlla General Belgrano`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #14</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a Rosario with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a Rosario`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #15</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a La Plata with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a La Plata`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #16</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Merlo, San Luis a Santa Fe with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Merlo, San Luis a Santa Fe`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #17</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Villa Mercedes a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Villa Mercedes a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #18</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de VIlla General Belgrano a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de VIlla General Belgrano a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #19</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de Rosario a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Rosario a Merlo, San Luis`</div>
<div class='progress-msg'>[15:03:59] ---</div>
<div class='progress-msg'>[15:03:59] Record #20</div>
<div class='progress-msg'>[15:03:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:03:59] Combine all data for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Find corresponding article among previously imported for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:03:59] Duplicate post was found for post Pasajes de La Plata a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:03:59] <b>SKIPPED</b>: Previously imported record found for `Pasajes de La Plata a Merlo, San Luis`</div>
<div class='progress-msg'>[15:04:00] ---</div>
<div class='progress-msg'>[15:04:00] Record #21</div>
<div class='progress-msg'>[15:04:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:04:00] Combine all data for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:04:00] Find corresponding article among previously imported for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:04:00] Duplicate post was found for post Pasajes de Santa Fe a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:04:00] <b>SKIPPED</b>: Previously imported record found for `Pasajes de Santa Fe a Merlo, San Luis`</div>
<div class='progress-msg'>[15:04:00] Cleaning temporary data...</div>
