


h1{
    margin-top: 2rem;
}
table {
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
  background: white;
}
th {
  background-color: #f4f4f4;
}
#pagination {
  margin-top: 1em;
}
#pagination a {

  color: #667085;
  font-size: 14px;
  text-decoration: none;
}

#searchForm{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
#pagination{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
    align-items: center;
}

.btn-next,
.btn-prev{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2271b1 !important;

    border: 1px solid #2271b1;
    border-radius: 6px;
}
