<div class='progress-msg'>Wed, 30 Oct 2024 15:54:31 +0000</div>
<div class='progress-msg'>[15:54:31] Composing titles...</div>
<div class='progress-msg'>[15:54:31] Composing excerpts...</div>
<div class='progress-msg'>[15:54:31] Composing duplicate indicators...</div>
<div class='progress-msg'>[15:54:31] Composing page templates...</div>
<div class='progress-msg'>[15:54:31] Composing page parent...</div>
<div class='progress-msg'>[15:54:31] Composing authors...</div>
<div class='progress-msg'>[15:54:31] Composing slugs...</div>
<div class='progress-msg'>[15:54:31] Composing menu order...</div>
<div class='progress-msg'>[15:54:31] Composing contents...</div>
<div class='progress-msg'>[15:54:31] Composing dates...</div>
<div class='progress-msg'>[15:54:31] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[15:54:31] Composing custom parameters...</div>
<div class='progress-msg'>[15:54:31] Composing URLs for images...</div>
<div class='progress-msg'>[15:54:31] Composing URLs for attachments files...</div>
<div class='progress-msg'>[15:54:31] Composing post comments...</div>
<div class='progress-msg'>[15:54:31] Composing unique keys...</div>
<div class='progress-msg'>[15:54:31] Processing posts...</div>
<div class='progress-msg'>[15:54:31] Data parsing via add-ons...</div>
<div class='progress-msg'>[15:54:31] ---</div>
<div class='progress-msg'>[15:54:31] Record #1</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:31] Combine all data for post `Ofertas de pasajes de micro a mendoza`...</div>
<div class='progress-msg'>[15:54:31] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a mendoza`...</div>
<div class='progress-msg'>[15:54:31] Duplicate post wasn't found with unique key `Ofertas de pasajes de micro a mendoza`...</div>
<div class='progress-msg'>[15:54:31] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a mendoza`</div>
<div class='progress-msg'>[15:54:31] <b>CREATING</b> `Ofertas de pasajes de micro a mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:31] Associate post `Ofertas de pasajes de micro a mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:31] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo` will be updated with value `Encontrá pasajes de micro a` for post `Ofertas de pasajes de micro a mendoza` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo_en_negrita` will be updated with value `Mendoza` for post `Ofertas de pasajes de micro a mendoza` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Ofertas de pasajes de micro a mendoza` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `nivel_de_pagina` will be updated with value `` for post `Ofertas de pasajes de micro a mendoza` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:31] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:31] - Attempted to create parent Destino ubicaciones `Mendoza`, duplicate detected. Importing Destino to existing `Mendoza` ubicaciones, ID 151, slug `mendoza` ...</div>
<div class='progress-msg'>[15:54:31] <b>CREATED</b> `Ofertas de pasajes de micro a mendoza` `Destino` (ID: 1629)</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:31] ---</div>
<div class='progress-msg'>[15:54:31] Record #2</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:31] Combine all data for post `Pasajes de Córdoba a Buenos Aires`...</div>
<div class='progress-msg'>[15:54:31] Find corresponding article among previously imported for post `Pasajes de Córdoba a Buenos Aires`...</div>
<div class='progress-msg'>[15:54:31] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Buenos Aires`...</div>
<div class='progress-msg'>[15:54:31] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Buenos Aires`</div>
<div class='progress-msg'>[15:54:31] <b>CREATING</b> `Pasajes de Córdoba a Buenos Aires` `Destino`</div>
<div class='progress-msg'>[15:54:31] Associate post `Pasajes de Córdoba a Buenos Aires` with current import ...</div>
<div class='progress-msg'>[15:54:31] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Buenos Aires` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Buenos Aires` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Buenos Aires` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Buenos Aires` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:31] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:31] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:31] <b>CREATED</b> `Pasajes de Córdoba a Buenos Aires` `Destino` (ID: 1630)</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:31] ---</div>
<div class='progress-msg'>[15:54:31] Record #3</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:31] Combine all data for post `Pasajes de Córdoba a Córdoba`...</div>
<div class='progress-msg'>[15:54:31] Find corresponding article among previously imported for post `Pasajes de Córdoba a Córdoba`...</div>
<div class='progress-msg'>[15:54:31] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Córdoba`...</div>
<div class='progress-msg'>[15:54:31] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Córdoba`</div>
<div class='progress-msg'>[15:54:31] <b>CREATING</b> `Pasajes de Córdoba a Córdoba` `Destino`</div>
<div class='progress-msg'>[15:54:31] Associate post `Pasajes de Córdoba a Córdoba` with current import ...</div>
<div class='progress-msg'>[15:54:31] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Córdoba` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Córdoba` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Córdoba` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Córdoba` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:31] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:31] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:31] <b>CREATED</b> `Pasajes de Córdoba a Córdoba` `Destino` (ID: 1631)</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:31] ---</div>
<div class='progress-msg'>[15:54:31] Record #4</div>
<div class='progress-msg'>[15:54:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:31] Combine all data for post `Pasajes de Córdoba a San Rafael`...</div>
<div class='progress-msg'>[15:54:31] Find corresponding article among previously imported for post `Pasajes de Córdoba a San Rafael`...</div>
<div class='progress-msg'>[15:54:31] Duplicate post wasn't found with unique key `Pasajes de Córdoba a San Rafael`...</div>
<div class='progress-msg'>[15:54:31] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a San Rafael`</div>
<div class='progress-msg'>[15:54:31] <b>CREATING</b> `Pasajes de Córdoba a San Rafael` `Destino`</div>
<div class='progress-msg'>[15:54:31] Associate post `Pasajes de Córdoba a San Rafael` with current import ...</div>
<div class='progress-msg'>[15:54:31] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a San Rafael` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a San Rafael` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Rafael` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:31] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Rafael` ...</div>
<div class='progress-msg'>[15:54:31] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:31] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:31] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:31] <b>CREATED</b> `Pasajes de Córdoba a San Rafael` `Destino` (ID: 1632)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #5</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a Rosario`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a Rosario`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Rosario`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Rosario`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a Rosario` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a Rosario` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Rosario` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Rosario` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Rosario` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Rosario` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a Rosario` `Destino` (ID: 1633)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #6</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a San Juan`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a San Juan`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a San Juan` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a San Juan` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Juan` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a San Juan` `Destino` (ID: 1634)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #7</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Buenos Aires a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Buenos Aires a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Buenos Aires a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Buenos Aires a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Buenos Aires a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Buenos Aires a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Buenos Aires a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Buenos Aires a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Buenos Aires a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Buenos Aires a Mendoza` `Destino` (ID: 1635)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #8</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a Mendoza` `Destino` (ID: 1636)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #9</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de San Rafael a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de San Rafael a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de San Rafael a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de San Rafael a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de San Rafael a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de San Rafael a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Rafael a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Rafael a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Rafael a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Rafael a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de San Rafael a Mendoza` `Destino` (ID: 1637)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #10</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Rosario a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Rosario a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Rosario a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Rosario a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Rosario a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Rosario a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Rosario a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Rosario a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Rosario a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Rosario a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Rosario a Mendoza` `Destino` (ID: 1638)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #11</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de San Juan a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de San Juan a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de San Juan a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de San Juan a Mendoza` `Destino` (ID: 1639)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #12</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a Las Heras`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a Las Heras`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Las Heras`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Las Heras`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a Las Heras` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a Las Heras` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Las Heras` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Las Heras` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Las Heras` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a Las Heras` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a Las Heras` `Destino` (ID: 1640)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #13</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a Godoy Cruz`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a Godoy Cruz`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Godoy Cruz`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Godoy Cruz`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a Godoy Cruz` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a Godoy Cruz` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Godoy Cruz` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Godoy Cruz` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Godoy Cruz` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a Godoy Cruz` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a Godoy Cruz` `Destino` (ID: 1641)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #14</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a Maipú`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a Maipú`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Maipú`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Maipú`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a Maipú` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a Maipú` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a Maipú` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Maipú` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Maipú` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a Maipú` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a Maipú` `Destino` (ID: 1642)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #15</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a San Luis`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a San Luis`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a San Luis`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a San Luis`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a San Luis` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a San Luis` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a San Luis` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a San Luis` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Luis` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a San Luis` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a San Luis` `Destino` (ID: 1643)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #16</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Córdoba a San Martín, Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Córdoba a San Martín, Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Córdoba a San Martín, Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a San Martín, Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Córdoba a San Martín, Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Córdoba a San Martín, Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Córdoba a San Martín, Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a San Martín, Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a San Martín, Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a San Martín, Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Córdoba a San Martín, Mendoza` `Destino` (ID: 1644)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #17</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Las Heras a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Las Heras a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Las Heras a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Las Heras a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Las Heras a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Las Heras a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Las Heras a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Las Heras a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Las Heras a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Las Heras a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Las Heras a Mendoza` `Destino` (ID: 1645)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #18</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Godoy Cruz a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Godoy Cruz a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Godoy Cruz a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Godoy Cruz a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Godoy Cruz a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Godoy Cruz a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Godoy Cruz a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Godoy Cruz a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Godoy Cruz a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Godoy Cruz a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Godoy Cruz a Mendoza` `Destino` (ID: 1646)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #19</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de Maipú a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de Maipú a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de Maipú a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de Maipú a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de Maipú a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de Maipú a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de Maipú a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Maipú a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Maipú a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Maipú a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de Maipú a Mendoza` `Destino` (ID: 1647)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:32] ---</div>
<div class='progress-msg'>[15:54:32] Record #20</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:32] Combine all data for post `Pasajes de San Luis a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Find corresponding article among previously imported for post `Pasajes de San Luis a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Duplicate post wasn't found with unique key `Pasajes de San Luis a Mendoza`...</div>
<div class='progress-msg'>[15:54:32] Applying filter `pmxi_article_data` for `Pasajes de San Luis a Mendoza`</div>
<div class='progress-msg'>[15:54:32] <b>CREATING</b> `Pasajes de San Luis a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:32] Associate post `Pasajes de San Luis a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Luis a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Luis a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Luis a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:32] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Luis a Mendoza` ...</div>
<div class='progress-msg'>[15:54:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:32] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:32] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:32] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:32] <b>CREATED</b> `Pasajes de San Luis a Mendoza` `Destino` (ID: 1648)</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:33] ---</div>
<div class='progress-msg'>[15:54:33] Record #21</div>
<div class='progress-msg'>[15:54:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:54:33] Combine all data for post `Pasajes de San Martín, Mendoza a Mendoza`...</div>
<div class='progress-msg'>[15:54:33] Find corresponding article among previously imported for post `Pasajes de San Martín, Mendoza a Mendoza`...</div>
<div class='progress-msg'>[15:54:33] Duplicate post wasn't found with unique key `Pasajes de San Martín, Mendoza a Mendoza`...</div>
<div class='progress-msg'>[15:54:33] Applying filter `pmxi_article_data` for `Pasajes de San Martín, Mendoza a Mendoza`</div>
<div class='progress-msg'>[15:54:33] <b>CREATING</b> `Pasajes de San Martín, Mendoza a Mendoza` `Destino`</div>
<div class='progress-msg'>[15:54:34] Associate post `Pasajes de San Martín, Mendoza a Mendoza` with current import ...</div>
<div class='progress-msg'>[15:54:34] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:34] - Custom field `titulo` will be updated with value `` for post `Pasajes de San Martín, Mendoza a Mendoza` ...</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:34] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Martín, Mendoza a Mendoza` ...</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:34] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Martín, Mendoza a Mendoza` ...</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:54:34] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de San Martín, Mendoza a Mendoza` ...</div>
<div class='progress-msg'>[15:54:34] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:54:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:54:34] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:54:34] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:54:34] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:54:34] <b>CREATED</b> `Pasajes de San Martín, Mendoza a Mendoza` `Destino` (ID: 1649)</div>
<div class='progress-msg'>[15:54:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:54:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:54:34] Cleaning temporary data...</div>
