@font-face {
  font-family: 'montserratbold';
  src: url('#{$path-fonts}/montserrat-bold-webfont.woff2') format('woff2'),
  url('#{$path-fonts}/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserratregular';
  src:  url('#{$path-fonts}/montserrat-regular-webfont.woff2') format('woff2'),
  url('#{$path-fonts}/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: $color-black;
  background-color: $canvas-background;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a{
  text-decoration: none;
  outline: none;
}
/*! A custom normalize.css v1.1.3 for Frontalize | Default normalize.css git.io/normalize */
/* ==========================================================================
HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
picture{
  display: block;
}
/**
* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio,
canvas,
video {
  display: inline-block;
  outline: none;
}
/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
* Known issue: no IE 6 support.
*/
[hidden] {
  display: none;
}
/* ==========================================================================
Base
========================================================================== */
/**
* 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  min-height: 100vh;
  //  overflow: hidden;
}
/**
* Address `font-family` inconsistency between `textarea` and other form
* elements.
*/
html,
button,
input,
select,
textarea {
  font-family: $font-stack;
}
/**
* Address margins handled incorrectly in IE 6/7.
*/
blockquote ,
body {
  margin: 0;
}
/* ==========================================================================
Links
========================================================================== */
/**
* Address `outline` inconsistency between Chrome and other browsers.
*/
a{
  font: inherit;
  color: inherit;
  text-decoration: none;
}
*:focus {
  outline:none!important;
}
/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
Typography
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
/**
* Address styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}
/**
* Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
b,
strong {
  font-weight: bold;
}
/**
* Address styling not present in Safari 5 and Chrome.
*/
dfn {
  font-style: italic;
}
/**
* Address differences between Firefox and other browsers.
* Known issue: no IE 6/7 normalization.
*/
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
* Address styling not present in IE 6/7/8/9.
*/
mark {
  background: #ff0;
  color: #000;
}
/**
* Address margins set differently in IE 6/7.
*/
pre {
  margin: 0;
}
/**
* Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace;
  _font-family: 'courier new', monospace;
}
/**
* Address CSS quotes not supported in IE 6/7.
*/
q {
  quotes: none;
}
/**
* Address `quotes` property not supported in Safari 4.
*/
q:before,
q:after {
  content: '';
  content: none;
}
/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}
/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
Lists
========================================================================== */
/**
* Address margins set differently in IE 6/7.
*/
dd,
dl,
menu,
ol,
ul {
  margin: 0;
}
/**
* Address paddings set differently in IE 6/7.
*/
menu,
ol,
ul {
  padding: 0;
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
Embedded content
========================================================================== */
/**
* Correct overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
Figures
========================================================================== */
/**
* Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0;
}
/* ==========================================================================
Forms
========================================================================== */
/**
* Correct margin displayed oddly in IE 6/7.
*/
form {
  margin: 0;
}
/**
* Define consistent border, margin, and padding.
*/
p,
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/**
* 1. Correct color not being inherited in IE 6/7/8/9.
* 2. Correct text not wrapping in Firefox 3.
*/
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
}
/**
* 1. Correct font size not being inherited in all browsers.
* 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
*    and Chrome.
* 3. Improve appearance and consistency in all browsers.
*/
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
}
/**
* Address Firefox 3+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
button,
input {
  line-height: normal;
}
/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/
button,
select {
  text-transform: none;
}
/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Remove inner spacing in IE 7 without affecting normal text inputs.
*    Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
* 1. Address box sizing set to content-box in IE 8/9.
* 2. Remove excess padding in IE 8/9.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
* Remove inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
* 1. Remove default vertical scrollbar in IE 6/7/8/9.
* 2. Improve readability and alignment in all browsers.
*/
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
/* ==========================================================================
Custom
========================================================================== */

.btn-e{
  background-color:$color-primary;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  &:hover{
    background: $color-secondary;
  }
}
.box-shadow{
  box-shadow: 0 5px 15px rgba(74, 85, 104,0.2);
}
.br-w{
  border-right: 1px solid #FFF !important;
}

.btn-e-2{
  background-color:$color-secondary;
  color: $color-white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: $border-radius;
}
.btn {
  display: inline-block;
  a {
    background: $color-primary;
    border-radius: $border-radius;
    color: white;
    display: inline-block;
    font-family: $font-stack-bold;
    font-size: 0.875rem;
    padding: $margin;
    text-transform: uppercase;
    @extend %transition;
    &:hover {
      background: $color-secondary;
    }
  }
  &.orange{
    a {
      background: $color-secondary;
      &:hover {
        background: rgba($color-secondary,0.8);
      }
    }
  }
}
h1 {
  font-size: 1.5rem;
  font-family: $font-stack-bold;
  margin: 0 0 0.75rem 0;
}
h2 {
  font-size: 0.813rem;
  line-height: 1.4;
  margin: 0;
}
a {
  color: $color-primary;
}
/* Media query para más de 768px (md está definido en app.scss) */
@media screen and (min-width: $grid__bp-md * 1px) {
}

.dropdown {
  position: relative;
  font-size: 0.813rem;
  margin: 0 auto;
  width: auto;
  a {
    display: block;
    padding: 0.938rem 0 0.938rem 1rem;
    color: #000;
    text-decoration: none;
    padding-bottom: 0;
    padding-top: 0;
    @extend %transition;
    &:focus,
    &:hover {outline: none ;}
  }
  .fa {float: right; margin: 0 0 0 0.25rem}
  /*List*/
  ul {
    background: #fff;
    border-radius:0 0 $border-radius $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.06);
    display: none;
    overflow: hidden;
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 99;
  }
  li {
    padding: 0.75rem 1rem;
    cursor: pointer;
    @extend %transition;
    &:not(:first-child) {
      border-top: .1em solid $canvas-background;
    }
    &:focus,
    &:hover {background:rgba($canvas-background,0.5)}
    &:active {background:$canvas-background;}
  }
}