:root {
  --litepickerBgColor: #fff;
  --litepickerMonthHeaderTextColor:#151E2D!important;
  --litepickerMonthButton: #4A5568!important;
  --litepickerMonthButtonHover: #38C172!important;
  --litepickerMonthWeekdayColor:#4A5568!important;
  --litepickerDayColor:#151E2D!important;
  --litepickerDayColorHover: #38C172!important;
  --litepickerDayIsTodayColor:#FA9D1B!important;
  --litepickerDayIsInRange: #CDEFDC!important;
  --litepickerDayIsLockedColor:#808080!important;
  --litepickerDayIsBookedColor:#4A5568!important;
  --litepickerDayIsStartBg: #38C172!important;
  --litepickerDayIsEndBg:#38C172!important;
  --litepickerButtonCancelBg:#4A5568!important;
  --litepickerButtonApplyBg:#38C172!important;
  --litepickerButtonResetBtn:#4A5568!important;
  --litepickerButtonResetBtnHover:#38C172!important;
  --litepickerHighlightedDayColor:#151E2D!important;
  --litepickerHighlightedDayBg: #ffeb3b;
}
.litepicker {
  font-family: $font-stack!important;
}
#buscador {
  background: $color-grey;
  border-radius: $border-radius-2;
  color: #fff;
  @include flexbox();
  padding:  1rem ;
  margin: 0 auto 1rem auto;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0;
  @media screen and (max-width:$grid__bp-md * 1px){
    border-radius: 0;
  }
  .c-search {
    display: none;
  }
  .btn {
    display: block;
    a {
      display: block;
      text-align: center;
    }
  }
  .b-top {
    @include flexbox();
    font-size: 0.813rem;
    margin: 0 auto 1.25rem 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .btl {
      @include flexbox();
      font-size: 0.688rem;
      justify-content: space-between;
      text-transform: uppercase;
      width: 100%;
      label {
        cursor: pointer;
        @include flexbox();
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .fa-radio {
        position: relative;
        @include flexbox();
        font-family: $font-stack-bold;
      }
      .fa-radio input[type='radio'] {
        display: none;
      }
      .fa-radio input[type='radio'] + label:before {
        content: " ";
        bottom: -0.375rem;
        left: 0;
        right: 0;
        position: absolute;
        height: 2px;
      }
      .fa-radio {
        input[type=radio] + label                 { display: block; }
        input[type=radio] + label:before          {  }
        input[type=radio]:checked + label:before  {  background: $color-primary;}
        input[type=radio]:focus + label:before    {  }
      }
    }
    .btr {
      @include flexbox();
      a {
        opacity: 0.8;
        color: #fff;
        @extend %transition-opacity;
        &:hover {
          opacity: 1;
        }
        &.l-disc {
          display: none;
        }
      }
    }
  }
  .b-bot{
    & .d-arrow{
      display: none;
    }
  }
  .b-bot, .b-multi {
    @include flexbox();
    flex-direction: column;
    label{
      font-family: $font-stack-bold;
      font-size: 0.688rem;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
    }
    input{
      border-radius: $border-radius;
      border: 0;
      color: $color-black;
      display: inline-block;
      font-family: $font-stack;
      font-size: 0.875rem;
      margin: 0;
      padding: $margin;
      line-height: 1.1;
      width: 100%;
    }
    .b-group {
      @include flexbox();
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 1rem 0;
      &.bg1 {
        flex-grow: 2;
      }
      &.bg2 {
        flex-grow: 2;
      }
      &.bg3 {
        flex-grow: 2;
        flex-direction: row;
      }
      &.bg4 {
        flex-grow: 0;
      }
      &.m-disc {
        a {
          font-size: 0.75rem;
          margin: 0 auto;
          opacity: 0.8;
          color: #fff;
          @extend %transition-opacity;
          &:hover {
            opacity: 1;
          }
        }
      }
      &.iv{
        flex-direction: row;
      }
      .iv {
        @include flexbox();
        flex-direction: column;
      }
      .dropdown {
        background: #fff;
        border:1px solid #4A5568;
        border-radius: $border-radius;
        font-size: 0.938rem;
        line-height: 1.1;
        padding: 0.875rem 1rem 0.875rem 1.75rem;
        position: relative;
        color: $color-black;
        width: 100%;
        &:focus {
          border: 1px solid $color-secondary;
          outline: 0;
        }
        a {
          min-width:40px;
          padding: 0rem;
          color:$color-grey;
        }
        .fa-user {
          font-size: 0.938rem;
          color: $color-grey;
          position: absolute;
          top:0.938rem;
          left: 0.5rem;
          margin: 0
        }
        .modal-pass {
          background: #fff;
          border:1px solid $color-lightgrey;
          border-radius: $border-radius;
          box-shadow: 0 2px 2px rgba(0,0,0,0.06);
          width: 96%;
          margin: 2%;
          height: 96%;
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          padding: 1rem;
          font-size: 0.75rem;
          z-index: 10;
          a {
            min-width: 0;
          }
          .pass-inner{
            position: relative;
            .close-pass {
              position: absolute;
              top: -1.25rem;
              right: -0.5rem;
              font-size: 1rem;
              color: $color-black;
              &:hover {
                color: $color-primary;
              }
            }
          }
          .p-l {
            @include flexbox();
            margin:1rem 0 0  0;
            justify-content: space-between;
            align-items: center;
          }
          .p-c {
            @include flexbox();
            flex-direction: column;
            line-height: 1.4;
            margin: 0 0 0 0;
            strong {
              font-family: $font-stack-bold;
            }
            .counter {
              @include flexbox();
              align-items: center;
              justify-content: space-between;
              .value-button {
                display: inline-block;
                border: 1px solid $color-lightgrey;
                margin:0px;
                color: $color-primary;
                line-height: 24px;
                border-radius: 100%;
                width: 24px;
                height: 24px;
                text-align: center;
                vertical-align: middle;
                padding: 0 0;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                i {
                  float: none;
                  margin: 0;
                }
              }
              .value-button:hover {
                border: 1px solid $color-primary;
                background: $color-primary;
                color: #fff;
                cursor: pointer;
              }
              input.number {
                text-align: center;
                border: none;
                margin: 0px;
                font-size: 0.813rem;
                width: 32px;
                padding: 0;
                height: 32px;
              }
              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
          .p-actions {
            @include flexbox();
            justify-content: space-between;
            margin: 1rem 0 0 0;
            .close-pass {
              @include flexbox();  position: relative;
              top: auto;;
              right: auto;
              color: $color-grey;
              font-size: 0.75rem;
            }
            .save-pass {
              font-family: $font-stack-bold;
              @include flexbox();  color: $color-primary;
            }
          }
        }
      }
    }
    input {
      color: $color-black;
      border:1px solid $color-grey;
      font-size: 0.938rem;
      padding: 0.875rem 1rem 0.875rem 1.5rem;
      @include flexbox();
      width: 100%;
      &:focus {
        border: 1px solid $color-secondary;
        outline: 0;
      }
      &.f-desde {
        border-radius: $border-radius 0 0 $border-radius ;
        margin: 0;
        padding: 0.875rem 0.5rem 0.875rem 1.75rem;
      }
      &.f-hasta {
        padding: 0.875rem 1.5rem 0.875rem 0.75rem;
        border-radius: 0 $border-radius $border-radius 0;
      }
      &.f-desde {
        position: relative;
      }
      &#origen {
        &:focus {
          border-radius: $border-radius $border-radius $border-radius $border-radius ;
        }
      }
      &#destino {
        &:focus {
          border-radius: $border-radius $border-radius $border-radius $border-radius ;
        }
      }
    }
    .sel-origen, .sel-destino,.sel-hotel-destino , .sel-fecha {
      position: relative;
      width: 100%;
    }
    .sel-hotel-destino,
    .sel-fecha {
      @include flexbox();
    }
    .geoloc {
      position: absolute;
      top:  0.938rem;
      left: 0.5rem;
      font-size: 0.938rem;
      z-index: 1;
    }
    .sel-hotel-destino i ,
    .sel-fecha i {
      font-size: 0.938rem;
      color: $color-grey;
      position: absolute;
      top: 0.938rem;
      left: 0.5rem;
      z-index: 10;
    }
  }
  .b-multi {
    display: none;
  }
  &.multidestino .b-bot {
    display: none;
  }
  &.multidestino .b-multi {
    display: block;
    .b-submit {
      align-items: flex-end;
      @include flexbox();
      .b-group {
        margin: 0 0.5rem 0 0;
      }
    }
    .b-multi-line {
      @include flexbox();
      flex-direction: column;
      .b-line {
        @include flexbox();
        flex-direction: column;
        border-bottom: 1px solid $color-lightgrey;
        margin: 0 0 1.5rem 0;
        h3 {
          font-family: $font-stack-bold;
          margin: 0 0 1rem 0;
        }
        .b-group {
          flex: 1;
          margin: 0 0 1rem 0;
          &.bg4 {
            flex-direction: row;
            justify-content: space-between;
            a {
              color: #fff;
              font-size: 0.813rem;
              padding: 0 0 0.375rem 0;
              display: none;
              &.eliminar_tramo {
                color: $color-secondary;
              }
            }
          }
          .iv {
            width: 96%;
          }
        }
        &.first {
          .b-group.bg4 .eliminar_tramo {
            display: none;
          }
          .b-group.bg4   .agregar_tramo {
            display: block;
          }
        }
        &.last {
          .b-group.bg4 .agregar_tramo, .b-group.bg4 .eliminar_tramo {
            display: block;
          }
        }
      }
    }
    .m-disc {
      display: none;
    }
    input.f-desde {
      border-radius: $border-radius;
    }
  }
  &.hoteles,
  &.actividades {
    .b-bot {
      .b-group {
        flex-basis: auto;
        flex-grow: 1;
        width: 100%;
        margin: 0  0 1rem 0;
        .error {
          border-color: $color-red;
        }
      }
    }
  }
}
.resultados #buscador {
  display: none;
  transition: all ease 0.5;
  &.show {
    display: block;
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    height: 100vh;
    border-radius: 0;
    padding: 2.5rem 1rem 1rem 1rem;
    .c-search {
      display: block;
      position: absolute;
      top: 0.5rem;
      font-size: 1.25rem;
      right: 0.5rem;
      color: #fff;
    }
  }
}
.easy-autocomplete {
  width: 100%!important;
}
.easy-autocomplete-container {
  z-index: 15;
}
.easy-autocomplete-container ul {
  background: none;
}
.easy-autocomplete-container ul li {
  background: #fff;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
  border-color: $color-secondary;
  color: $color-black;
  font-size: 0.813rem;
  font-family: $font-stack;
  padding: 0.5rem 0.5rem;
}
.eac-description .eac-item span {
  color:rgba($color-grey,0.6);
  font-size: 0.813rem;
  font-style: normal;
}
.easy-autocomplete-container ul li b {
  font-family: $font-stack-bold;
}
.easy-autocomplete-container ul li:last-child {
  border-radius: 0 0 $border-radius $border-radius;
}
@media only screen and (min-width: 768px) {
  .resultados #buscador {
    @include flexbox();
  }
  #buscador {
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
    .b-bot {
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row;
      & .d-arrow{
        display: block;
        height: 26px;
        margin-left: 3px;
        margin-right: 3px;
      }
      .b-group {
        margin: 0;
        /* padding: 0 1rem 0 0; */
        flex-grow: 0;
        flex-basis: 100px;
        .dropdown {
          width: auto;
          .modal-pass {
            left: auto;
            top: 0;
            margin: 0;
            height: auto;
            position: absolute;
            width: 100%;
            min-width: 260px;
            right: 0;
          }
        }
        &.m-disc {
          display: none;
        }
        .sel-destino{
          input{
            width: 98%;
          }
        }
        .w-e-96{
          .sel-fecha{
            width: 96%;
          }
        }
      }
    }
    .b-top {
      .btl {
        font-size: 0.813rem;
        justify-content: initial;
        text-transform: none;
        width: auto;
        .fa-radio{
          font-family: $font-stack;
          margin: 0 1rem 0 0;
        }
        .fa-radio input[type='radio'] + label:before {
          display: inline-block;
          font-family: 'Font Awesome 5 Free';
          font-size: 0.938rem;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding-right: 8px;
          width: 20px;
          height: auto;
          position: relative;
          left: auto;
          right: auto;
          bottom: auto;
        }
        .fa-radio {
          input[type=radio] + label                 { display: block; }
          input[type=radio] + label:before          { content: "\f111"; }
          input[type=radio]:checked + label:before  { content: "\f192"; background: none;}
          input[type=radio]:focus + label:before    { content: "\f192"; }
        }
      }
      .btr {
        margin-left: auto;
        a {
          &.l-disc {
            display: inline-block;
          }
        }
      }
    }
    .btn {
      @include flexbox();
      flex-grow: 0;
      a {
        display: inline-block;
      }
    }
    &.multidestino .b-multi {
      .dropdown  .modal-pass {
        left: 0;
        top: 0;
        margin: 0;
        height: auto;
        position: absolute;
        width: 100%;
        min-width: 260px;
        right:auto;
      }
      .b-multi-line {
        .b-line {
          flex-direction: row;
          border-bottom: 0;
          margin: 0;
          h3 {
            display: none;
          }
          .b-group {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0.5rem 1rem 0;
            align-self: flex-end;
            &.bg4 {
              flex: 0 0 150px;
              flex-direction: column;
            }
          }
        }
      }
    }
    &.hoteles ,
    &.actividades {
      .b-bot {
        .b-group {
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}
