.filter-bar {
  margin: 0 auto 1rem auto;
  width: 100%;
  .filter-left{
    background: #fff;
    border:1px solid $color-lightgrey;
    border-radius: $border-radius;
    justify-content: space-around;
    font-size: 0.75rem;
    @include flexbox();
    .sel-date {
      cursor: pointer;
      @include flexbox();
      flex-direction: column;
      line-height: 1;
      padding: 0.313rem 0.75rem;
      text-align: center;
      span {
        font-family: $font-stack-bold;
        padding: 0.125rem 0 0 0;
        letter-spacing: 1px;
      }
      &.date-current {
        background: $color-secondary;
        color: #fff;
        cursor: default;
        position: relative;
        &:hover {
          background: $color-secondary;
        }
        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-top-color: $color-secondary;
          border-width: 0.5rem;
          margin-left: -0.5rem;
        }
      }
      &:hover {
        background: rgba($canvas-background,0.5);
      }
    }
  }
  .filter-right {
    @include flexbox();
    align-items: center;
    font-size: 0.813rem;
    justify-content: space-between;
    margin: 1rem 0 0 0;
    .orderby {
      @include flexbox();
      margin: 0 0 0 1rem;
      line-height: 1.1rem;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 130px;
      .dropdown {
        margin: 0;
      }
      a {
        color: $color-black;
        display: inline-block;
        font-family: $font-stack-bold;
        padding: 0;
      }
      ul {
        border-radius: $border-radius;
        top: 1.5rem;
        left: auto;
        right: 0;
        white-space: nowrap;
      }
    }
  }
  .filter {
    position: relative;
    .show-filter {
      background: #fff;
      border-radius: $border-radius;
      border: 1px solid $color-lightgrey;
      color: $color-black;
      padding: 0.813rem;
      i {
        padding: 0 0.25rem 0 0;
      }
      &:hover {
        background: rgba($color-white,0.5);
      }
    }
    .modal-filter {
      background: #fff;
      border:1px solid $color-lightgrey;
      border-radius: $border-radius;
      box-shadow: 0 2px 2px rgba(0,0,0,0.06);
      width: 96%;
      margin: 2%;
      height: 96%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      padding: 1rem;
      font-size: 0.75rem;
      z-index: 10;
      .filter-inner{
        position: relative;
        .close-filter {
          position: absolute;
          top: -0.5rem;
          right: -0.5rem;
          font-size: 1rem;
          color: $color-black;
          &:hover {
            color: $color-primary;
          }
        }
      }
      .f-t {
        display: block;
        font-family: $font-stack-bold;
        margin: 0 0 0.75rem 0;
      }
      .range {
        margin: 2.5rem 0 1.5rem 0;
        padding: 0 0.375rem;
        width: 100%;
      }
      .fr {
        @include flexbox();
        flex-wrap: wrap;
        margin: 0 0 1rem 0;
        label {
          cursor: pointer;
          @include flexbox();
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
        }
        .fa-radio{
          margin: 0 0.5rem 0 0;
          position: relative;
        }
        .fa-radio input[type='radio'] {
          display: none;
        }
        .fa-radio input[type='radio'] + label:before {
          display: inline-block;
          color: $color-lightgrey;
          font-family: 'Font Awesome 5 Free';
          font-size: 0.75rem;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding-right: 4px;
          width: 16px;
        }
        .fa-radio {
          input[type=radio] + label                 { display: block; }
          input[type=radio] + label:before          { content: "\f111"; }
          input[type=radio]:checked + label:before  { content: "\f192"; color:  $color-primary;}
          input[type=radio]:focus + label:before    { content: "\f192"; color:  $color-primary;}
        }
      }
      .f-actions {
        @include flexbox();
        justify-content: space-between;
        .close-filter {
          @include flexbox();  position: relative;
          top: auto;;
          right: auto;
          color: $color-grey;
          font-size: 0.75rem;
        }
        .do-filter {
          font-family: $font-stack-bold;
          @include flexbox();  color: $color-primary;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .filter-bar {
    align-items: center;
    @include flexbox();
    justify-content: space-between;
    .filter-left {
      justify-content: initial;
      font-size: 0.813rem;
    }
    .filter-right {
      margin: 0;
      justify-content: initial;
      .modal-filter {
        left: auto;
        top: 1.75rem;
        height: auto;
        position: absolute;
        width: 100%;
        min-width: 380px;
        right: 0;
      }
    }
  }
}
