footer{
  background-color: $color-white;
  font-size: 0.813rem;
  padding: 2rem 0 1rem 0;
  a {
    color: $color-black;
    &:hover{
      color:$color-primary;
    }
  }
  .cont-footer{
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-lightgrey;
    @include flexbox();
    flex-wrap: wrap;
    .ml-auto-footer{
      margin-left: auto;
    }
    
    .cont-list-foo{
      width: 44%;
      margin-bottom: 2rem;
      h4{
        font-size: 0.813rem;
        font-family: $font-stack-bold;
        margin: 0 0 0.75rem 0;
      }
      .redes{
        @include flexbox();
        li{
          margin: 0 1rem 0 0;
          svg{
            height: 25px;
            fill: $color-black;
            &:hover{
              fill:$color-primary;
            }
          }
        }
      }
      li{
        font-size: 0.813rem;
        margin: 0 0 0.75rem 0;
        button{
          font-size: 0.75rem;
          padding: 0.5rem 0.75rem;
          &:hover{
            background: rgba($color-secondary,0.8);
          }
        }
      }
    }
  }
  .b-footer{
    padding: 1.5rem 0 0 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    .logo-footer{
      margin-top: 1.5rem;
      img{
        height: 40px;
      }
    }
    a{
    padding: 0 0.5rem;
  }
  }
  
  @media screen and (min-width: $grid__bp-md * 1px) {
    padding: 1rem;
    padding: 3rem 5rem;
    padding-bottom: 1rem;
    .cont-footer{
      padding-bottom: 3rem;
      .ml-auto-footer{
        margin-left: 0rem;
      }
      .cont-list-foo{
        width: 25% !important;
        margin-bottom: 0rem;
        li{
          button{
            margin: 0.5rem 0 0 0;
          }
        }
      }
    }
    .b-footer{
      justify-content: space-between;
      flex-direction: row;
      .logo-footer{
        margin-top: 0rem;
      }
    }
  }
}
.fixed {
  position: fixed;;
  bottom: 1rem;
  right: 1rem;
  z-index: 999999;
  &.whatsapp {

    a {
      background: #25d366;
    @include flexbox();
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    width: 2.75rem;
    padding: 0.675rem;
    svg {
      fill:#fff;
      height: auto;
      width: 100%;
    }
  }
  }
}
