

@use "sass:math";

$map-grid-props: (
'': 0,
'-sm': $grid__bp-sm,
'-md': $grid__bp-md,
'-lg': $grid__bp-lg,
'-xl': $grid__bp-xl,
'-xxl': $grid__bp-xxl
);

@mixin create-mq($breakpoint, $min-or-max) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint, 'min') {
    &__col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: math.div(100, math.div($grid-cols, $i))  * 1%;
      }
      &__col#{$modifier}-offset-#{$i} {
        margin-left: math.div(100, math.div($grid-cols, $i))  * 1%;
      }
    }
  }
}

@each $modifier , $breakpoint in $map-grid-props {
  @if($modifier == '') {
    $modifier: '-xs';
  }
  @include create-mq($breakpoint - 1, 'max') {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.container {
  max-width: $grid__bp-lg * 1px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

@media screen and (min-width: $grid__bp-xl * 1px) {
  .container {
    max-width: ($grid__bp-xl * 1px) - 64px;
    padding: 0;
  }
}
// @media screen and (min-width: $grid__bp-xxl * 1px) {
//   .container {
//     max-width: ($grid__bp-xxl * 1px) - 64px;
//     padding: 0;
//   }
// }
@media screen and (max-width: $grid__bp-lg * 1px) {
  .container {
    max-width: $grid__bp-lg * 1px;
  }
}
@media screen and (max-width: $grid__bp-md * 1px) {
  .container {
    max-width: $grid__bp-md * 1px;
  }
}
