#newsletter{
    background-color: $color-grey;
    padding :3rem 0;
    align-items: center;
    text-align: center;
    position: relative;
    h2{
        color: $color-white;
        font-family: $font-stack-bold;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        position: relative;
        z-index: 3;
    }
    svg{
        height: 95%;
        @include flexbox();
        position: absolute;
        top: 5%;
        right: 20%;
        z-index: 1;
    }
    #form{
        @include flexbox();
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-white;
        border-radius: 5px;
        position: relative;
        z-index: 3;
        .letter-content{
            @include flexbox();
            padding: 8px;
            .img-letter{
                margin: auto;
            }
        }
        .input-form{
            border: none;
            width: 20rem;
        }
        .btn-e{
            border-radius: 0px 5px 5px 0px;
        }
    }
    @media screen and (max-width:$grid__bp-md * 1px){
        h2{
            margin-left: auto;
            margin-right: auto;
        }
        svg{
            right:0;
            height: 50%;
        }
        #form{
            .input-form{
                width: 10rem;
            }
            .letter-content{
                padding: 7px;
            }
            .btn-e{
                padding: 10px 5px;

              }
        }
    }
    @media screen and (min-width:$grid__bp-md * 1px){
    padding: 4rem 0;
}

}
