.right {
  padding:  0 0 2rem 0;
  .block {
    background: #fff;
    border: 1px solid $color-lightgrey;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    border-radius:$border-radius;
    color: $color-black;
    font-size: 0.813rem;
    margin: 0 0 1rem 0;
    padding: 1.5rem 1rem;
    h3 {
      font-family: $font-stack-bold;
      font-size: 0.938rem;
      margin:  0 0 0.5rem 0;
    }
    p {
      font-size: 0.813rem;
      margin: 0 0 1rem 0;
    }
    .l-item {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      margin: 0 0 0.75rem 0;
      a {
        color: $color-grey;
        &:hover {
          color: $color-primary;
        }
      }
      .cont-icon {
        width: 48px;
        height: 48px;
        background: #E5E7EB;
        border-radius: 100%;
        padding: 0.75rem;
        &.bus {
          .icon {
            background: #E5E7EB url(../img/icons/bus.svg) center center no-repeat;
            background-size: contain;
            height: 100%;
            opacity: 0.6;
          }
        }
        
      }
      &.l-c {
        justify-content: flex-start;
        .c-1 {
          width: auto;
        }
        .c-2 {
          display: flex;
          flex-direction: column;
          padding: 0 1rem;
          color: #4A5568;
          font-size: 0.75rem;
          justify-content: center;
          width: 100%;
          .emp {
            display: flex;
            margin: 0 0 0.25rem;
            align-items: center;
            img {
              margin: 0 0.25rem 0.15rem 0;
              max-height: 25px;
              max-width: 140px;
              width: auto;
            }
          }
        }
      }
    }
    .tot {
      border-top: 1px solid $color-lightgrey;
      @include flexbox();
      font-size: 0.938rem;
      font-family: $font-stack-bold;
      padding: 0.75rem 0;
      justify-content: space-between;
      .tot-col {
        @include flexbox();
        align-items: flex-end;
      }
      .total {
        font-size: 1.25rem;
        letter-spacing: 1px;
        span {
          font-size: 0.813rem;
        }
      }
    }
    .detalle_tramo {
      border-bottom: 1px solid $color-lightgrey;
      &:last-child {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
  .btn {
    display: block;
    a {
      display: block;
      font-size: 0.938rem;
      text-align: center;
    }
    &.t-type {
      position: relative;
      a {
        background: #E5E7EB;
        color: #151E2D;
        display: block;
        font-family: "montserratregular";
        font-size: 0.813rem;
        min-width: 117px;
        padding: 0.813rem 1rem 0.813rem 0.813rem;
        position: relative;
        text-transform: none;
        justify-content: space-between;
        z-index: 9;
        &.active {
          color: #fff;
background: #FA9D1B;
border-radius: 6px 6px 0 0;
&:hover {
  color: #fff;
    background: #FA9D1B;
}
&:after {
      content: "\f106";
}
        }
        &:after {
          position: absolute;
          top: 0.813rem;
          right: 1rem;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: "\f107";
          z-index: 10;
        }}
    
    }
    &.disabled {
      a {
        background: $color-lightgrey;
        color: rgba($color-grey,0.35);
      cursor: default;
    }
    }
  }
  .infobox {
    margin: 1.5rem 0 1rem 0;
    h5 {
      color: $color-black;
      font-family: $font-stack-bold;
      font-size: 0.75rem;
      margin: 0 0 0.5rem 0;
      padding: 0 0 0 1rem;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Font Awesome 5 Free';
        color: $color-secondary;
        font-weight: 900;
        content: "\f071";
        z-index: 10;
      }
    }
    p {
      color: $color-black;
      font-size: 0.75rem;
      line-height: 1.6;
      margin: 0 0 0.5rem 0;
    }
  }
  .banner {
    height: 250px;
    width: 100%;
    background: $color-lightgrey;
  }
}
