$grid__bp-sm: 300;
$grid__bp-ssm:321;
$grid__bp-md: 768;
$grid__bp-lg: 1000;
$grid__bp-xl: 1064;
$grid__bp-xxl: 1720;
$grid__cols: 12;

$path-fonts: "../fonts";
$path-images: "../img";

$font-stack: 'montserratregular';
$font-stack-bold: 'montserratbold';

$border-radius: 6px;
$border-radius-2: 0px 0px 6px 6px;

$color-black: #151E2D;
$color-grey: #4A5568; // #B7BBC3
$color-mediumgrey: #C8CACF;
$color-lightgrey: #E5E7EB;
$color-white:#fff;
$color-primary: #38C172;
$color-secondary: #FA9D1B;
$color-red: #DC272D;
$canvas-background: #F4F5F7;
$asiento-cama: #F45B69;
$asiento-cama-promo: #774C60;
$asiento-semi-cama: #4ECDC4;
$asiento-semi-cama-promo: #124559;

$margin: 1rem;
%transition {transition: background .2s ease;}
%transition-opacity {transition: opacity .2s ease;}
%transition-transform {transition: transform .2s ease;}
%transition-all {transition: all 1s ease;}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@import 'easy-autocomplete.scss';
@import 'font-awesome';

@import 'grid';
@import 'base';
@import 'header';
@import 'home';
@import 'buscador';
@import 'modal';
@import 'forms';
@import 'newsletter';
@import 'footer';
