* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.bg-gray{
    background-color: #F4F5F7;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #F3E9E8;
}

.overflow-hidden {
    overflow: hidden;
}

/* TEXT */

.bold{
    font-family: "montserratbold" !important;
}
.title-h2{
    font-size: 36px;
}
@media(max-width:768px){
    .title-h2{
        font-size: 32px;
    }
}
.white-space-pre{
    white-space: pre;
}
@media(max-width:991px){
    .white-space-pre {
        white-space: unset !important;
    }
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-white {
    color: #fff;
}

.text-cblack {
    color: #000;
}

.uppercase{
    text-transform: uppercase;
}

/* /TEXT */

/* 
BREAKDOWN
- mobile-xs 480 - 575
- mobile:   576 - 767
- tab:      768 - 991
- desk:     992 - 1199
- desk-lg: 1200 - 
*/

/* SHOW - HIDDEN */
@media screen and (max-width: 480px) {
    .hidden-xs-down {
        display: none !important;
    }
}

.hidden-xs-up {
    display: none !important;
}

@media screen and (max-width: 575px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media screen and (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media screen and (min-width: 991px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media screen and (max-width: 1199px) {
    .hidden-xl-down {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}

/* GRID */
.col-1 {
    width: 8.33333333%;
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.33333333% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        width: 8.33333333% !important;
    }
}

.col-2 {
    width: 16.6666666%;
}

@media screen and (min-width: 768px) {
    .col-md-2 {
        width: 16.6666666% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-2 {
        width: 16.6666666% !important;
    }
}

.col-3 {
    width: 24.9999999%;
}

@media screen and (min-width: 768px) {
    .col-md-3 {
        width: 24.9999999% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-3 {
        width: 24.9999999% !important;
    }
}



.col-5 {
    width: 41.666666%;
}

@media screen and (min-width: 768px) {
    .col-md-5 {
        width: 41.666666% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-5 {
        width: 41.666666% !important;
    }
}

.col-6 {
    width: 50%;
}

@media screen and (min-width: 768px) {
    .col-md-6 {
        width: 50% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-6 {
        width: 50% !important;
    }
}

.col-7 {
    width: 58.33333333%;
}

@media screen and (min-width: 768px) {
    .col-md-7 {
        width: 58.33333333% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-7 {
        width: 58.33333333% !important;
    }
}

.col-8 {
    width: 66.66666666%;
}

@media screen and (min-width: 768px) {
    .col-md-8 {
        width: 66.66666666% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-8 {
        width: 66.66666666% !important;
    }
}

.col-9 {
    width: 75%;
}

@media screen and (min-width: 768px) {
    .col-md-9 {
        width: 75% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-9 {
        width: 75% !important;
    }
}

.col-10 {
    width: 83.33333333%;
}

@media screen and (min-width: 768px) {
    .col-md-10 {
        width: 83.33333333% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-10 {
        width: 83.33333333% !important;
    }
}

.col-11 {
    width: 91.66666666%;
}

@media screen and (min-width: 768px) {
    .col-md-11 {
        width: 91.66666666% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-11 {
        width: 91.66666666% !important;
    }
}

.col-12 {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .col-md-12 {
        width: 100% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-12 {
        width: 100% !important;
    }
}

.col-4 {
    width: 33.3333333%;
}

@media screen and (min-width: 768px) {
    .col-md-4 {
        width: 33.3333333% !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-4 {
        width: 33.3333333% !important;
    }
}
/* /GRID */

/* /SHOW - HIDDEN */
.d-none {
    display: none !important;
}

/* FLEX */
.d-flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.col {
    flex-direction: column;
}

.col-reverse {
    flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
    .col-md {
        flex-direction: column !important;
    }

    .col-reverse-md {
        flex-direction: column-reverse;
    }
}
@media screen and (min-width: 992px) {
    .col-lg {
        flex-direction: column !important;
    }

    .col-reverse-lg {
        flex-direction: column-reverse;
    }
}

.row {
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
    .row-md {
        flex-direction: row !important;
    }

    .row-reverse-md {
        flex-direction: row-reverse;
    }
}
@media screen and (min-width: 992px) {
    .row-lg {
        flex-direction: row !important;
    }

    .row-reverse-lg {
        flex-direction: row-reverse;
    }
}


@media screen and (min-width: 768px) {
    .row-md-reverse {
        flex-direction: row-reverse !important;
    }
}

.justify-content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

/* /FLEX */
/* POSITION */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/* /POSITION */
/* MARGIN */
.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}
@media(min-width:992px){
    .ml-md-auto {
        margin-left: auto !important;
    }
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.t-0 {
    top: 0;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

.r-0 {
    right: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

/* /MARGIN */

/* Weight */
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-1200 {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


/* CUSTOM CSS */
/* .section-1{
    min-height: 100vh;
} */
.section-1 .w-1200{
    padding: 7rem 3rem 3rem 3rem;
}
.title-h2{
    margin-bottom: 3rem;
}
.card{
    width: 19%;
    padding: 2rem 0;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(74,85,104,.2);
    transition: .3s;
}
.card:hover{
    transform: scale(1.05);
}
.card h4{
    font-size: 18px;
    line-height: 24px;
    margin-top: .75rem;
}
.card svg{
    height: 5rem;
    width: 5rem;
}
.content-deco svg{
    height: 10vw;
}
@media(max-width:768px){
    .section-1 .w-1200{
        padding: 2rem 1rem 0 1rem;
    }
    .card{
        width: 48%;
        padding: 1rem 0;
        margin-bottom: .75rem;
    }
    .card h4{
        font-size: 16px;
        line-height: 22px;
    }   
}
#newsletter{
    display: none !important;
}
