<div class='progress-msg'>Wed, 30 Oct 2024 15:26:58 +0000</div>
<div class='progress-msg'>[15:26:58] Composing titles...</div>
<div class='progress-msg'>[15:26:58] Composing excerpts...</div>
<div class='progress-msg'>[15:26:58] Composing duplicate indicators...</div>
<div class='progress-msg'>[15:26:58] Composing page templates...</div>
<div class='progress-msg'>[15:26:58] Composing authors...</div>
<div class='progress-msg'>[15:26:58] Composing slugs...</div>
<div class='progress-msg'>[15:26:58] Composing menu order...</div>
<div class='progress-msg'>[15:26:58] Composing contents...</div>
<div class='progress-msg'>[15:26:58] Composing dates...</div>
<div class='progress-msg'>[15:26:58] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[15:26:58] Composing custom parameters...</div>
<div class='progress-msg'>[15:26:58] Composing URLs for images...</div>
<div class='progress-msg'>[15:26:58] Composing URLs for attachments files...</div>
<div class='progress-msg'>[15:26:58] Composing post comments...</div>
<div class='progress-msg'>[15:26:58] Composing unique keys...</div>
<div class='progress-msg'>[15:26:58] Processing posts...</div>
<div class='progress-msg'>[15:26:58] Data parsing via add-ons...</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #1</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a Merlo San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Ofertas de pasajes de micro a Merlo San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Ofertas de pasajes de micro a Merlo San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `Merlo, San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - Attempted to create parent Destino ubicaciones `Merlo, San Luis`, duplicate detected. Importing Destino to existing `Merlo, San Luis` ubicaciones, ID 155, slug `merlo-san-luis` ...</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino` (ID: 1587)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #2</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a San Luis` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a San Luis` `Destino` (ID: 1588)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #3</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Buenos Aires`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a Buenos Aires` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a Buenos Aires` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Buenos Aires` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a Buenos Aires` `Destino` (ID: 1589)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #4</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Córdoba`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a Córdoba` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a Córdoba` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Córdoba` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a Córdoba` `Destino` (ID: 1590)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #5</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a San Juan`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a San Juan` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a San Juan` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a San Juan` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a San Juan` `Destino` (ID: 1591)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #6</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a La Rioja`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a La Rioja` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a La Rioja` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a La Rioja` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a La Rioja` `Destino` (ID: 1592)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #7</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de San Luis a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de San Luis a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de San Luis a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de San Luis a Merlo, San Luis` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de San Luis a Merlo, San Luis` `Destino` (ID: 1593)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #8</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Buenos Aires a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Buenos Aires a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Buenos Aires a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Buenos Aires a Merlo, San Luis` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Buenos Aires a Merlo, San Luis` `Destino` (ID: 1594)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #9</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Córdoba a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Córdoba a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Córdoba a Merlo, San Luis` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Córdoba a Merlo, San Luis` `Destino` (ID: 1595)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #10</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de San Juan a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de San Juan a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Merlo, San Luis` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de San Juan a Merlo, San Luis` `Destino` (ID: 1596)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #11</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de La Rioja a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de La Rioja a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de La Rioja a Merlo, San Luis` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `1` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de La Rioja a Merlo, San Luis` `Destino` (ID: 1597)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #12</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Villa Mercedes`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a Villa Mercedes` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a Villa Mercedes` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Villa Mercedes` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a Villa Mercedes` `Destino` (ID: 1598)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #13</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a VIlla General Belgrano`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a VIlla General Belgrano` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a VIlla General Belgrano` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a VIlla General Belgrano` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a VIlla General Belgrano` `Destino` (ID: 1599)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #14</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Rosario`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a Rosario` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a Rosario` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Rosario` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a Rosario` `Destino` (ID: 1600)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #15</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a La Plata`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a La Plata` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a La Plata` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a La Plata` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a La Plata` `Destino` (ID: 1601)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #16</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Santa Fe`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Merlo, San Luis a Santa Fe` `Destino`</div>
<div class='progress-msg'>[15:26:59] Associate post `Pasajes de Merlo, San Luis a Santa Fe` with current import ...</div>
<div class='progress-msg'>[15:26:59] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Santa Fe` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `tipo_de_pagina` will be updated with value `1` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:26:59] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:26:59] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:26:59] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:26:59] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:26:59] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:26:59] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:26:59] <b>CREATED</b> `Pasajes de Merlo, San Luis a Santa Fe` `Destino` (ID: 1602)</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:26:59] ---</div>
<div class='progress-msg'>[15:26:59] Record #17</div>
<div class='progress-msg'>[15:26:59] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:26:59] Combine all data for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Find corresponding article among previously imported for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Duplicate post wasn't found with unique key `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:26:59] Applying filter `pmxi_article_data` for `Pasajes de Villa Mercedes a Merlo, San Luis`</div>
<div class='progress-msg'>[15:26:59] <b>CREATING</b> `Pasajes de Villa Mercedes a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:27:00] Associate post `Pasajes de Villa Mercedes a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:27:00] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo` will be updated with value `Pasajes de Villa Mercedes a Merlo, San Luis` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:27:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:27:00] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:27:00] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:27:00] <b>CREATED</b> `Pasajes de Villa Mercedes a Merlo, San Luis` `Destino` (ID: 1603)</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:27:00] ---</div>
<div class='progress-msg'>[15:27:00] Record #18</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:27:00] Combine all data for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Find corresponding article among previously imported for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Duplicate post wasn't found with unique key `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Applying filter `pmxi_article_data` for `Pasajes de VIlla General Belgrano a Merlo, San Luis`</div>
<div class='progress-msg'>[15:27:00] <b>CREATING</b> `Pasajes de VIlla General Belgrano a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:27:00] Associate post `Pasajes de VIlla General Belgrano a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:27:00] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo` will be updated with value `Pasajes de VIlla General Belgrano a Merlo, San Luis` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:27:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:27:00] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:27:00] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:27:00] <b>CREATED</b> `Pasajes de VIlla General Belgrano a Merlo, San Luis` `Destino` (ID: 1604)</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:27:00] ---</div>
<div class='progress-msg'>[15:27:00] Record #19</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:27:00] Combine all data for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Find corresponding article among previously imported for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Duplicate post wasn't found with unique key `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Applying filter `pmxi_article_data` for `Pasajes de Rosario a Merlo, San Luis`</div>
<div class='progress-msg'>[15:27:00] <b>CREATING</b> `Pasajes de Rosario a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:27:00] Associate post `Pasajes de Rosario a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:27:00] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo` will be updated with value `Pasajes de Rosario a Merlo, San Luis` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:27:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:27:00] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:27:00] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:27:00] <b>CREATED</b> `Pasajes de Rosario a Merlo, San Luis` `Destino` (ID: 1605)</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:27:00] ---</div>
<div class='progress-msg'>[15:27:00] Record #20</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:27:00] Combine all data for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Find corresponding article among previously imported for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Duplicate post wasn't found with unique key `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:00] Applying filter `pmxi_article_data` for `Pasajes de La Plata a Merlo, San Luis`</div>
<div class='progress-msg'>[15:27:00] <b>CREATING</b> `Pasajes de La Plata a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:27:00] Associate post `Pasajes de La Plata a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:27:00] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo` will be updated with value `Pasajes de La Plata a Merlo, San Luis` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:00] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:00] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:27:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:27:00] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:27:00] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:27:00] <b>CREATED</b> `Pasajes de La Plata a Merlo, San Luis` `Destino` (ID: 1606)</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:27:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:27:01] ---</div>
<div class='progress-msg'>[15:27:01] Record #21</div>
<div class='progress-msg'>[15:27:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:27:01] Combine all data for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:01] Find corresponding article among previously imported for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:01] Duplicate post wasn't found with unique key `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:27:01] Applying filter `pmxi_article_data` for `Pasajes de Santa Fe a Merlo, San Luis`</div>
<div class='progress-msg'>[15:27:01] <b>CREATING</b> `Pasajes de Santa Fe a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:27:01] Associate post `Pasajes de Santa Fe a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:27:01] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:01] - Custom field `titulo` will be updated with value `Pasajes de Santa Fe a Merlo, San Luis` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:01] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:01] - Custom field `tipo_de_pagina` will be updated with value `0` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:27:01] - Custom field `nivel_de_pagina` will be updated with value `0` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:27:01] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:27:01] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:27:01] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:27:01] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:27:01] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:27:01] <b>CREATED</b> `Pasajes de Santa Fe a Merlo, San Luis` `Destino` (ID: 1607)</div>
<div class='progress-msg'>[15:27:01] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:27:01] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:27:01] Cleaning temporary data...</div>
