<div class='progress-msg'>Wed, 30 Oct 2024 15:10:20 +0000</div>
<div class='progress-msg'>[15:10:20] Composing titles...</div>
<div class='progress-msg'>[15:10:20] Composing excerpts...</div>
<div class='progress-msg'>[15:10:20] Composing duplicate indicators...</div>
<div class='progress-msg'>[15:10:20] Composing page templates...</div>
<div class='progress-msg'>[15:10:20] Composing authors...</div>
<div class='progress-msg'>[15:10:20] Composing slugs...</div>
<div class='progress-msg'>[15:10:20] Composing menu order...</div>
<div class='progress-msg'>[15:10:20] Composing contents...</div>
<div class='progress-msg'>[15:10:20] Composing dates...</div>
<div class='progress-msg'>[15:10:20] Composing terms for `Ubicaciones` taxonomy...</div>
<div class='progress-msg'>[15:10:20] Composing custom parameters...</div>
<div class='progress-msg'>[15:10:20] Composing URLs for images...</div>
<div class='progress-msg'>[15:10:20] Composing URLs for attachments files...</div>
<div class='progress-msg'>[15:10:20] Composing post comments...</div>
<div class='progress-msg'>[15:10:20] Composing unique keys...</div>
<div class='progress-msg'>[15:10:20] Processing posts...</div>
<div class='progress-msg'>[15:10:20] Data parsing via add-ons...</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #1</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Ofertas de pasajes de micro a Merlo San Luis`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post wasn't found with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Ofertas de pasajes de micro a Merlo San Luis`</div>
<div class='progress-msg'>[15:10:20] <b>CREATING</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:20] Associate post `Ofertas de pasajes de micro a Merlo San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:20] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo` will be updated with value `Ofertas de pasajes de micro a Merlo San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo_en_negrita` will be updated with value `Merlo, San Luis` for post `Ofertas de pasajes de micro a Merlo San Luis` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:20] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:20] - Attempted to create parent Destino ubicaciones `Merlo, San Luis`, duplicate detected. Importing Destino to existing `Merlo, San Luis` ubicaciones, ID 155, slug `merlo-san-luis` ...</div>
<div class='progress-msg'>[15:10:20] <b>CREATED</b> `Ofertas de pasajes de micro a Merlo San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #2</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Luis`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post was found for post Pasajes de Merlo, San Luis a San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Deleting attachments for `Pasajes de Merlo, San Luis a San Luis`</div>
<div class='progress-msg'>[15:10:20] Deleting images for `Pasajes de Merlo, San Luis a San Luis`</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a San Luis`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATING</b> `Pasajes de Merlo, San Luis a San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:20] Associate post `Pasajes de Merlo, San Luis a San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:20] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:20] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a San Luis` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a San Luis` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:20] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:20] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATED</b> `Pasajes de Merlo, San Luis a San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #3</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Buenos Aires`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post was found for post Pasajes de Merlo, San Luis a Buenos Aires with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Deleting attachments for `Pasajes de Merlo, San Luis a Buenos Aires`</div>
<div class='progress-msg'>[15:10:20] Deleting images for `Pasajes de Merlo, San Luis a Buenos Aires`</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Buenos Aires`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATING</b> `Pasajes de Merlo, San Luis a Buenos Aires` `Destino`</div>
<div class='progress-msg'>[15:10:20] Associate post `Pasajes de Merlo, San Luis a Buenos Aires` with current import ...</div>
<div class='progress-msg'>[15:10:20] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:20] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a Buenos Aires` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a Buenos Aires` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a Buenos Aires` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Buenos Aires` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Buenos Aires` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:20] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:20] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATED</b> `Pasajes de Merlo, San Luis a Buenos Aires` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #4</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Córdoba`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post was found for post Pasajes de Merlo, San Luis a Córdoba with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Deleting attachments for `Pasajes de Merlo, San Luis a Córdoba`</div>
<div class='progress-msg'>[15:10:20] Deleting images for `Pasajes de Merlo, San Luis a Córdoba`</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Córdoba`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATING</b> `Pasajes de Merlo, San Luis a Córdoba` `Destino`</div>
<div class='progress-msg'>[15:10:20] Associate post `Pasajes de Merlo, San Luis a Córdoba` with current import ...</div>
<div class='progress-msg'>[15:10:20] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:20] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a Córdoba` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a Córdoba` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a Córdoba` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Córdoba` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Córdoba` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:20] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:20] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATED</b> `Pasajes de Merlo, San Luis a Córdoba` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #5</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a San Juan`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post was found for post Pasajes de Merlo, San Luis a San Juan with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Deleting attachments for `Pasajes de Merlo, San Luis a San Juan`</div>
<div class='progress-msg'>[15:10:20] Deleting images for `Pasajes de Merlo, San Luis a San Juan`</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a San Juan`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATING</b> `Pasajes de Merlo, San Luis a San Juan` `Destino`</div>
<div class='progress-msg'>[15:10:20] Associate post `Pasajes de Merlo, San Luis a San Juan` with current import ...</div>
<div class='progress-msg'>[15:10:20] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:20] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a San Juan` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a San Juan` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a San Juan` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a San Juan` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:20] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a San Juan` ...</div>
<div class='progress-msg'>[15:10:20] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:20] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:20] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:20] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:20] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATED</b> `Pasajes de Merlo, San Luis a San Juan` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:20] ---</div>
<div class='progress-msg'>[15:10:20] Record #6</div>
<div class='progress-msg'>[15:10:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:20] Combine all data for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:10:20] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Rioja`...</div>
<div class='progress-msg'>[15:10:20] Duplicate post was found for post Pasajes de Merlo, San Luis a La Rioja with unique key ``...</div>
<div class='progress-msg'>[15:10:20] Deleting attachments for `Pasajes de Merlo, San Luis a La Rioja`</div>
<div class='progress-msg'>[15:10:20] Deleting images for `Pasajes de Merlo, San Luis a La Rioja`</div>
<div class='progress-msg'>[15:10:20] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a La Rioja`</div>
<div class='progress-msg'>[15:10:20] <b>UPDATING</b> `Pasajes de Merlo, San Luis a La Rioja` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a La Rioja` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a La Rioja` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a La Rioja` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a La Rioja` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a La Rioja` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a La Rioja` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a La Rioja` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #7</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de San Luis a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de San Luis a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de San Luis a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de San Luis a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de San Luis a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de San Luis a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de San Luis a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de San Luis a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de San Luis a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de San Luis a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de San Luis a Merlo, San Luis` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Luis a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de San Luis a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #8</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Buenos Aires a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Buenos Aires a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Buenos Aires a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Buenos Aires a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Buenos Aires a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Buenos Aires a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Buenos Aires a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Buenos Aires a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Buenos Aires a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Buenos Aires a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Buenos Aires a Merlo, San Luis` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Buenos Aires a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Buenos Aires a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #9</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Córdoba a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Córdoba a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Córdoba a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Córdoba a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Córdoba a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Córdoba a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Córdoba a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Córdoba a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Córdoba a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Córdoba a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Córdoba a Merlo, San Luis` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Córdoba a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Córdoba a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #10</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de San Juan a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de San Juan a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de San Juan a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de San Juan a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de San Juan a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de San Juan a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de San Juan a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de San Juan a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de San Juan a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de San Juan a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de San Juan a Merlo, San Luis` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de San Juan a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de San Juan a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #11</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de La Rioja a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de La Rioja a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de La Rioja a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de La Rioja a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de La Rioja a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de La Rioja a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de La Rioja a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de La Rioja a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de La Rioja a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de La Rioja a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de La Rioja a Merlo, San Luis` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Rioja a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de La Rioja a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #12</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Villa Mercedes`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Merlo, San Luis a Villa Mercedes with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Merlo, San Luis a Villa Mercedes`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Merlo, San Luis a Villa Mercedes`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Villa Mercedes`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Merlo, San Luis a Villa Mercedes` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a Villa Mercedes` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a Villa Mercedes` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a Villa Mercedes` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a Villa Mercedes` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Villa Mercedes` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Villa Mercedes` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a Villa Mercedes` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #13</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a VIlla General Belgrano`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Merlo, San Luis a VIlla General Belgrano with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Merlo, San Luis a VIlla General Belgrano`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Merlo, San Luis a VIlla General Belgrano`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a VIlla General Belgrano`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Merlo, San Luis a VIlla General Belgrano` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a VIlla General Belgrano` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a VIlla General Belgrano` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a VIlla General Belgrano` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a VIlla General Belgrano` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a VIlla General Belgrano` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a VIlla General Belgrano` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a VIlla General Belgrano` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #14</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Rosario`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Merlo, San Luis a Rosario with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Merlo, San Luis a Rosario`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Merlo, San Luis a Rosario`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Rosario`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Merlo, San Luis a Rosario` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a Rosario` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a Rosario` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a Rosario` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a Rosario` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Rosario` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Rosario` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a Rosario` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #15</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a La Plata`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Merlo, San Luis a La Plata with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Merlo, San Luis a La Plata`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Merlo, San Luis a La Plata`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a La Plata`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Merlo, San Luis a La Plata` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a La Plata` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a La Plata` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a La Plata` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a La Plata` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a La Plata` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a La Plata` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a La Plata` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #16</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Merlo, San Luis a Santa Fe`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Merlo, San Luis a Santa Fe with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Merlo, San Luis a Santa Fe`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Merlo, San Luis a Santa Fe`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Merlo, San Luis a Santa Fe`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Merlo, San Luis a Santa Fe` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Merlo, San Luis a Santa Fe` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Merlo, San Luis a Santa Fe` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Merlo, San Luis a Santa Fe` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Merlo, San Luis a Santa Fe` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Merlo, San Luis a Santa Fe` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Merlo, San Luis a Santa Fe` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Merlo, San Luis a Santa Fe` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #17</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Villa Mercedes a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Villa Mercedes a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Villa Mercedes a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Villa Mercedes a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Villa Mercedes a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Villa Mercedes a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Villa Mercedes a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Villa Mercedes a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Villa Mercedes a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Villa Mercedes a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Villa Mercedes a Merlo, San Luis` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Villa Mercedes a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Villa Mercedes a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #18</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de VIlla General Belgrano a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de VIlla General Belgrano a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de VIlla General Belgrano a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de VIlla General Belgrano a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de VIlla General Belgrano a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de VIlla General Belgrano a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de VIlla General Belgrano a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de VIlla General Belgrano a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de VIlla General Belgrano a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de VIlla General Belgrano a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de VIlla General Belgrano a Merlo, San Luis` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de VIlla General Belgrano a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de VIlla General Belgrano a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #19</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de Rosario a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de Rosario a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de Rosario a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de Rosario a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de Rosario a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de Rosario a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de Rosario a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de Rosario a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de Rosario a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de Rosario a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de Rosario a Merlo, San Luis` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Rosario a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de Rosario a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:21] ---</div>
<div class='progress-msg'>[15:10:21] Record #20</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:21] Combine all data for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Find corresponding article among previously imported for post `Pasajes de La Plata a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:21] Duplicate post was found for post Pasajes de La Plata a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:21] Deleting attachments for `Pasajes de La Plata a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Deleting images for `Pasajes de La Plata a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] Applying filter `pmxi_article_data` for `Pasajes de La Plata a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATING</b> `Pasajes de La Plata a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:21] Associate post `Pasajes de La Plata a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:21] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:21] - Custom field titulo has been deleted for `Pasajes de La Plata a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field titulo_en_negrita has been deleted for `Pasajes de La Plata a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - Custom field _wp_page_template has been deleted for `Pasajes de La Plata a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo` will be updated with value `Pasajes de La Plata a Merlo, San Luis` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:21] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de La Plata a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:21] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:21] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:21] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:21] <b>UPDATED</b> `Pasajes de La Plata a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:23] ---</div>
<div class='progress-msg'>[15:10:23] Record #21</div>
<div class='progress-msg'>[15:10:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[15:10:23] Combine all data for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:23] Find corresponding article among previously imported for post `Pasajes de Santa Fe a Merlo, San Luis`...</div>
<div class='progress-msg'>[15:10:23] Duplicate post was found for post Pasajes de Santa Fe a Merlo, San Luis with unique key ``...</div>
<div class='progress-msg'>[15:10:23] Deleting attachments for `Pasajes de Santa Fe a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:23] Deleting images for `Pasajes de Santa Fe a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:23] Applying filter `pmxi_article_data` for `Pasajes de Santa Fe a Merlo, San Luis`</div>
<div class='progress-msg'>[15:10:23] <b>UPDATING</b> `Pasajes de Santa Fe a Merlo, San Luis` `Destino`</div>
<div class='progress-msg'>[15:10:23] Associate post `Pasajes de Santa Fe a Merlo, San Luis` with current import ...</div>
<div class='progress-msg'>[15:10:23] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[15:10:23] - Custom field titulo has been deleted for `Pasajes de Santa Fe a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:23] - Custom field titulo_en_negrita has been deleted for `Pasajes de Santa Fe a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:23] - Custom field _wp_page_template has been deleted for `Pasajes de Santa Fe a Merlo, San Luis` attempted to `update all custom fields` setting ...</div>
<div class='progress-msg'>[15:10:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:23] - Custom field `titulo` will be updated with value `Pasajes de Santa Fe a Merlo, San Luis` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:23] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[15:10:23] - Custom field `titulo_en_negrita` will be updated with value `` for post `Pasajes de Santa Fe a Merlo, San Luis` ...</div>
<div class='progress-msg'>[15:10:23] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[15:10:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[15:10:23] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[15:10:23] - Importing taxonomy `ubicaciones` ...</div>
<div class='progress-msg'>[15:10:23] - <b>WARNING</b>: `Es necesario asignar un nombre a este término.`</div>
<div class='progress-msg'>[15:10:23] <b>UPDATED</b> `Pasajes de Santa Fe a Merlo, San Luis` `Destino` (ID: 1584)</div>
<div class='progress-msg'>[15:10:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[15:10:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[15:10:23] Cleaning temporary data...</div>
