footer{
    padding-bottom: 30px;
    z-index: 50;
    position: relative;
    .footer__social-media-content{
        width: 350px;
        height: 171px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin-top: -58px;
        margin: 0 auto;
        background-color: $white;
        z-index: 100;
        padding-top: 19px;
        position: relative;
        top: -4rem;
        margin-bottom: -3rem;
        @include media(xs){
            top: -3rem;
            width: 238.47px;
            height: 116.51px;
            margin-bottom: -1rem;
        }
        .logo {
          width: 204px;
            @include media(xs){
                width: 154.67px;
            }
        }

        .footer__logos-wrapper {
          margin-top: 20px;
          gap: 23px;
          display: flex;
          flex-direction: row;
          @include media(xs){
            gap: 10px;
          }
          a {

            i{
                font-size: 26px;
                @include media(xs){
                    font-size: 20px;
                }
            }
          }
        }
    }
    .content-wrapper{
        border-top: 1px solid $input-border;
        padding: 53px 0;
        @include media(xs){
            padding: 40px 0;
        }
        #menu-menu{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style: none;
            gap: 30px;
            @include media(md){
                grid-template-columns: repeat(3, 1fr);
            }
            @include media(xs){
                grid-template-columns: repeat(2, 1fr);
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 10px;
                    @include media(xs){
                        margin-bottom: 5px;
                    }
                    &.link__container:not(.button){
                        a{
                            &:hover{
                                text-decoration: underline;
                                text-underline-offset: 6px;
                                text-decoration-thickness: 1.5px;
                        
                            }
                        }
                    }
                }
                a{
                    font-size: 14px;
                    @include media(xs){
                        font-size: 12px;
                    }
                }
            }
            .drop-btn{
                a{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    @include media(xs){
                        font-size: 12px;
                    }
                }
                i{
                    display: none;
                }
                margin-bottom: 10px;
            }
        }
    }
    .button{
        margin-top: 40px;
        @include media(xs){
            margin-top: 20px;
        }
        a{
            background: $orange;
            color: $white;
            border-color: $orange;
            padding: 12px 24px;
            border-radius: 6px;
            font-weight: 700;
            text-transform: uppercase;
            transition: $fast;
            &:hover{
                background: $green-solid;
                border-color: $green-solid;
            }
        }

    }
    .copyright{
        width: 100%;
        text-align: center;
        font-size: 12px;
        @include media(md){
            font-size: 12px;
        }
    }
}