.disclaimer {
    background-color: $black-secondary;
    color: $white;
    display: flex;
    justify-content: center;
    height: 31.72px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
    picture,img {
      width: 13px;
      height: 13px;

    }
  
    p {
      margin-left: 10px;
      font-size: 12px;
      line-height: 14px;
      @include media(xs){
        font-size: 10px;
      }
    }
}
header{
    background: $header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .container {
        text-transform: uppercase;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 77px;
        position: relative;
        width: 100%;
        @include media(sm){
            height: 50px;
        }
        .header__logo-container,
        .logo-mobile{
            display: flex;
            width: 174px;
            align-items: center;
            cursor: pointer;
            @include media(sm){
                width: 117px;
            }
        }
        .heading-wrapper{
            display: none;
            padding-left: 2rem;
            padding-right: 2rem;
            justify-content: space-between;
            align-items: center;
            height: 77px;
  
            @include media(sm){
                height: 50px;
            }
            @include media(md){
                display: flex;
                background: $white;
            }
            @include media(sm){
                // height: 55px;
                width: 100%;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        a{
            color: $white;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            transition: $fast;
            &:hover{

                color: $gray;
            }
        }
        .menu{
            list-style: none;
            display: flex;
            gap: 34px;
            @include media(md){
                gap: 0;
            }
            .dropdown{
                position: relative;
                .drop-btn{
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    i{
                        font-size: 12px;
                        transition: $fast;
                    }
                    &:hover{
                        @include media-down(md){
                            a{
                                // color: $orange;
                                color: $gray;
                            }
                            i{
                                // color: $orange;
                                color: $gray;
                            }
                        }

                    }
                }
                ul{
                    position: absolute;
                    list-style: none;
                    background: $header;
                    top: 51px;
                    min-width: 220px;
                    visibility: hidden;
                    opacity: 0;
                    z-index: -1;
                    transition: $slow;
                    @include media-down(md){
                        background: $header-trans;
                    }
                    @include media(md){
                        top: 0;
                        transition: 0s;
                    }
                    li{
                        display: flex;
                        flex-direction: column;
                        transition: $fast;
                        cursor: pointer;

                        border-bottom: 1px solid $gray-lines;
                        a{
                            padding: .4rem 1.5rem;
                        }
                    }
                }
                &:hover{
                    ul{
                        @include media-down(md){
                            opacity: 1;
                            visibility: visible;
                            z-index: 88;
                       
                        }


                    }
                }
                &.dropdown-active{
                    @include media(md){
                        ul{
                            opacity: 1;
                            visibility: visible;
                            z-index: 88;
                            position: relative;
                            min-width: auto;
                        }
                    }

                }
            }
        }

        .menu-links-container{
            .heading-wrapper{
                background-color: $white;
            }
            @include media(md){
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 88;
                min-height: 100dvh;
                background: $header;
                .menu__container{
                    .dropdown{
                        padding: 1rem 2rem;
                        border-bottom: 1px solid $gray-lines;
                        @include media(md){
                            padding: 1rem 2rem;
                        }
                        @include media(sm){
                            padding: 1rem 25px;
                        }
                        .drop-btn{
                            justify-content: space-between;
                            a{
                                width: 90%;
                            }
                            i{
                            
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                @include media(md){
                                    width: 20px;
                                }

                            }
                        }
                        .body-links{
                        
                            li{
                                padding: 0;
                                &:last-child{
                                    border-bottom: 0;
                                    
                                    a{
                                        border-bottom: 0;
                                        padding-bottom: 0;
                                    }
                                }
                               a{
                                padding: .6rem 14px;
                                font-size: 12px;
                               }
                            }
                        }
                    }
                }
                .menu{
                    flex-direction: column;
                    
                }
            }
        }
    }
}

header{
    @include media(md){
        .container{
            .menu-links-container{
                // transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                // transform: scale(0);
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                ul{
                    li{
                        // transition: all 250ms 250ms;
                        &:nth-child(odd) {
                            // transform: translateX(30%);
                          }
                        &:nth-child(even) {
                            // transform: translateX(-30%);
                        }
                    }
                }
                &.act{
                    opacity: 1;
                    // transform: scale(1);
                    visibility: visible;
                    z-index: 999;
                    // ul li {
                    //   opacity: 1;
                    // //   transform: translateX(0);
                    // }
                }

            }
        }

    }
}